In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv("ACSDT5Y2020.B25081-Data.csv")
data.head()

,GEO_ID,NAME,B25081_001E,B25081_001M,B25081_002E,B25081_002M,B25081_003E,B25081_003M,B25081_004E,B25081_004M,...,B25081_005M,B25081_006E,B25081_006M,B25081_007E,B25081_007M,B25081_008E,B25081_008M,B25081_009E,B25081_009M,Unnamed: 20
0,Geography,Geographic Area Name,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!Housing units with a mortgag...,Margin of Error!!Total:!!Housing units with a ...,Estimate!!Total:!!Housing units with a mortgag...,Margin of Error!!Total:!!Housing units with a ...,Estimate!!Total:!!Housing units with a mortgag...,Margin of Error!!Total:!!Housing units with a ...,...,Margin of Error!!Total:!!Housing units with a ...,Estimate!!Total:!!Housing units with a mortgag...,Margin of Error!!Total:!!Housing units with a ...,Estimate!!Total:!!Housing units with a mortgag...,Margin of Error!!Total:!!Housing units with a ...,Estimate!!Total:!!Housing units with a mortgag...,Margin of Error!!Total:!!Housing units with a ...,Estimate!!Total:!!Housing units without a mort...,Margin of Error!!Total:!!Housing units without...,NaN
1,1500000US290019501001,"Block Group 1, Census Tract 9501, Adair County...",435,79,190,52,177,49,13,13,...,12,13,13,0,12,0,12,245,69,NaN
2,1500000US290019501002,"Block Group 2, Census Tract 9501, Adair County...",453,84,188,65,160,68,28,25,...,12,17,17,11,16,0,12,265,63,NaN
3,1500000US290019501003,"Block Group 3, Census Tract 9501, Adair County...",303,58,139,39,128,38,11,11,...,12,5,6,6,10,0,12,164,47,NaN
4,1500000US290019502001,"Block Group 1, Census Tract 9502, Adair County...",259,55,100,42,98,41,2,3,...,12,0,12,2,3,0,12,159,44,NaN

In [2]:
data[['BLOCK_GROUP', 'CENSUS_TRACT', 'COUNTIES', 'STATE']] = data['NAME'].str.split(',', expand=True)
data.drop(columns=['NAME'], inplace=True)
data['BLOCK_GROUP'] = data['BLOCK_GROUP'].str.strip()
data['CENSUS_TRACT'] = data['CENSUS_TRACT'].str.replace('County', '').str.strip()
data['COUNTIES'] = data['COUNTIES'].str.strip()
data['STATE'] = data['STATE'].str.strip()
data.head()

,GEO_ID,B25081_001E,B25081_001M,B25081_002E,B25081_002M,B25081_003E,B25081_003M,B25081_004E,B25081_004M,B25081_005E,...,B25081_007M,B25081_008E,B25081_008M,B25081_009E,B25081_009M,Unnamed: 20,BLOCK_GROUP,CENSUS_TRACT,COUNTIES,STATE
0,Geography,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!Housing units with a mortgag...,Margin of Error!!Total:!!Housing units with a ...,Estimate!!Total:!!Housing units with a mortgag...,Margin of Error!!Total:!!Housing units with a ...,Estimate!!Total:!!Housing units with a mortgag...,Margin of Error!!Total:!!Housing units with a ...,Estimate!!Total:!!Housing units with a mortgag...,...,Margin of Error!!Total:!!Housing units with a ...,Estimate!!Total:!!Housing units with a mortgag...,Margin of Error!!Total:!!Housing units with a ...,Estimate!!Total:!!Housing units without a mort...,Margin of Error!!Total:!!Housing units without...,NaN,Geographic Area Name,None,None,None
1,1500000US290019501001,435,79,190,52,177,49,13,13,0,...,12,0,12,245,69,NaN,Block Group 1,Census Tract 9501,Adair County,Missouri
2,1500000US290019501002,453,84,188,65,160,68,28,25,0,...,16,0,12,265,63,NaN,Block Group 2,Census Tract 9501,Adair County,Missouri
3,1500000US290019501003,303,58,139,39,128,38,11,11,0,...,10,0,12,164,47,NaN,Block Group 3,Census Tract 9501,Adair County,Missouri
4,1500000US290019502001,259,55,100,42,98,41,2,3,0,...,3,0,12,159,44,NaN,Block Group 1,Census Tract 9502,Adair County,Missouri

In [3]:
data = data[['GEO_ID', 'BLOCK_GROUP', 'CENSUS_TRACT', 'COUNTIES', 'STATE'] + 
            [col for col in data.columns if col not in ['GEO_ID', 'BLOCK_GROUP', 'CENSUS_TRACT',
                                                        'COUNTIES', 'STATE']]]
data.head()

,GEO_ID,BLOCK_GROUP,CENSUS_TRACT,COUNTIES,STATE,B25081_001E,B25081_001M,B25081_002E,B25081_002M,B25081_003E,...,B25081_005M,B25081_006E,B25081_006M,B25081_007E,B25081_007M,B25081_008E,B25081_008M,B25081_009E,B25081_009M,Unnamed: 20
0,Geography,Geographic Area Name,None,None,None,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!Housing units with a mortgag...,Margin of Error!!Total:!!Housing units with a ...,Estimate!!Total:!!Housing units with a mortgag...,...,Margin of Error!!Total:!!Housing units with a ...,Estimate!!Total:!!Housing units with a mortgag...,Margin of Error!!Total:!!Housing units with a ...,Estimate!!Total:!!Housing units with a mortgag...,Margin of Error!!Total:!!Housing units with a ...,Estimate!!Total:!!Housing units with a mortgag...,Margin of Error!!Total:!!Housing units with a ...,Estimate!!Total:!!Housing units without a mort...,Margin of Error!!Total:!!Housing units without...,NaN
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,435,79,190,52,177,...,12,13,13,0,12,0,12,245,69,NaN
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,453,84,188,65,160,...,12,17,17,11,16,0,12,265,63,NaN
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,303,58,139,39,128,...,12,5,6,6,10,0,12,164,47,NaN
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,259,55,100,42,98,...,12,0,12,2,3,0,12,159,44,NaN

In [4]:
new_headers = data.iloc[0, 5:].tolist()
new_headers = ['GEO_ID', 'BLOCK_GROUP', 'CENSUS_TRACT', 'COUNTIES', 'STATE'] + new_headers
data.columns = new_headers
data = data.drop(index=0)
data.head()

,GEO_ID,BLOCK_GROUP,CENSUS_TRACT,COUNTIES,STATE,Estimate!!Total:,Margin of Error!!Total:,"Estimate!!Total:!!Housing units with a mortgage, contract to purchase, or similar debt:","Margin of Error!!Total:!!Housing units with a mortgage, contract to purchase, or similar debt:","Estimate!!Total:!!Housing units with a mortgage, contract to purchase, or similar debt:!!Housing units with no second mortgage and no home equity loan",...,"Margin of Error!!Total:!!Housing units with a mortgage, contract to purchase, or similar debt:!!Housing units with multiple mortgages:!!Mortgage with both second mortgage and home equity loan","Estimate!!Total:!!Housing units with a mortgage, contract to purchase, or similar debt:!!Housing units with multiple mortgages:!!Mortgage, with only home equity loan","Margin of Error!!Total:!!Housing units with a mortgage, contract to purchase, or similar debt:!!Housing units with multiple mortgages:!!Mortgage, with only home equity loan","Estimate!!Total:!!Housing units with a mortgage, contract to purchase, or similar debt:!!Housing units with multiple mortgages:!!Mortgage, with only second mortgage","Margin of Error!!Total:!!Housing units with a mortgage, contract to purchase, or similar debt:!!Housing units with multiple mortgages:!!Mortgage, with only second mortgage","Estimate!!Total:!!Housing units with a mortgage, contract to purchase, or similar debt:!!Home equity loan without a primary mortgage","Margin of Error!!Total:!!Housing units with a mortgage, contract to purchase, or similar debt:!!Home equity loan without a primary mortgage",Estimate!!Total:!!Housing units without a mortgage,Margin of Error!!Total:!!Housing units without a mortgage,NaN
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,435,79,190,52,177,...,12,13,13,0,12,0,12,245,69,NaN
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,453,84,188,65,160,...,12,17,17,11,16,0,12,265,63,NaN
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,303,58,139,39,128,...,12,5,6,6,10,0,12,164,47,NaN
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,259,55,100,42,98,...,12,0,12,2,3,0,12,159,44,NaN
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,332,76,113,40,96,...,12,14,13,3,5,0,12,219,75,NaN

In [5]:
def clean_column_name(column_name):
    column_name = str(column_name)
    column_name = column_name.replace("!!", "_")
    column_name = column_name.replace(" ", "_")
    column_name = column_name.lower()
    column_name = ''.join(char if char.isalnum() or char == '_' else '' for char in column_name)
    return column_name

cleaned_column_names = [clean_column_name(col) for col in data.columns]
data.columns = cleaned_column_names
data.head()

,geo_id,block_group,census_tract,counties,state,estimate_total,margin_of_error_total,estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt,margin_of_error_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt,estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_no_second_mortgage_and_no_home_equity_loan,...,margin_of_error_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages_mortgage_with_both_second_mortgage_and_home_equity_loan,estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages_mortgage_with_only_home_equity_loan,margin_of_error_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages_mortgage_with_only_home_equity_loan,estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages_mortgage_with_only_second_mortgage,margin_of_error_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages_mortgage_with_only_second_mortgage,estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_home_equity_loan_without_a_primary_mortgage,margin_of_error_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_home_equity_loan_without_a_primary_mortgage,estimate_total_housing_units_without_a_mortgage,margin_of_error_total_housing_units_without_a_mortgage,nan
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,435,79,190,52,177,...,12,13,13,0,12,0,12,245,69,NaN
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,453,84,188,65,160,...,12,17,17,11,16,0,12,265,63,NaN
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,303,58,139,39,128,...,12,5,6,6,10,0,12,164,47,NaN
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,259,55,100,42,98,...,12,0,12,2,3,0,12,159,44,NaN
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,332,76,113,40,96,...,12,14,13,3,5,0,12,219,75,NaN

In [6]:
if 'nan' in data.columns:
    data = data.drop(columns=['nan'])
data.head()

,geo_id,block_group,census_tract,counties,state,estimate_total,margin_of_error_total,estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt,margin_of_error_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt,estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_no_second_mortgage_and_no_home_equity_loan,...,estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages_mortgage_with_both_second_mortgage_and_home_equity_loan,margin_of_error_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages_mortgage_with_both_second_mortgage_and_home_equity_loan,estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages_mortgage_with_only_home_equity_loan,margin_of_error_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages_mortgage_with_only_home_equity_loan,estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages_mortgage_with_only_second_mortgage,margin_of_error_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages_mortgage_with_only_second_mortgage,estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_home_equity_loan_without_a_primary_mortgage,margin_of_error_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_home_equity_loan_without_a_primary_mortgage,estimate_total_housing_units_without_a_mortgage,margin_of_error_total_housing_units_without_a_mortgage
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,435,79,190,52,177,...,0,12,13,13,0,12,0,12,245,69
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,453,84,188,65,160,...,0,12,17,17,11,16,0,12,265,63
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,303,58,139,39,128,...,0,12,5,6,6,10,0,12,164,47
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,259,55,100,42,98,...,0,12,0,12,2,3,0,12,159,44
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,332,76,113,40,96,...,0,12,14,13,3,5,0,12,219,75

In [7]:
data.describe()

,geo_id,block_group,census_tract,counties,state,estimate_total,margin_of_error_total,estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt,margin_of_error_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt,estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_no_second_mortgage_and_no_home_equity_loan,...,estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages_mortgage_with_both_second_mortgage_and_home_equity_loan,margin_of_error_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages_mortgage_with_both_second_mortgage_and_home_equity_loan,estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages_mortgage_with_only_home_equity_loan,margin_of_error_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages_mortgage_with_only_home_equity_loan,estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages_mortgage_with_only_second_mortgage,margin_of_error_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages_mortgage_with_only_second_mortgage,estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_home_equity_loan_without_a_primary_mortgage,margin_of_error_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_home_equity_loan_without_a_primary_mortgage,estimate_total_housing_units_without_a_mortgage,margin_of_error_total_housing_units_without_a_mortgage
count,5031,5031,5031,5031,5031,5031,5031,5031,5031,5031,...,5031,5031,5031,5031,5031,5031,5031,5031,5031,5031
unique,5031,7,1286,115,1,862,297,637,275,571,...,32,43,149,121,78,86,59,69,409,231
top,1500000US290950090005,Block Group 1,Census Tract 9601,St. Louis County,Missouri,0,12,0,12,0,...,0,12,0,12,0,12,0,12,0,12
freq,1,1654,60,748,5031,78,78,126,129,138,...,4852,4858,2245,2318,3709,3752,4727,4736,156,164

In [8]:
data.columns.tolist()

['geo_id',
 'block_group',
 'census_tract',
 'counties',
 'state',
 'estimate_total',
 'margin_of_error_total',
 'estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt',
 'margin_of_error_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt',
 'estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_no_second_mortgage_and_no_home_equity_loan',
 'margin_of_error_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_no_second_mortgage_and_no_home_equity_loan',
 'estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages',
 'margin_of_error_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages',
 'estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages_mortgage_with_both_second_mortgage_and_home_equity_loan',
 'margin_of_error_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages_mortgage_with_both_second_mortgage_and_home_equity_loan',
 'estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages_mortgage_with_only_home_equity_loan',
 'margin_of_error_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages_mortgage_with_only_home_equity_loan',
 'estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages_mortgage_with_only_second_mortgage',
 'margin_of_error_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages_mortgage_with_only_second_mortgage',
 'estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_home_equity_loan_without_a_primary_mortgage',
 'margin_of_error_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_home_equity_loan_without_a_primary_mortgage',
 'estimate_total_housing_units_without_a_mortgage',
 'margin_of_error_total_housing_units_without_a_mortgage']

In [9]:
column_mapping = {
    'geo_id': 'geo_id',
    'block_group': 'block_group',
    'census_tract': 'census_tract',
    'counties': 'county',
    'state': 'state',
    'estimate_total': 'est_total',
    'margin_of_error_total': 'moe_total',
    'estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt': 'est_mortgage_debt',
    'margin_of_error_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt': 'moe_mortgage_debt',
    'estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_no_second_mortgage_and_no_home_equity_loan': 'est_no_second_mortgage_no_loan',
    'margin_of_error_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_no_second_mortgage_and_no_home_equity_loan': 'moe_no_second_mortgage_no_loan',
    'estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages': 'est_multiple_mortgages',
    'margin_of_error_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages': 'moe_multiple_mortgages',
    'estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages_mortgage_with_both_second_mortgage_and_home_equity_loan': 'est_both_second_mortgage_and_loan',
    'margin_of_error_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages_mortgage_with_both_second_mortgage_and_home_equity_loan': 'moe_both_second_mortgage_and_loan',
    'estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages_mortgage_with_only_home_equity_loan': 'est_only_home_equity_loan',
    'margin_of_error_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages_mortgage_with_only_home_equity_loan': 'moe_only_home_equity_loan',
    'estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages_mortgage_with_only_second_mortgage': 'est_only_second_mortgage',
    'margin_of_error_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages_mortgage_with_only_second_mortgage': 'moe_only_second_mortgage',
    'estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_home_equity_loan_without_a_primary_mortgage': 'est_home_equity_loan_only',
    'margin_of_error_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_home_equity_loan_without_a_primary_mortgage': 'moe_home_equity_loan_only',
    'estimate_total_housing_units_without_a_mortgage': 'est_without_mortgage',
    'margin_of_error_total_housing_units_without_a_mortgage': 'moe_without_mortgage'
}

data.rename(columns=column_mapping, inplace=True)
print("Column names after renaming:")
print(data.columns)

numeric_columns = [
    'est_total',
    'moe_total',
    'est_mortgage_debt',
    'moe_mortgage_debt',
    'est_no_second_mortgage_no_loan',
    'moe_no_second_mortgage_no_loan',
    'est_multiple_mortgages',
    'moe_multiple_mortgages',
    'est_both_second_mortgage_and_loan',
    'moe_both_second_mortgage_and_loan',
    'est_only_home_equity_loan',
    'moe_only_home_equity_loan',
    'est_only_second_mortgage',
    'moe_only_second_mortgage',
    'est_home_equity_loan_only',
    'moe_home_equity_loan_only',
    'est_without_mortgage',
    'moe_without_mortgage'
]

missing_columns = [col for col in numeric_columns if col not in data.columns]
if missing_columns:
    print(f"These columns are missing after renaming: {missing_columns}")
else:
    data.replace(['**', '***'], np.nan, inplace=True)
    data[numeric_columns] = data[numeric_columns].replace({',': '', '-': np.nan, r'\+': ''}, regex=True)
    data[numeric_columns] = data[numeric_columns].apply(pd.to_numeric, errors='raise')
    
data.fillna('', inplace=True)
if 'nan' in data.columns:
    data.drop(columns=['nan'], inplace=True)
data.head()

Column names after renaming:
Index(['geo_id', 'block_group', 'census_tract', 'county', 'state', 'est_total',
       'moe_total', 'est_mortgage_debt', 'moe_mortgage_debt',
       'est_no_second_mortgage_no_loan', 'moe_no_second_mortgage_no_loan',
       'est_multiple_mortgages', 'moe_multiple_mortgages',
       'est_both_second_mortgage_and_loan',
       'moe_both_second_mortgage_and_loan', 'est_only_home_equity_loan',
       'moe_only_home_equity_loan', 'est_only_second_mortgage',
       'moe_only_second_mortgage', 'est_home_equity_loan_only',
       'moe_home_equity_loan_only', 'est_without_mortgage',
       'moe_without_mortgage'],
      dtype='object')

,geo_id,block_group,census_tract,county,state,est_total,moe_total,est_mortgage_debt,moe_mortgage_debt,est_no_second_mortgage_no_loan,...,est_both_second_mortgage_and_loan,moe_both_second_mortgage_and_loan,est_only_home_equity_loan,moe_only_home_equity_loan,est_only_second_mortgage,moe_only_second_mortgage,est_home_equity_loan_only,moe_home_equity_loan_only,est_without_mortgage,moe_without_mortgage
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,435,79,190,52,177,...,0,12,13,13,0,12,0,12,245,69
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,453,84,188,65,160,...,0,12,17,17,11,16,0,12,265,63
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,303,58,139,39,128,...,0,12,5,6,6,10,0,12,164,47
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,259,55,100,42,98,...,0,12,0,12,2,3,0,12,159,44
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,332,76,113,40,96,...,0,12,14,13,3,5,0,12,219,75

In [10]:
data['year'] = 2020
data.head()

,geo_id,block_group,census_tract,county,state,est_total,moe_total,est_mortgage_debt,moe_mortgage_debt,est_no_second_mortgage_no_loan,...,moe_both_second_mortgage_and_loan,est_only_home_equity_loan,moe_only_home_equity_loan,est_only_second_mortgage,moe_only_second_mortgage,est_home_equity_loan_only,moe_home_equity_loan_only,est_without_mortgage,moe_without_mortgage,year
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,435,79,190,52,177,...,12,13,13,0,12,0,12,245,69,2020
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,453,84,188,65,160,...,12,17,17,11,16,0,12,265,63,2020
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,303,58,139,39,128,...,12,5,6,6,10,0,12,164,47,2020
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,259,55,100,42,98,...,12,0,12,2,3,0,12,159,44,2020
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,332,76,113,40,96,...,12,14,13,3,5,0,12,219,75,2020

In [12]:
data.describe()

,est_total,moe_total,est_mortgage_debt,moe_mortgage_debt,est_no_second_mortgage_no_loan,moe_no_second_mortgage_no_loan,est_multiple_mortgages,moe_multiple_mortgages,est_both_second_mortgage_and_loan,moe_both_second_mortgage_and_loan,est_only_home_equity_loan,moe_only_home_equity_loan,est_only_second_mortgage,moe_only_second_mortgage,est_home_equity_loan_only,moe_home_equity_loan_only,est_without_mortgage,moe_without_mortgage,year
count,5031.000000,5031.000000,5031.000000,5031.000000,5031.000000,5031.000000,5031.000000,5031.000000,5031.000000,5031.000000,5031.000000,5031.000000,5031.000000,5031.000000,5031.000000,5031.000000,5031.000000,5031.000000,5031.0
mean,325.456967,98.856689,199.078314,81.469092,177.797456,78.438481,20.253031,24.325581,0.405088,12.198768,15.764659,21.602266,4.083284,14.580004,1.027827,12.816537,126.378652,65.573047,2020.0
std,198.402587,51.451600,147.218348,48.184055,130.041473,47.086754,28.268462,21.467200,3.066928,3.263852,24.739941,19.238997,10.496161,10.648846,7.703684,9.589918,84.044294,40.039719,0.0
min,0.000000,3.000000,0.000000,3.000000,0.000000,3.000000,0.000000,2.000000,0.000000,2.000000,0.000000,2.000000,0.000000,2.000000,0.000000,2.000000,0.000000,4.000000,2020.0
25%,185.500000,66.000000,93.000000,50.000000,83.000000,47.000000,0.000000,12.000000,0.000000,12.000000,0.000000,12.000000,0.000000,12.000000,0.000000,12.000000,64.000000,41.000000,2020.0
50%,290.000000,89.000000,165.000000,73.000000,149.000000,70.000000,11.000000,14.000000,0.000000,12.000000,6.000000,12.000000,0.000000,12.000000,0.000000,12.000000,114.000000,58.000000,2020.0
75%,435.000000,121.000000,272.000000,102.000000,244.000000,99.000000,29.000000,31.000000,0.000000,12.000000,22.000000,26.000000,2.000000,12.000000,0.000000,12.000000,173.500000,81.000000,2020.0
max,1439.000000,523.000000,1132.000000,522.000000,975.000000,522.000000,229.000000,255.000000,85.000000,136.000000,229.000000,255.000000,171.000000,183.000000,236.000000,352.000000,735.000000,511.000000,2020.0

In [14]:
new_data = data.loc[:, ~data.columns.str.contains("second_mortgage", case=False)]
print("New DataFrame without 'second_mortgage' columns:")
print(new_data.head())
print("Columns in the new DataFrame:")
print(new_data.columns)

New DataFrame without 'second_mortgage' columns:
                  geo_id    block_group       census_tract        county  \
1  1500000US290019501001  Block Group 1  Census Tract 9501  Adair County
2  1500000US290019501002  Block Group 2  Census Tract 9501  Adair County
3  1500000US290019501003  Block Group 3  Census Tract 9501  Adair County
4  1500000US290019502001  Block Group 1  Census Tract 9502  Adair County
5  1500000US290019502002  Block Group 2  Census Tract 9502  Adair County

      state  est_total  moe_total  est_mortgage_debt  moe_mortgage_debt  \
1  Missouri        435         79                190                 52
2  Missouri        453         84                188                 65
3  Missouri        303         58                139                 39
4  Missouri        259         55                100                 42
5  Missouri        332         76                113                 40

   est_multiple_mortgages  moe_multiple_mortgages  est_only_home_equity_loan  \
1                      13                      13                         13
2                      28                      25                         17
3                      11                      11                          5
4                       2                       3                          0
5                      17                      14                         14

   moe_only_home_equity_loan  est_home_equity_loan_only  \
1                         13                          0
2                         17                          0
3                          6                          0
4                         12                          0
5                         13                          0

   moe_home_equity_loan_only  est_without_mortgage  moe_without_mortgage  year
1                         12                   245                    69  2020
2                         12                   265                    63  2020
3                         12                   164                    47  2020
4                         12                   159                    44  2020
5                         12                   219                    75  2020
Columns in the new DataFrame:
Index(['geo_id', 'block_group', 'census_tract', 'county', 'state', 'est_total',
       'moe_total', 'est_mortgage_debt', 'moe_mortgage_debt',
       'est_multiple_mortgages', 'moe_multiple_mortgages',
       'est_only_home_equity_loan', 'moe_only_home_equity_loan',
       'est_home_equity_loan_only', 'moe_home_equity_loan_only',
       'est_without_mortgage', 'moe_without_mortgage', 'year'],
      dtype='object')

In [15]:
csv_file_path = "2020_Mortgage_Status.csv"
new_data.to_csv(csv_file_path, index=False)
csv_file_path

'2020_Mortgage_Status.csv'