In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv("ACSDT5Y2022.B25081-Data.csv")
data.head()

,GEO_ID,NAME,B25081_001E,B25081_001M,B25081_002E,B25081_002M,B25081_003E,B25081_003M,B25081_004E,B25081_004M,...,B25081_005M,B25081_006E,B25081_006M,B25081_007E,B25081_007M,B25081_008E,B25081_008M,B25081_009E,B25081_009M,Unnamed: 20
0,Geography,Geographic Area Name,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!Housing units with a mortgag...,Margin of Error!!Total:!!Housing units with a ...,Estimate!!Total:!!Housing units with a mortgag...,Margin of Error!!Total:!!Housing units with a ...,Estimate!!Total:!!Housing units with a mortgag...,Margin of Error!!Total:!!Housing units with a ...,...,Margin of Error!!Total:!!Housing units with a ...,Estimate!!Total:!!Housing units with a mortgag...,Margin of Error!!Total:!!Housing units with a ...,Estimate!!Total:!!Housing units with a mortgag...,Margin of Error!!Total:!!Housing units with a ...,Estimate!!Total:!!Housing units with a mortgag...,Margin of Error!!Total:!!Housing units with a ...,Estimate!!Total:!!Housing units without a mort...,Margin of Error!!Total:!!Housing units without...,NaN
1,1500000US290019501001,Block Group 1; Census Tract 9501; Adair County...,405,77,221,56,215,55,6,9,...,12,6,9,0,12,0,12,184,57,NaN
2,1500000US290019501002,Block Group 2; Census Tract 9501; Adair County...,523,89,248,80,210,78,37,30,...,12,28,23,9,16,1,3,275,78,NaN
3,1500000US290019501003,Block Group 3; Census Tract 9501; Adair County...,275,55,114,38,109,36,5,7,...,12,5,7,0,12,0,12,161,49,NaN
4,1500000US290019502001,Block Group 1; Census Tract 9502; Adair County...,273,64,106,38,94,35,10,8,...,12,5,6,5,5,2,3,167,48,NaN

In [2]:
data[['BLOCK_GROUP', 'CENSUS_TRACT', 'COUNTIES', 'STATE']] = data['NAME'].str.split(';', expand=True)
data.drop(columns=['NAME'], inplace=True)
data['BLOCK_GROUP'] = data['BLOCK_GROUP'].str.strip()
data['CENSUS_TRACT'] = data['CENSUS_TRACT'].str.replace('County', '').str.strip()
data['COUNTIES'] = data['COUNTIES'].str.strip()
data['STATE'] = data['STATE'].str.strip()
data.head()

,GEO_ID,B25081_001E,B25081_001M,B25081_002E,B25081_002M,B25081_003E,B25081_003M,B25081_004E,B25081_004M,B25081_005E,...,B25081_007M,B25081_008E,B25081_008M,B25081_009E,B25081_009M,Unnamed: 20,BLOCK_GROUP,CENSUS_TRACT,COUNTIES,STATE
0,Geography,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!Housing units with a mortgag...,Margin of Error!!Total:!!Housing units with a ...,Estimate!!Total:!!Housing units with a mortgag...,Margin of Error!!Total:!!Housing units with a ...,Estimate!!Total:!!Housing units with a mortgag...,Margin of Error!!Total:!!Housing units with a ...,Estimate!!Total:!!Housing units with a mortgag...,...,Margin of Error!!Total:!!Housing units with a ...,Estimate!!Total:!!Housing units with a mortgag...,Margin of Error!!Total:!!Housing units with a ...,Estimate!!Total:!!Housing units without a mort...,Margin of Error!!Total:!!Housing units without...,NaN,Geographic Area Name,None,None,None
1,1500000US290019501001,405,77,221,56,215,55,6,9,0,...,12,0,12,184,57,NaN,Block Group 1,Census Tract 9501,Adair County,Missouri
2,1500000US290019501002,523,89,248,80,210,78,37,30,0,...,16,1,3,275,78,NaN,Block Group 2,Census Tract 9501,Adair County,Missouri
3,1500000US290019501003,275,55,114,38,109,36,5,7,0,...,12,0,12,161,49,NaN,Block Group 3,Census Tract 9501,Adair County,Missouri
4,1500000US290019502001,273,64,106,38,94,35,10,8,0,...,5,2,3,167,48,NaN,Block Group 1,Census Tract 9502,Adair County,Missouri

In [3]:
data = data[['GEO_ID', 'BLOCK_GROUP', 'CENSUS_TRACT', 'COUNTIES', 'STATE'] + 
            [col for col in data.columns if col not in ['GEO_ID', 'BLOCK_GROUP', 'CENSUS_TRACT',
                                                        'COUNTIES', 'STATE']]]
data.head()

,GEO_ID,BLOCK_GROUP,CENSUS_TRACT,COUNTIES,STATE,B25081_001E,B25081_001M,B25081_002E,B25081_002M,B25081_003E,...,B25081_005M,B25081_006E,B25081_006M,B25081_007E,B25081_007M,B25081_008E,B25081_008M,B25081_009E,B25081_009M,Unnamed: 20
0,Geography,Geographic Area Name,None,None,None,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!Housing units with a mortgag...,Margin of Error!!Total:!!Housing units with a ...,Estimate!!Total:!!Housing units with a mortgag...,...,Margin of Error!!Total:!!Housing units with a ...,Estimate!!Total:!!Housing units with a mortgag...,Margin of Error!!Total:!!Housing units with a ...,Estimate!!Total:!!Housing units with a mortgag...,Margin of Error!!Total:!!Housing units with a ...,Estimate!!Total:!!Housing units with a mortgag...,Margin of Error!!Total:!!Housing units with a ...,Estimate!!Total:!!Housing units without a mort...,Margin of Error!!Total:!!Housing units without...,NaN
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,405,77,221,56,215,...,12,6,9,0,12,0,12,184,57,NaN
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,523,89,248,80,210,...,12,28,23,9,16,1,3,275,78,NaN
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,275,55,114,38,109,...,12,5,7,0,12,0,12,161,49,NaN
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,273,64,106,38,94,...,12,5,6,5,5,2,3,167,48,NaN

In [4]:
new_headers = data.iloc[0, 5:].tolist()
new_headers = ['GEO_ID', 'BLOCK_GROUP', 'CENSUS_TRACT', 'COUNTIES', 'STATE'] + new_headers
data.columns = new_headers
data = data.drop(index=0)
data.head()

,GEO_ID,BLOCK_GROUP,CENSUS_TRACT,COUNTIES,STATE,Estimate!!Total:,Margin of Error!!Total:,"Estimate!!Total:!!Housing units with a mortgage, contract to purchase, or similar debt:","Margin of Error!!Total:!!Housing units with a mortgage, contract to purchase, or similar debt:","Estimate!!Total:!!Housing units with a mortgage, contract to purchase, or similar debt:!!Housing units with no second mortgage and no home equity loan",...,"Margin of Error!!Total:!!Housing units with a mortgage, contract to purchase, or similar debt:!!Housing units with multiple mortgages:!!Mortgage with both second mortgage and home equity loan","Estimate!!Total:!!Housing units with a mortgage, contract to purchase, or similar debt:!!Housing units with multiple mortgages:!!Mortgage, with only home equity loan","Margin of Error!!Total:!!Housing units with a mortgage, contract to purchase, or similar debt:!!Housing units with multiple mortgages:!!Mortgage, with only home equity loan","Estimate!!Total:!!Housing units with a mortgage, contract to purchase, or similar debt:!!Housing units with multiple mortgages:!!Mortgage, with only second mortgage","Margin of Error!!Total:!!Housing units with a mortgage, contract to purchase, or similar debt:!!Housing units with multiple mortgages:!!Mortgage, with only second mortgage","Estimate!!Total:!!Housing units with a mortgage, contract to purchase, or similar debt:!!Home equity loan without a primary mortgage","Margin of Error!!Total:!!Housing units with a mortgage, contract to purchase, or similar debt:!!Home equity loan without a primary mortgage",Estimate!!Total:!!Housing units without a mortgage,Margin of Error!!Total:!!Housing units without a mortgage,NaN
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,405,77,221,56,215,...,12,6,9,0,12,0,12,184,57,NaN
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,523,89,248,80,210,...,12,28,23,9,16,1,3,275,78,NaN
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,275,55,114,38,109,...,12,5,7,0,12,0,12,161,49,NaN
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,273,64,106,38,94,...,12,5,6,5,5,2,3,167,48,NaN
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,332,79,122,45,112,...,12,4,5,6,8,0,12,210,66,NaN

In [5]:
def clean_column_name(column_name):
    column_name = str(column_name)
    column_name = column_name.replace("!!", "_")
    column_name = column_name.replace(" ", "_")
    column_name = column_name.lower()
    column_name = ''.join(char if char.isalnum() or char == '_' else '' for char in column_name)
    return column_name

cleaned_column_names = [clean_column_name(col) for col in data.columns]
data.columns = cleaned_column_names
data.head()

,geo_id,block_group,census_tract,counties,state,estimate_total,margin_of_error_total,estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt,margin_of_error_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt,estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_no_second_mortgage_and_no_home_equity_loan,...,margin_of_error_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages_mortgage_with_both_second_mortgage_and_home_equity_loan,estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages_mortgage_with_only_home_equity_loan,margin_of_error_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages_mortgage_with_only_home_equity_loan,estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages_mortgage_with_only_second_mortgage,margin_of_error_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages_mortgage_with_only_second_mortgage,estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_home_equity_loan_without_a_primary_mortgage,margin_of_error_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_home_equity_loan_without_a_primary_mortgage,estimate_total_housing_units_without_a_mortgage,margin_of_error_total_housing_units_without_a_mortgage,nan
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,405,77,221,56,215,...,12,6,9,0,12,0,12,184,57,NaN
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,523,89,248,80,210,...,12,28,23,9,16,1,3,275,78,NaN
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,275,55,114,38,109,...,12,5,7,0,12,0,12,161,49,NaN
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,273,64,106,38,94,...,12,5,6,5,5,2,3,167,48,NaN
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,332,79,122,45,112,...,12,4,5,6,8,0,12,210,66,NaN

In [6]:
if 'nan' in data.columns:
    data = data.drop(columns=['nan'])
data.head()

,geo_id,block_group,census_tract,counties,state,estimate_total,margin_of_error_total,estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt,margin_of_error_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt,estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_no_second_mortgage_and_no_home_equity_loan,...,estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages_mortgage_with_both_second_mortgage_and_home_equity_loan,margin_of_error_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages_mortgage_with_both_second_mortgage_and_home_equity_loan,estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages_mortgage_with_only_home_equity_loan,margin_of_error_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages_mortgage_with_only_home_equity_loan,estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages_mortgage_with_only_second_mortgage,margin_of_error_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages_mortgage_with_only_second_mortgage,estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_home_equity_loan_without_a_primary_mortgage,margin_of_error_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_home_equity_loan_without_a_primary_mortgage,estimate_total_housing_units_without_a_mortgage,margin_of_error_total_housing_units_without_a_mortgage
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,405,77,221,56,215,...,0,12,6,9,0,12,0,12,184,57
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,523,89,248,80,210,...,0,12,28,23,9,16,1,3,275,78
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,275,55,114,38,109,...,0,12,5,7,0,12,0,12,161,49
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,273,64,106,38,94,...,0,12,5,6,5,5,2,3,167,48
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,332,79,122,45,112,...,0,12,4,5,6,8,0,12,210,66

In [7]:
data.describe()

,geo_id,block_group,census_tract,counties,state,estimate_total,margin_of_error_total,estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt,margin_of_error_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt,estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_no_second_mortgage_and_no_home_equity_loan,...,estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages_mortgage_with_both_second_mortgage_and_home_equity_loan,margin_of_error_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages_mortgage_with_both_second_mortgage_and_home_equity_loan,estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages_mortgage_with_only_home_equity_loan,margin_of_error_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages_mortgage_with_only_home_equity_loan,estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages_mortgage_with_only_second_mortgage,margin_of_error_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages_mortgage_with_only_second_mortgage,estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_home_equity_loan_without_a_primary_mortgage,margin_of_error_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_home_equity_loan_without_a_primary_mortgage,estimate_total_housing_units_without_a_mortgage,margin_of_error_total_housing_units_without_a_mortgage
count,5031,5031,5031,5031,5031,5031,5031,5031,5031,5031,...,5031,5031,5031,5031,5031,5031,5031,5031,5031,5031
unique,5031,7,1286,115,1,875,293,664,278,604,...,35,46,146,127,73,86,73,88,405,238
top,1500000US291694702882,Block Group 1,Census Tract 9601,St. Louis County,Missouri,0,12,0,12,0,...,0,12,0,12,0,12,0,12,0,12
freq,1,1654,60,748,5031,83,84,137,141,145,...,4871,4874,2375,2441,4008,4042,4080,4109,157,161

In [8]:
data.columns.tolist()

['geo_id',
 'block_group',
 'census_tract',
 'counties',
 'state',
 'estimate_total',
 'margin_of_error_total',
 'estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt',
 'margin_of_error_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt',
 'estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_no_second_mortgage_and_no_home_equity_loan',
 'margin_of_error_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_no_second_mortgage_and_no_home_equity_loan',
 'estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages',
 'margin_of_error_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages',
 'estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages_mortgage_with_both_second_mortgage_and_home_equity_loan',
 'margin_of_error_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages_mortgage_with_both_second_mortgage_and_home_equity_loan',
 'estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages_mortgage_with_only_home_equity_loan',
 'margin_of_error_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages_mortgage_with_only_home_equity_loan',
 'estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages_mortgage_with_only_second_mortgage',
 'margin_of_error_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages_mortgage_with_only_second_mortgage',
 'estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_home_equity_loan_without_a_primary_mortgage',
 'margin_of_error_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_home_equity_loan_without_a_primary_mortgage',
 'estimate_total_housing_units_without_a_mortgage',
 'margin_of_error_total_housing_units_without_a_mortgage']

In [9]:
column_mapping = {
    'geo_id': 'geo_id',
    'block_group': 'block_group',
    'census_tract': 'census_tract',
    'counties': 'county',
    'state': 'state',
    'estimate_total': 'est_total',
    'margin_of_error_total': 'moe_total',
    'estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt': 'est_mortgage_debt',
    'margin_of_error_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt': 'moe_mortgage_debt',
    'estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_no_second_mortgage_and_no_home_equity_loan': 'est_no_second_mortgage_no_loan',
    'margin_of_error_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_no_second_mortgage_and_no_home_equity_loan': 'moe_no_second_mortgage_no_loan',
    'estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages': 'est_multiple_mortgages',
    'margin_of_error_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages': 'moe_multiple_mortgages',
    'estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages_mortgage_with_both_second_mortgage_and_home_equity_loan': 'est_both_second_mortgage_and_loan',
    'margin_of_error_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages_mortgage_with_both_second_mortgage_and_home_equity_loan': 'moe_both_second_mortgage_and_loan',
    'estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages_mortgage_with_only_home_equity_loan': 'est_only_home_equity_loan',
    'margin_of_error_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages_mortgage_with_only_home_equity_loan': 'moe_only_home_equity_loan',
    'estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages_mortgage_with_only_second_mortgage': 'est_only_second_mortgage',
    'margin_of_error_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_housing_units_with_multiple_mortgages_mortgage_with_only_second_mortgage': 'moe_only_second_mortgage',
    'estimate_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_home_equity_loan_without_a_primary_mortgage': 'est_home_equity_loan_only',
    'margin_of_error_total_housing_units_with_a_mortgage_contract_to_purchase_or_similar_debt_home_equity_loan_without_a_primary_mortgage': 'moe_home_equity_loan_only',
    'estimate_total_housing_units_without_a_mortgage': 'est_without_mortgage',
    'margin_of_error_total_housing_units_without_a_mortgage': 'moe_without_mortgage'
}

data.rename(columns=column_mapping, inplace=True)
print("Column names after renaming:")
print(data.columns)

numeric_columns = [
    'est_total',
    'moe_total',
    'est_mortgage_debt',
    'moe_mortgage_debt',
    'est_no_second_mortgage_no_loan',
    'moe_no_second_mortgage_no_loan',
    'est_multiple_mortgages',
    'moe_multiple_mortgages',
    'est_both_second_mortgage_and_loan',
    'moe_both_second_mortgage_and_loan',
    'est_only_home_equity_loan',
    'moe_only_home_equity_loan',
    'est_only_second_mortgage',
    'moe_only_second_mortgage',
    'est_home_equity_loan_only',
    'moe_home_equity_loan_only',
    'est_without_mortgage',
    'moe_without_mortgage'
]

missing_columns = [col for col in numeric_columns if col not in data.columns]
if missing_columns:
    print(f"These columns are missing after renaming: {missing_columns}")
else:
    data.replace(['**', '***'], np.nan, inplace=True)
    data[numeric_columns] = data[numeric_columns].replace({',': '', '-': np.nan, r'\+': ''}, regex=True)
    data[numeric_columns] = data[numeric_columns].apply(pd.to_numeric, errors='raise')

data.fillna('', inplace=True)
if 'nan' in data.columns:
    data.drop(columns=['nan'], inplace=True)
data.head()

Column names after renaming:
Index(['geo_id', 'block_group', 'census_tract', 'county', 'state', 'est_total',
       'moe_total', 'est_mortgage_debt', 'moe_mortgage_debt',
       'est_no_second_mortgage_no_loan', 'moe_no_second_mortgage_no_loan',
       'est_multiple_mortgages', 'moe_multiple_mortgages',
       'est_both_second_mortgage_and_loan',
       'moe_both_second_mortgage_and_loan', 'est_only_home_equity_loan',
       'moe_only_home_equity_loan', 'est_only_second_mortgage',
       'moe_only_second_mortgage', 'est_home_equity_loan_only',
       'moe_home_equity_loan_only', 'est_without_mortgage',
       'moe_without_mortgage'],
      dtype='object')

,geo_id,block_group,census_tract,county,state,est_total,moe_total,est_mortgage_debt,moe_mortgage_debt,est_no_second_mortgage_no_loan,...,est_both_second_mortgage_and_loan,moe_both_second_mortgage_and_loan,est_only_home_equity_loan,moe_only_home_equity_loan,est_only_second_mortgage,moe_only_second_mortgage,est_home_equity_loan_only,moe_home_equity_loan_only,est_without_mortgage,moe_without_mortgage
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,405,77,221,56,215,...,0,12,6,9,0,12,0,12,184,57
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,523,89,248,80,210,...,0,12,28,23,9,16,1,3,275,78
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,275,55,114,38,109,...,0,12,5,7,0,12,0,12,161,49
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,273,64,106,38,94,...,0,12,5,6,5,5,2,3,167,48
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,332,79,122,45,112,...,0,12,4,5,6,8,0,12,210,66

In [10]:
data['year'] = 2022
data.head()

,geo_id,block_group,census_tract,county,state,est_total,moe_total,est_mortgage_debt,moe_mortgage_debt,est_no_second_mortgage_no_loan,...,moe_both_second_mortgage_and_loan,est_only_home_equity_loan,moe_only_home_equity_loan,est_only_second_mortgage,moe_only_second_mortgage,est_home_equity_loan_only,moe_home_equity_loan_only,est_without_mortgage,moe_without_mortgage,year
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,405,77,221,56,215,...,12,6,9,0,12,0,12,184,57,2022
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,523,89,248,80,210,...,12,28,23,9,16,1,3,275,78,2022
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,275,55,114,38,109,...,12,5,7,0,12,0,12,161,49,2022
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,273,64,106,38,94,...,12,5,6,5,5,2,3,167,48,2022
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,332,79,122,45,112,...,12,4,5,6,8,0,12,210,66,2022

In [11]:
data.describe()

,est_total,moe_total,est_mortgage_debt,moe_mortgage_debt,est_no_second_mortgage_no_loan,moe_no_second_mortgage_no_loan,est_multiple_mortgages,moe_multiple_mortgages,est_both_second_mortgage_and_loan,moe_both_second_mortgage_and_loan,est_only_home_equity_loan,moe_only_home_equity_loan,est_only_second_mortgage,moe_only_second_mortgage,est_home_equity_loan_only,moe_home_equity_loan_only,est_without_mortgage,moe_without_mortgage,year
count,5031.000000,5031.000000,5031.000000,5031.000000,5031.000000,5031.000000,5031.00000,5031.000000,5031.000000,5031.000000,5031.000000,5031.000000,5031.000000,5031.000000,5031.000000,5031.000000,5031.000000,5031.000000,5031.0
mean,330.322799,104.622341,201.137547,85.105347,180.544822,81.793679,17.82588,23.507255,0.388988,12.216060,14.372491,21.256211,3.064401,14.004770,2.766846,13.742993,129.185251,67.502683,2022.0
std,204.866035,52.216502,153.179905,50.098004,137.096342,49.086656,26.49925,21.495616,3.107988,3.412529,23.710036,19.427874,9.301822,9.947715,9.299560,10.407853,84.951575,38.599745,0.0
min,0.000000,3.000000,0.000000,3.000000,0.000000,3.000000,0.00000,2.000000,0.000000,2.000000,0.000000,2.000000,0.000000,2.000000,0.000000,2.000000,0.000000,3.000000,2022.0
25%,184.000000,70.000000,90.500000,50.000000,82.000000,48.000000,0.00000,12.000000,0.000000,12.000000,0.000000,12.000000,0.000000,12.000000,0.000000,12.000000,67.000000,42.000000,2022.0
50%,294.000000,96.000000,166.000000,76.000000,148.000000,73.000000,8.00000,12.000000,0.000000,12.000000,3.000000,12.000000,0.000000,12.000000,0.000000,12.000000,116.000000,61.000000,2022.0
75%,441.000000,129.000000,274.000000,110.000000,248.000000,106.000000,25.00000,29.000000,0.000000,12.000000,20.000000,25.000000,0.000000,12.000000,0.000000,12.000000,177.000000,84.000000,2022.0
max,1627.000000,413.000000,1236.000000,412.000000,1107.000000,409.000000,247.00000,268.000000,85.000000,135.000000,247.000000,268.000000,177.000000,187.000000,156.000000,240.000000,698.000000,347.000000,2022.0

In [12]:
data.shape[1]

24

In [13]:
new_data = data.loc[:, ~data.columns.str.contains("second_mortgage", case=False)]
print("New DataFrame without 'second_mortgage' columns:")
print(new_data.head())
print("Columns in the new DataFrame:")
print(new_data.columns)

New DataFrame without 'second_mortgage' columns:
                  geo_id    block_group       census_tract        county  \
1  1500000US290019501001  Block Group 1  Census Tract 9501  Adair County
2  1500000US290019501002  Block Group 2  Census Tract 9501  Adair County
3  1500000US290019501003  Block Group 3  Census Tract 9501  Adair County
4  1500000US290019502001  Block Group 1  Census Tract 9502  Adair County
5  1500000US290019502002  Block Group 2  Census Tract 9502  Adair County

      state  est_total  moe_total  est_mortgage_debt  moe_mortgage_debt  \
1  Missouri        405         77                221                 56
2  Missouri        523         89                248                 80
3  Missouri        275         55                114                 38
4  Missouri        273         64                106                 38
5  Missouri        332         79                122                 45

   est_multiple_mortgages  moe_multiple_mortgages  est_only_home_equity_loan  \
1                       6                       9                          6
2                      37                      30                         28
3                       5                       7                          5
4                      10                       8                          5
5                      10                       9                          4

   moe_only_home_equity_loan  est_home_equity_loan_only  \
1                          9                          0
2                         23                          1
3                          7                          0
4                          6                          2
5                          5                          0

   moe_home_equity_loan_only  est_without_mortgage  moe_without_mortgage  year
1                         12                   184                    57  2022
2                          3                   275                    78  2022
3                         12                   161                    49  2022
4                          3                   167                    48  2022
5                         12                   210                    66  2022
Columns in the new DataFrame:
Index(['geo_id', 'block_group', 'census_tract', 'county', 'state', 'est_total',
       'moe_total', 'est_mortgage_debt', 'moe_mortgage_debt',
       'est_multiple_mortgages', 'moe_multiple_mortgages',
       'est_only_home_equity_loan', 'moe_only_home_equity_loan',
       'est_home_equity_loan_only', 'moe_home_equity_loan_only',
       'est_without_mortgage', 'moe_without_mortgage', 'year'],
      dtype='object')

In [15]:
csv_file_path = "2022_Mortgage_Status.csv"
new_data.to_csv(csv_file_path, index=False)
csv_file_path

'2022_Mortgage_Status.csv'