In [1]:
import pandas as pd

data = pd.read_csv("ACSDT5Y2021.B15002-Data.csv")
data.head()

,GEO_ID,NAME,B15002_001E,B15002_001M,B15002_002E,B15002_002M,B15002_003E,B15002_003M,B15002_004E,B15002_004M,...,B15002_031E,B15002_031M,B15002_032E,B15002_032M,B15002_033E,B15002_033M,B15002_034E,B15002_034M,B15002_035E,B15002_035M
0,Geography,Geographic Area Name,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!Male:,Margin of Error!!Total:!!Male:,Estimate!!Total:!!Male:!!No schooling completed,Margin of Error!!Total:!!Male:!!No schooling c...,Estimate!!Total:!!Male:!!Nursery to 4th grade,Margin of Error!!Total:!!Male:!!Nursery to 4th...,...,Estimate!!Total:!!Female:!!Associate's degree,Margin of Error!!Total:!!Female:!!Associate's ...,Estimate!!Total:!!Female:!!Bachelor's degree,Margin of Error!!Total:!!Female:!!Bachelor's d...,Estimate!!Total:!!Female:!!Master's degree,Margin of Error!!Total:!!Female:!!Master's degree,Estimate!!Total:!!Female:!!Professional school...,Margin of Error!!Total:!!Female:!!Professional...,Estimate!!Total:!!Female:!!Doctorate degree,Margin of Error!!Total:!!Female:!!Doctorate de...
1,1500000US290019501001,"Block Group 1, Census Tract 9501, Adair County...",801,143,414,97,0,12,5,9,...,28,20,50,30,15,16,5,8,13,14
2,1500000US290019501002,"Block Group 2, Census Tract 9501, Adair County...",1023,176,564,114,0,12,18,13,...,29,21,47,27,24,21,0,12,19,19
3,1500000US290019501003,"Block Group 3, Census Tract 9501, Adair County...",599,99,300,57,0,12,0,12,...,24,14,41,19,11,11,0,12,0,12
4,1500000US290019502001,"Block Group 1, Census Tract 9502, Adair County...",699,138,404,97,4,7,0,12,...,15,14,18,16,12,10,10,19,0,12

In [2]:
data[['BLOCK_GROUP', 'CENSUS_TRACT', 'COUNTIES', 'STATE']] = data['NAME'].str.split(',', expand=True)
data.drop(columns=['NAME'], inplace=True)
data['BLOCK_GROUP'] = data['BLOCK_GROUP'].str.strip()
data['CENSUS_TRACT'] = data['CENSUS_TRACT'].str.replace('County', '').str.strip()
data['COUNTIES'] = data['COUNTIES'].str.strip()
data['STATE'] = data['STATE'].str.strip()
data.head()

,GEO_ID,B15002_001E,B15002_001M,B15002_002E,B15002_002M,B15002_003E,B15002_003M,B15002_004E,B15002_004M,B15002_005E,...,B15002_033E,B15002_033M,B15002_034E,B15002_034M,B15002_035E,B15002_035M,BLOCK_GROUP,CENSUS_TRACT,COUNTIES,STATE
0,Geography,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!Male:,Margin of Error!!Total:!!Male:,Estimate!!Total:!!Male:!!No schooling completed,Margin of Error!!Total:!!Male:!!No schooling c...,Estimate!!Total:!!Male:!!Nursery to 4th grade,Margin of Error!!Total:!!Male:!!Nursery to 4th...,Estimate!!Total:!!Male:!!5th and 6th grade,...,Estimate!!Total:!!Female:!!Master's degree,Margin of Error!!Total:!!Female:!!Master's degree,Estimate!!Total:!!Female:!!Professional school...,Margin of Error!!Total:!!Female:!!Professional...,Estimate!!Total:!!Female:!!Doctorate degree,Margin of Error!!Total:!!Female:!!Doctorate de...,Geographic Area Name,None,None,None
1,1500000US290019501001,801,143,414,97,0,12,5,9,0,...,15,16,5,8,13,14,Block Group 1,Census Tract 9501,Adair County,Missouri
2,1500000US290019501002,1023,176,564,114,0,12,18,13,0,...,24,21,0,12,19,19,Block Group 2,Census Tract 9501,Adair County,Missouri
3,1500000US290019501003,599,99,300,57,0,12,0,12,1,...,11,11,0,12,0,12,Block Group 3,Census Tract 9501,Adair County,Missouri
4,1500000US290019502001,699,138,404,97,4,7,0,12,6,...,12,10,10,19,0,12,Block Group 1,Census Tract 9502,Adair County,Missouri

In [3]:
data = data[['GEO_ID', 'BLOCK_GROUP', 'CENSUS_TRACT', 'COUNTIES', 'STATE'] + 
            [col for col in data.columns if col not in ['GEO_ID', 'BLOCK_GROUP', 'CENSUS_TRACT',
                                                        'COUNTIES', 'STATE']]]
data.head()

,GEO_ID,BLOCK_GROUP,CENSUS_TRACT,COUNTIES,STATE,B15002_001E,B15002_001M,B15002_002E,B15002_002M,B15002_003E,...,B15002_031E,B15002_031M,B15002_032E,B15002_032M,B15002_033E,B15002_033M,B15002_034E,B15002_034M,B15002_035E,B15002_035M
0,Geography,Geographic Area Name,None,None,None,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!Male:,Margin of Error!!Total:!!Male:,Estimate!!Total:!!Male:!!No schooling completed,...,Estimate!!Total:!!Female:!!Associate's degree,Margin of Error!!Total:!!Female:!!Associate's ...,Estimate!!Total:!!Female:!!Bachelor's degree,Margin of Error!!Total:!!Female:!!Bachelor's d...,Estimate!!Total:!!Female:!!Master's degree,Margin of Error!!Total:!!Female:!!Master's degree,Estimate!!Total:!!Female:!!Professional school...,Margin of Error!!Total:!!Female:!!Professional...,Estimate!!Total:!!Female:!!Doctorate degree,Margin of Error!!Total:!!Female:!!Doctorate de...
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,801,143,414,97,0,...,28,20,50,30,15,16,5,8,13,14
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,1023,176,564,114,0,...,29,21,47,27,24,21,0,12,19,19
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,599,99,300,57,0,...,24,14,41,19,11,11,0,12,0,12
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,699,138,404,97,4,...,15,14,18,16,12,10,10,19,0,12

In [4]:
new_headers = data.iloc[0, 5:].tolist()
new_headers = ['GEO_ID', 'BLOCK_GROUP', 'CENSUS_TRACT', 'COUNTIES', 'STATE'] + new_headers
data.columns = new_headers
data = data.drop(index=0)
data.head()

,GEO_ID,BLOCK_GROUP,CENSUS_TRACT,COUNTIES,STATE,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!Male:,Margin of Error!!Total:!!Male:,Estimate!!Total:!!Male:!!No schooling completed,...,Estimate!!Total:!!Female:!!Associate's degree,Margin of Error!!Total:!!Female:!!Associate's degree,Estimate!!Total:!!Female:!!Bachelor's degree,Margin of Error!!Total:!!Female:!!Bachelor's degree,Estimate!!Total:!!Female:!!Master's degree,Margin of Error!!Total:!!Female:!!Master's degree,Estimate!!Total:!!Female:!!Professional school degree,Margin of Error!!Total:!!Female:!!Professional school degree,Estimate!!Total:!!Female:!!Doctorate degree,Margin of Error!!Total:!!Female:!!Doctorate degree
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,801,143,414,97,0,...,28,20,50,30,15,16,5,8,13,14
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,1023,176,564,114,0,...,29,21,47,27,24,21,0,12,19,19
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,599,99,300,57,0,...,24,14,41,19,11,11,0,12,0,12
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,699,138,404,97,4,...,15,14,18,16,12,10,10,19,0,12
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,595,133,327,82,0,...,15,15,17,17,63,45,0,12,0,12

In [5]:
def clean_column_name(column_name):
    column_name = column_name.replace("!!", "_")
    column_name = column_name.replace(" ", "_")
    column_name = column_name.lower()
    column_name = ''.join(char if char.isalnum() or char == '_' else '' for char in column_name)
    return column_name

cleaned_column_names = [clean_column_name(col) for col in data.columns]
data.columns = cleaned_column_names
data.head()

,geo_id,block_group,census_tract,counties,state,estimate_total,margin_of_error_total,estimate_total_male,margin_of_error_total_male,estimate_total_male_no_schooling_completed,...,estimate_total_female_associates_degree,margin_of_error_total_female_associates_degree,estimate_total_female_bachelors_degree,margin_of_error_total_female_bachelors_degree,estimate_total_female_masters_degree,margin_of_error_total_female_masters_degree,estimate_total_female_professional_school_degree,margin_of_error_total_female_professional_school_degree,estimate_total_female_doctorate_degree,margin_of_error_total_female_doctorate_degree
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,801,143,414,97,0,...,28,20,50,30,15,16,5,8,13,14
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,1023,176,564,114,0,...,29,21,47,27,24,21,0,12,19,19
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,599,99,300,57,0,...,24,14,41,19,11,11,0,12,0,12
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,699,138,404,97,4,...,15,14,18,16,12,10,10,19,0,12
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,595,133,327,82,0,...,15,15,17,17,63,45,0,12,0,12

In [6]:
column_mapping = {
    'geo_id': 'geo_id',
    'block_group': 'block_group',
    'census_tract': 'census_tract',
    'counties': 'county',
    'state': 'state',
    'estimate_total': 'estimate_total',
    'margin_of_error_total': 'margin_of_error_total',
    'estimate_total_male': 'estimate_total_male',
    'margin_of_error_total_male': 'margin_of_error_total_male',
    'estimate_total_male_no_schooling_completed': 'male_no_schooling_completed',
    'margin_of_error_total_male_no_schooling_completed': 'moe_male_no_schooling_comp',
    'estimate_total_male_nursery_to_4th_grade': 'est_male_pre_k_to_4th_grade',
    'margin_of_error_total_male_nursery_to_4th_grade': 'moe_male_pre_k_to_4th_grade',
    'estimate_total_male_5th_and_6th_grade': 'est_male_5th_6th_grade',
    'margin_of_error_total_male_5th_and_6th_grade': 'moe_male_5th_6th_grade',
    'estimate_total_male_7th_and_8th_grade': 'est_male_7th_8th_grade',
    'margin_of_error_total_male_7th_and_8th_grade': 'moe_male_7th_8th_grade',
    'estimate_total_male_9th_grade': 'est_male_9th_grade',
    'margin_of_error_total_male_9th_grade': 'moe_male_9th_grade',
    'estimate_total_male_10th_grade': 'est_male_10th_grade',
    'margin_of_error_total_male_10th_grade': 'moe_male_10th_grade',
    'estimate_total_male_11th_grade': 'est_male_11th_grade',
    'margin_of_error_total_male_11th_grade': 'moe_male_11th_grade',
    'estimate_total_male_12th_grade_no_diploma': 'est_male_12th_grade_no_diploma',
    'margin_of_error_total_male_12th_grade_no_diploma': 'moe_male_12th_grade_no_diploma',
    'estimate_total_male_high_school_graduate_includes_equivalency': 'est_male_hs_graduate_includes_equivalency',
    'margin_of_error_total_male_high_school_graduate_includes_equivalency': 'moe_male_hs_graduate_includes_equivalency',
    'estimate_total_male_some_college_less_than_1_year': 'est_male_some_college_less_than_1_year',
    'margin_of_error_total_male_some_college_less_than_1_year': 'moe_male_some_college_less_than_1_year',
    'estimate_total_male_some_college_1_or_more_years_no_degree': 'est_male_some_college_over_1_years_no_degree',
    'margin_of_error_total_male_some_college_1_or_more_years_no_degree': 'moe_male_some_college_over_1_years_no_degree',
    'estimate_total_male_associates_degree': 'est_male_as_degree',
    'margin_of_error_total_male_associates_degree': 'moe_male_as_degree',
    'estimate_total_male_bachelors_degree': 'est_male_bs_degree',
    'margin_of_error_total_male_bachelors_degree': 'moe_male_bs_degree',
    'estimate_total_male_masters_degree': 'est_male_ms_degree',
    'margin_of_error_total_male_masters_degree': 'moe_male_ms_degree',
    'estimate_total_male_professional_school_degree': 'est_male_pro_school_degree',
    'margin_of_error_total_male_professional_school_degree': 'moe_male_pro_school_degree',
    'estimate_total_male_doctorate_degree': 'est_male_phd_degree',
    'margin_of_error_total_male_doctorate_degree': 'moe_male_phd_degree',
    'estimate_total_female': 'estimate_total_female',
    'margin_of_error_total_female': 'margin_of_error_total_female',
    'estimate_total_female_no_schooling_completed': 'female_no_schooling_completed',
    'margin_of_error_total_female_no_schooling_completed': 'moe_female_no_schooling_completed',
    'estimate_total_female_nursery_to_4th_grade': 'est_female_pre_k_to_4th_grade',
    'margin_of_error_total_female_nursery_to_4th_grade': 'moe_female_pre_k_to_4th_grade',
    'estimate_total_female_5th_and_6th_grade': 'est_female_5th_6th_grade',
    'margin_of_error_total_female_5th_and_6th_grade': 'moe_est_female_5th_6th_grade',
    'estimate_total_female_7th_and_8th_grade': 'est_female_7th_8th_grade',
    'margin_of_error_total_female_7th_and_8th_grade': 'moe_female_7th_8th_grade',
    'estimate_total_female_9th_grade': 'est_female_9th_grade',
    'margin_of_error_total_female_9th_grade': 'moe_female_9th_grade',
    'estimate_total_female_10th_grade': 'est_female_10th_grade',
    'margin_of_error_total_female_10th_grade': 'moe_female_10th_grade',
    'estimate_total_female_11th_grade': 'est_female_11th_grade',
    'margin_of_error_total_female_11th_grade': 'moe_female_11th_grade',
    'estimate_total_female_12th_grade_no_diploma': 'est_female_12th_grade_no_diploma',
    'margin_of_error_total_female_12th_grade_no_diploma': 'moe_female_12th_grade_no_diploma',
    'estimate_total_female_high_school_graduate_includes_equivalency': 'est_female_hs_graduate_includes_equivalency',
    'margin_of_error_total_female_high_school_graduate_includes_equivalency': 'moe_female_hs_graduate_includes_equivalency',
    'estimate_total_female_some_college_less_than_1_year': 'est_female_some_college_less_than_1_year',
    'margin_of_error_total_female_some_college_less_than_1_year': 'moe_female_some_college_less_than_1_year',
    'estimate_total_female_some_college_1_or_more_years_no_degree': 'est_female_some_college_over_1_years_no_degree',
    'margin_of_error_total_female_some_college_1_or_more_years_no_degree': 'moe_female_some_college_over_1_years_no_degree',
    'estimate_total_female_associates_degree': 'estimate_female_as_degree',
    'margin_of_error_total_female_associates_degree': 'moe_female_as_degree',
    'estimate_total_female_bachelors_degree': 'est_female_bs_degree',
    'margin_of_error_total_female_bachelors_degree': 'moe_female_bs_degree',
    'estimate_total_female_masters_degree': 'est_female_ms_degree',
    'margin_of_error_total_female_masters_degree': 'moe_female_ms_degree',
    'estimate_total_female_professional_school_degree': 'est_female_pro_school_degree',
    'margin_of_error_total_female_professional_school_degree': 'moe_female_pro_school_degree',
    'estimate_total_female_doctorate_degree': 'est_female_phd_degree',
    'margin_of_error_total_female_doctorate_degree': 'moe_female_phd_degree'
}

data.rename(columns=column_mapping, inplace=True)
data.replace(['-', '**'], 'N/A', inplace=True)
data.head()

,geo_id,block_group,census_tract,county,state,estimate_total,margin_of_error_total,estimate_total_male,margin_of_error_total_male,male_no_schooling_completed,...,estimate_female_as_degree,moe_female_as_degree,est_female_bs_degree,moe_female_bs_degree,est_female_ms_degree,moe_female_ms_degree,est_female_pro_school_degree,moe_female_pro_school_degree,est_female_phd_degree,moe_female_phd_degree
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,801,143,414,97,0,...,28,20,50,30,15,16,5,8,13,14
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,1023,176,564,114,0,...,29,21,47,27,24,21,0,12,19,19
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,599,99,300,57,0,...,24,14,41,19,11,11,0,12,0,12
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,699,138,404,97,4,...,15,14,18,16,12,10,10,19,0,12
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,595,133,327,82,0,...,15,15,17,17,63,45,0,12,0,12

In [7]:
data['year'] = 2021
data.head()

,geo_id,block_group,census_tract,county,state,estimate_total,margin_of_error_total,estimate_total_male,margin_of_error_total_male,male_no_schooling_completed,...,moe_female_as_degree,est_female_bs_degree,moe_female_bs_degree,est_female_ms_degree,moe_female_ms_degree,est_female_pro_school_degree,moe_female_pro_school_degree,est_female_phd_degree,moe_female_phd_degree,year
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,801,143,414,97,0,...,20,50,30,15,16,5,8,13,14,2021
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,1023,176,564,114,0,...,21,47,27,24,21,0,12,19,19,2021
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,599,99,300,57,0,...,14,41,19,11,11,0,12,0,12,2021
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,699,138,404,97,4,...,14,18,16,12,10,10,19,0,12,2021
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,595,133,327,82,0,...,15,17,17,63,45,0,12,0,12,2021

In [8]:
csv_file_path = "2021_Educational_Attainment.csv"
data.to_csv(csv_file_path, index=False)
csv_file_path

'2021_Educational_Attainment.csv'