In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv("ACSDT5Y2020.B23025-Data.csv")
data.head()

,GEO_ID,NAME,B23025_001E,B23025_001M,B23025_002E,B23025_002M,B23025_003E,B23025_003M,B23025_004E,B23025_004M,B23025_005E,B23025_005M,B23025_006E,B23025_006M,B23025_007E,B23025_007M,Unnamed: 16
0,Geography,Geographic Area Name,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!In labor force:,Margin of Error!!Total:!!In labor force:,Estimate!!Total:!!In labor force:!!Civilian la...,Margin of Error!!Total:!!In labor force:!!Civi...,Estimate!!Total:!!In labor force:!!Civilian la...,Margin of Error!!Total:!!In labor force:!!Civi...,Estimate!!Total:!!In labor force:!!Civilian la...,Margin of Error!!Total:!!In labor force:!!Civi...,Estimate!!Total:!!In labor force:!!Armed Forces,Margin of Error!!Total:!!In labor force:!!Arme...,Estimate!!Total:!!Not in labor force,Margin of Error!!Total:!!Not in labor force,NaN
1,1500000US290019501001,"Block Group 1, Census Tract 9501, Adair County...",1034,180,637,132,637,132,637,132,0,12,0,12,397,117,NaN
2,1500000US290019501002,"Block Group 2, Census Tract 9501, Adair County...",1146,258,752,197,752,197,653,180,99,140,0,12,394,127,NaN
3,1500000US290019501003,"Block Group 3, Census Tract 9501, Adair County...",759,165,383,110,383,110,379,111,4,5,0,12,376,88,NaN
4,1500000US290019502001,"Block Group 1, Census Tract 9502, Adair County...",707,133,351,90,351,90,335,86,16,14,0,12,356,100,NaN

In [2]:
data[['BLOCK_GROUP', 'CENSUS_TRACT', 'COUNTIES', 'STATE']] = data['NAME'].str.split(',', expand=True)
data.drop(columns=['NAME'], inplace=True)
data['BLOCK_GROUP'] = data['BLOCK_GROUP'].str.strip()
data['CENSUS_TRACT'] = data['CENSUS_TRACT'].str.replace('County', '').str.strip()
data['COUNTIES'] = data['COUNTIES'].str.strip()
data['STATE'] = data['STATE'].str.strip()
data.head()

,GEO_ID,B23025_001E,B23025_001M,B23025_002E,B23025_002M,B23025_003E,B23025_003M,B23025_004E,B23025_004M,B23025_005E,B23025_005M,B23025_006E,B23025_006M,B23025_007E,B23025_007M,Unnamed: 16,BLOCK_GROUP,CENSUS_TRACT,COUNTIES,STATE
0,Geography,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!In labor force:,Margin of Error!!Total:!!In labor force:,Estimate!!Total:!!In labor force:!!Civilian la...,Margin of Error!!Total:!!In labor force:!!Civi...,Estimate!!Total:!!In labor force:!!Civilian la...,Margin of Error!!Total:!!In labor force:!!Civi...,Estimate!!Total:!!In labor force:!!Civilian la...,Margin of Error!!Total:!!In labor force:!!Civi...,Estimate!!Total:!!In labor force:!!Armed Forces,Margin of Error!!Total:!!In labor force:!!Arme...,Estimate!!Total:!!Not in labor force,Margin of Error!!Total:!!Not in labor force,NaN,Geographic Area Name,None,None,None
1,1500000US290019501001,1034,180,637,132,637,132,637,132,0,12,0,12,397,117,NaN,Block Group 1,Census Tract 9501,Adair County,Missouri
2,1500000US290019501002,1146,258,752,197,752,197,653,180,99,140,0,12,394,127,NaN,Block Group 2,Census Tract 9501,Adair County,Missouri
3,1500000US290019501003,759,165,383,110,383,110,379,111,4,5,0,12,376,88,NaN,Block Group 3,Census Tract 9501,Adair County,Missouri
4,1500000US290019502001,707,133,351,90,351,90,335,86,16,14,0,12,356,100,NaN,Block Group 1,Census Tract 9502,Adair County,Missouri

In [3]:
data = data[['GEO_ID', 'BLOCK_GROUP', 'CENSUS_TRACT', 'COUNTIES', 'STATE'] + 
            [col for col in data.columns if col not in ['GEO_ID', 'BLOCK_GROUP', 'CENSUS_TRACT',
                                                        'COUNTIES', 'STATE']]]

data.head()

,GEO_ID,BLOCK_GROUP,CENSUS_TRACT,COUNTIES,STATE,B23025_001E,B23025_001M,B23025_002E,B23025_002M,B23025_003E,B23025_003M,B23025_004E,B23025_004M,B23025_005E,B23025_005M,B23025_006E,B23025_006M,B23025_007E,B23025_007M,Unnamed: 16
0,Geography,Geographic Area Name,None,None,None,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!In labor force:,Margin of Error!!Total:!!In labor force:,Estimate!!Total:!!In labor force:!!Civilian la...,Margin of Error!!Total:!!In labor force:!!Civi...,Estimate!!Total:!!In labor force:!!Civilian la...,Margin of Error!!Total:!!In labor force:!!Civi...,Estimate!!Total:!!In labor force:!!Civilian la...,Margin of Error!!Total:!!In labor force:!!Civi...,Estimate!!Total:!!In labor force:!!Armed Forces,Margin of Error!!Total:!!In labor force:!!Arme...,Estimate!!Total:!!Not in labor force,Margin of Error!!Total:!!Not in labor force,NaN
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,1034,180,637,132,637,132,637,132,0,12,0,12,397,117,NaN
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,1146,258,752,197,752,197,653,180,99,140,0,12,394,127,NaN
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,759,165,383,110,383,110,379,111,4,5,0,12,376,88,NaN
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,707,133,351,90,351,90,335,86,16,14,0,12,356,100,NaN

In [4]:
new_headers = data.iloc[0, 5:].tolist()
new_headers = ['GEO_ID', 'BLOCK_GROUP', 'CENSUS_TRACT', 'COUNTIES', 'STATE'] + new_headers
data.columns = new_headers
data = data.drop(index=0)
data.head()

,GEO_ID,BLOCK_GROUP,CENSUS_TRACT,COUNTIES,STATE,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!In labor force:,Margin of Error!!Total:!!In labor force:,Estimate!!Total:!!In labor force:!!Civilian labor force:,Margin of Error!!Total:!!In labor force:!!Civilian labor force:,Estimate!!Total:!!In labor force:!!Civilian labor force:!!Employed,Margin of Error!!Total:!!In labor force:!!Civilian labor force:!!Employed,Estimate!!Total:!!In labor force:!!Civilian labor force:!!Unemployed,Margin of Error!!Total:!!In labor force:!!Civilian labor force:!!Unemployed,Estimate!!Total:!!In labor force:!!Armed Forces,Margin of Error!!Total:!!In labor force:!!Armed Forces,Estimate!!Total:!!Not in labor force,Margin of Error!!Total:!!Not in labor force,NaN
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,1034,180,637,132,637,132,637,132,0,12,0,12,397,117,NaN
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,1146,258,752,197,752,197,653,180,99,140,0,12,394,127,NaN
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,759,165,383,110,383,110,379,111,4,5,0,12,376,88,NaN
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,707,133,351,90,351,90,335,86,16,14,0,12,356,100,NaN
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,770,151,448,105,448,105,420,99,28,21,0,12,322,114,NaN

In [5]:
def clean_column_name(column_name):
    column_name = str(column_name)
    column_name = column_name.replace("!!", "_")
    column_name = column_name.replace(" ", "_")
    column_name = column_name.lower()
    column_name = ''.join(char if char.isalnum() or char == '_' else '' for char in column_name)
    return column_name

cleaned_column_names = [clean_column_name(col) for col in data.columns]
data.columns = cleaned_column_names
data.head()

,geo_id,block_group,census_tract,counties,state,estimate_total,margin_of_error_total,estimate_total_in_labor_force,margin_of_error_total_in_labor_force,estimate_total_in_labor_force_civilian_labor_force,margin_of_error_total_in_labor_force_civilian_labor_force,estimate_total_in_labor_force_civilian_labor_force_employed,margin_of_error_total_in_labor_force_civilian_labor_force_employed,estimate_total_in_labor_force_civilian_labor_force_unemployed,margin_of_error_total_in_labor_force_civilian_labor_force_unemployed,estimate_total_in_labor_force_armed_forces,margin_of_error_total_in_labor_force_armed_forces,estimate_total_not_in_labor_force,margin_of_error_total_not_in_labor_force,nan
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,1034,180,637,132,637,132,637,132,0,12,0,12,397,117,NaN
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,1146,258,752,197,752,197,653,180,99,140,0,12,394,127,NaN
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,759,165,383,110,383,110,379,111,4,5,0,12,376,88,NaN
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,707,133,351,90,351,90,335,86,16,14,0,12,356,100,NaN
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,770,151,448,105,448,105,420,99,28,21,0,12,322,114,NaN

In [6]:
if 'nan' in data.columns:
    data = data.drop(columns=['nan'])
data.head()

,geo_id,block_group,census_tract,counties,state,estimate_total,margin_of_error_total,estimate_total_in_labor_force,margin_of_error_total_in_labor_force,estimate_total_in_labor_force_civilian_labor_force,margin_of_error_total_in_labor_force_civilian_labor_force,estimate_total_in_labor_force_civilian_labor_force_employed,margin_of_error_total_in_labor_force_civilian_labor_force_employed,estimate_total_in_labor_force_civilian_labor_force_unemployed,margin_of_error_total_in_labor_force_civilian_labor_force_unemployed,estimate_total_in_labor_force_armed_forces,margin_of_error_total_in_labor_force_armed_forces,estimate_total_not_in_labor_force,margin_of_error_total_not_in_labor_force
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,1034,180,637,132,637,132,637,132,0,12,0,12,397,117
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,1146,258,752,197,752,197,653,180,99,140,0,12,394,127
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,759,165,383,110,383,110,379,111,4,5,0,12,376,88
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,707,133,351,90,351,90,335,86,16,14,0,12,356,100
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,770,151,448,105,448,105,420,99,28,21,0,12,322,114

In [7]:
data.columns.tolist()

['geo_id',
 'block_group',
 'census_tract',
 'counties',
 'state',
 'estimate_total',
 'margin_of_error_total',
 'estimate_total_in_labor_force',
 'margin_of_error_total_in_labor_force',
 'estimate_total_in_labor_force_civilian_labor_force',
 'margin_of_error_total_in_labor_force_civilian_labor_force',
 'estimate_total_in_labor_force_civilian_labor_force_employed',
 'margin_of_error_total_in_labor_force_civilian_labor_force_employed',
 'estimate_total_in_labor_force_civilian_labor_force_unemployed',
 'margin_of_error_total_in_labor_force_civilian_labor_force_unemployed',
 'estimate_total_in_labor_force_armed_forces',
 'margin_of_error_total_in_labor_force_armed_forces',
 'estimate_total_not_in_labor_force',
 'margin_of_error_total_not_in_labor_force']

In [8]:
column_mapping = {
    'geo_id': 'geo_id',
    'block_group': 'block_group',
    'census_tract': 'census_tract',
    'counties': 'county',
    'state': 'state',
    'estimate_total': 'est_total',
    'margin_of_error_total': 'moe_total',
    'estimate_total_in_labor_force' : 'est_tot_in_labor_force',
    'margin_of_error_total_in_labor_force' : 'moe_tot_in_labor_force',
    'estimate_total_in_labor_force_civilian_labor_force' : 'est_tot_civilian',
    'margin_of_error_total_in_labor_force_civilian_labor_force' : 'moe_tot_civilian',
    'estimate_total_in_labor_force_civilian_labor_force_employed' : 'est_tot_civilian_labor_employed',
    'margin_of_error_total_in_labor_force_civilian_labor_force_employed' : 'moe_tot_civilian_labor_employed',
    'estimate_total_in_labor_force_civilian_labor_force_unemployed' : 'est_tot_civilian_unemployed',
    'margin_of_error_total_in_labor_force_civilian_labor_force_unemployed' : 'moe_tot_civilian_unemployed',
    'estimate_total_in_labor_force_armed_forces' : 'est_tot_armed_forces',
    'margin_of_error_total_in_labor_force_armed_forces' : 'moe_tot_armed_forces',
    'estimate_total_not_in_labor_force' : 'est_total_not_in_labor_force',
    'margin_of_error_total_not_in_labor_force' : 'moe_total_not_in_labor_force'
}

data.rename(columns=column_mapping, inplace=True)
print("Column names after renaming:")
print(data.columns)

numeric_columns = [
    'est_total',
    'moe_total',
    'est_tot_in_labor_force',
    'moe_tot_in_labor_force',
    'est_tot_civilian',
    'moe_tot_civilian',
    'est_tot_civilian_labor_employed',
    'moe_tot_civilian_labor_employed',
    'est_tot_civilian_unemployed',
    'moe_tot_civilian_unemployed',
    'est_tot_armed_forces',
    'moe_tot_armed_forces',
    'est_total_not_in_labor_force',
    'moe_total_not_in_labor_force'
]

missing_columns = [col for col in numeric_columns if col not in data.columns]
if missing_columns:
    print(f"These columns are missing after renaming: {missing_columns}")
else:
    data.replace(['**', '***'], np.nan, inplace=True)
    data[numeric_columns] = data[numeric_columns].replace({',': '', '-': np.nan, r'\+': ''}, regex=True)
    data[numeric_columns] = data[numeric_columns].apply(pd.to_numeric, errors='coerce')
    
data.fillna('', inplace=True)
if 'nan' in data.columns:
    data.drop(columns=['nan'], inplace=True)
data.head()

Column names after renaming:
Index(['geo_id', 'block_group', 'census_tract', 'county', 'state', 'est_total',
       'moe_total', 'est_tot_in_labor_force', 'moe_tot_in_labor_force',
       'est_tot_civilian', 'moe_tot_civilian',
       'est_tot_civilian_labor_employed', 'moe_tot_civilian_labor_employed',
       'est_tot_civilian_unemployed', 'moe_tot_civilian_unemployed',
       'est_tot_armed_forces', 'moe_tot_armed_forces',
       'est_total_not_in_labor_force', 'moe_total_not_in_labor_force'],
      dtype='object')

,geo_id,block_group,census_tract,county,state,est_total,moe_total,est_tot_in_labor_force,moe_tot_in_labor_force,est_tot_civilian,moe_tot_civilian,est_tot_civilian_labor_employed,moe_tot_civilian_labor_employed,est_tot_civilian_unemployed,moe_tot_civilian_unemployed,est_tot_armed_forces,moe_tot_armed_forces,est_total_not_in_labor_force,moe_total_not_in_labor_force
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,1034,180,637,132,637,132,637,132,0,12,0,12,397,117
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,1146,258,752,197,752,197,653,180,99,140,0,12,394,127
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,759,165,383,110,383,110,379,111,4,5,0,12,376,88
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,707,133,351,90,351,90,335,86,16,14,0,12,356,100
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,770,151,448,105,448,105,420,99,28,21,0,12,322,114

In [9]:
data['year'] = 2020
data.head()

,geo_id,block_group,census_tract,county,state,est_total,moe_total,est_tot_in_labor_force,moe_tot_in_labor_force,est_tot_civilian,moe_tot_civilian,est_tot_civilian_labor_employed,moe_tot_civilian_labor_employed,est_tot_civilian_unemployed,moe_tot_civilian_unemployed,est_tot_armed_forces,moe_tot_armed_forces,est_total_not_in_labor_force,moe_total_not_in_labor_force,year
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,1034,180,637,132,637,132,637,132,0,12,0,12,397,117,2020
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,1146,258,752,197,752,197,653,180,99,140,0,12,394,127,2020
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,759,165,383,110,383,110,379,111,4,5,0,12,376,88,2020
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,707,133,351,90,351,90,335,86,16,14,0,12,356,100,2020
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,770,151,448,105,448,105,420,99,28,21,0,12,322,114,2020

In [10]:
csv_file_path = "2020_Employment_Status.csv"
data.to_csv(csv_file_path, index=False)
csv_file_path

'2020_Employment_Status.csv'