In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv("ACSDT5Y2022.B23025-Data.csv")
data.head()

,GEO_ID,NAME,B23025_001E,B23025_001M,B23025_002E,B23025_002M,B23025_003E,B23025_003M,B23025_004E,B23025_004M,B23025_005E,B23025_005M,B23025_006E,B23025_006M,B23025_007E,B23025_007M,Unnamed: 16
0,Geography,Geographic Area Name,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!In labor force:,Margin of Error!!Total:!!In labor force:,Estimate!!Total:!!In labor force:!!Civilian la...,Margin of Error!!Total:!!In labor force:!!Civi...,Estimate!!Total:!!In labor force:!!Civilian la...,Margin of Error!!Total:!!In labor force:!!Civi...,Estimate!!Total:!!In labor force:!!Civilian la...,Margin of Error!!Total:!!In labor force:!!Civi...,Estimate!!Total:!!In labor force:!!Armed Forces,Margin of Error!!Total:!!In labor force:!!Arme...,Estimate!!Total:!!Not in labor force,Margin of Error!!Total:!!Not in labor force,NaN
1,1500000US290019501001,Block Group 1; Census Tract 9501; Adair County...,931,132,593,117,593,117,577,117,16,23,0,12,338,86,NaN
2,1500000US290019501002,Block Group 2; Census Tract 9501; Adair County...,1325,280,839,228,839,228,706,200,133,150,0,12,486,144,NaN
3,1500000US290019501003,Block Group 3; Census Tract 9501; Adair County...,744,191,393,130,393,130,389,130,4,5,0,12,351,100,NaN
4,1500000US290019502001,Block Group 1; Census Tract 9502; Adair County...,739,173,426,122,426,122,407,115,19,19,0,12,313,87,NaN

In [2]:
data[['BLOCK_GROUP', 'CENSUS_TRACT', 'COUNTIES', 'STATE']] = data['NAME'].str.split(';', expand=True)
data.drop(columns=['NAME'], inplace=True)
data['BLOCK_GROUP'] = data['BLOCK_GROUP'].str.strip()
data['CENSUS_TRACT'] = data['CENSUS_TRACT'].str.replace('County', '').str.strip()
data['COUNTIES'] = data['COUNTIES'].str.strip()
data['STATE'] = data['STATE'].str.strip()
data.head()

,GEO_ID,B23025_001E,B23025_001M,B23025_002E,B23025_002M,B23025_003E,B23025_003M,B23025_004E,B23025_004M,B23025_005E,B23025_005M,B23025_006E,B23025_006M,B23025_007E,B23025_007M,Unnamed: 16,BLOCK_GROUP,CENSUS_TRACT,COUNTIES,STATE
0,Geography,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!In labor force:,Margin of Error!!Total:!!In labor force:,Estimate!!Total:!!In labor force:!!Civilian la...,Margin of Error!!Total:!!In labor force:!!Civi...,Estimate!!Total:!!In labor force:!!Civilian la...,Margin of Error!!Total:!!In labor force:!!Civi...,Estimate!!Total:!!In labor force:!!Civilian la...,Margin of Error!!Total:!!In labor force:!!Civi...,Estimate!!Total:!!In labor force:!!Armed Forces,Margin of Error!!Total:!!In labor force:!!Arme...,Estimate!!Total:!!Not in labor force,Margin of Error!!Total:!!Not in labor force,NaN,Geographic Area Name,None,None,None
1,1500000US290019501001,931,132,593,117,593,117,577,117,16,23,0,12,338,86,NaN,Block Group 1,Census Tract 9501,Adair County,Missouri
2,1500000US290019501002,1325,280,839,228,839,228,706,200,133,150,0,12,486,144,NaN,Block Group 2,Census Tract 9501,Adair County,Missouri
3,1500000US290019501003,744,191,393,130,393,130,389,130,4,5,0,12,351,100,NaN,Block Group 3,Census Tract 9501,Adair County,Missouri
4,1500000US290019502001,739,173,426,122,426,122,407,115,19,19,0,12,313,87,NaN,Block Group 1,Census Tract 9502,Adair County,Missouri

In [3]:
data = data[['GEO_ID', 'BLOCK_GROUP', 'CENSUS_TRACT', 'COUNTIES', 'STATE'] + 
            [col for col in data.columns if col not in ['GEO_ID', 'BLOCK_GROUP', 'CENSUS_TRACT',
                                                        'COUNTIES', 'STATE']]]
data.head()

,GEO_ID,BLOCK_GROUP,CENSUS_TRACT,COUNTIES,STATE,B23025_001E,B23025_001M,B23025_002E,B23025_002M,B23025_003E,B23025_003M,B23025_004E,B23025_004M,B23025_005E,B23025_005M,B23025_006E,B23025_006M,B23025_007E,B23025_007M,Unnamed: 16
0,Geography,Geographic Area Name,None,None,None,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!In labor force:,Margin of Error!!Total:!!In labor force:,Estimate!!Total:!!In labor force:!!Civilian la...,Margin of Error!!Total:!!In labor force:!!Civi...,Estimate!!Total:!!In labor force:!!Civilian la...,Margin of Error!!Total:!!In labor force:!!Civi...,Estimate!!Total:!!In labor force:!!Civilian la...,Margin of Error!!Total:!!In labor force:!!Civi...,Estimate!!Total:!!In labor force:!!Armed Forces,Margin of Error!!Total:!!In labor force:!!Arme...,Estimate!!Total:!!Not in labor force,Margin of Error!!Total:!!Not in labor force,NaN
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,931,132,593,117,593,117,577,117,16,23,0,12,338,86,NaN
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,1325,280,839,228,839,228,706,200,133,150,0,12,486,144,NaN
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,744,191,393,130,393,130,389,130,4,5,0,12,351,100,NaN
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,739,173,426,122,426,122,407,115,19,19,0,12,313,87,NaN

In [4]:
new_headers = data.iloc[0, 5:].tolist()
new_headers = ['GEO_ID', 'BLOCK_GROUP', 'CENSUS_TRACT', 'COUNTIES', 'STATE'] + new_headers
data.columns = new_headers
data = data.drop(index=0)
data.head()

,GEO_ID,BLOCK_GROUP,CENSUS_TRACT,COUNTIES,STATE,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!In labor force:,Margin of Error!!Total:!!In labor force:,Estimate!!Total:!!In labor force:!!Civilian labor force:,Margin of Error!!Total:!!In labor force:!!Civilian labor force:,Estimate!!Total:!!In labor force:!!Civilian labor force:!!Employed,Margin of Error!!Total:!!In labor force:!!Civilian labor force:!!Employed,Estimate!!Total:!!In labor force:!!Civilian labor force:!!Unemployed,Margin of Error!!Total:!!In labor force:!!Civilian labor force:!!Unemployed,Estimate!!Total:!!In labor force:!!Armed Forces,Margin of Error!!Total:!!In labor force:!!Armed Forces,Estimate!!Total:!!Not in labor force,Margin of Error!!Total:!!Not in labor force,NaN
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,931,132,593,117,593,117,577,117,16,23,0,12,338,86,NaN
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,1325,280,839,228,839,228,706,200,133,150,0,12,486,144,NaN
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,744,191,393,130,393,130,389,130,4,5,0,12,351,100,NaN
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,739,173,426,122,426,122,407,115,19,19,0,12,313,87,NaN
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,813,202,417,121,417,121,403,118,14,13,0,12,396,134,NaN

In [5]:
def clean_column_name(column_name):
    column_name = str(column_name)
    column_name = column_name.replace("!!", "_")
    column_name = column_name.replace(" ", "_")
    column_name = column_name.lower()
    column_name = ''.join(char if char.isalnum() or char == '_' else '' for char in column_name)
    return column_name

cleaned_column_names = [clean_column_name(col) for col in data.columns]
data.columns = cleaned_column_names
data.head()

,geo_id,block_group,census_tract,counties,state,estimate_total,margin_of_error_total,estimate_total_in_labor_force,margin_of_error_total_in_labor_force,estimate_total_in_labor_force_civilian_labor_force,margin_of_error_total_in_labor_force_civilian_labor_force,estimate_total_in_labor_force_civilian_labor_force_employed,margin_of_error_total_in_labor_force_civilian_labor_force_employed,estimate_total_in_labor_force_civilian_labor_force_unemployed,margin_of_error_total_in_labor_force_civilian_labor_force_unemployed,estimate_total_in_labor_force_armed_forces,margin_of_error_total_in_labor_force_armed_forces,estimate_total_not_in_labor_force,margin_of_error_total_not_in_labor_force,nan
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,931,132,593,117,593,117,577,117,16,23,0,12,338,86,NaN
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,1325,280,839,228,839,228,706,200,133,150,0,12,486,144,NaN
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,744,191,393,130,393,130,389,130,4,5,0,12,351,100,NaN
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,739,173,426,122,426,122,407,115,19,19,0,12,313,87,NaN
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,813,202,417,121,417,121,403,118,14,13,0,12,396,134,NaN

In [6]:
if 'nan' in data.columns:
    data = data.drop(columns=['nan'])
data.head()

,geo_id,block_group,census_tract,counties,state,estimate_total,margin_of_error_total,estimate_total_in_labor_force,margin_of_error_total_in_labor_force,estimate_total_in_labor_force_civilian_labor_force,margin_of_error_total_in_labor_force_civilian_labor_force,estimate_total_in_labor_force_civilian_labor_force_employed,margin_of_error_total_in_labor_force_civilian_labor_force_employed,estimate_total_in_labor_force_civilian_labor_force_unemployed,margin_of_error_total_in_labor_force_civilian_labor_force_unemployed,estimate_total_in_labor_force_armed_forces,margin_of_error_total_in_labor_force_armed_forces,estimate_total_not_in_labor_force,margin_of_error_total_not_in_labor_force
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,931,132,593,117,593,117,577,117,16,23,0,12,338,86
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,1325,280,839,228,839,228,706,200,133,150,0,12,486,144
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,744,191,393,130,393,130,389,130,4,5,0,12,351,100
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,739,173,426,122,426,122,407,115,19,19,0,12,313,87
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,813,202,417,121,417,121,403,118,14,13,0,12,396,134

In [7]:
data.columns.tolist()

['geo_id',
 'block_group',
 'census_tract',
 'counties',
 'state',
 'estimate_total',
 'margin_of_error_total',
 'estimate_total_in_labor_force',
 'margin_of_error_total_in_labor_force',
 'estimate_total_in_labor_force_civilian_labor_force',
 'margin_of_error_total_in_labor_force_civilian_labor_force',
 'estimate_total_in_labor_force_civilian_labor_force_employed',
 'margin_of_error_total_in_labor_force_civilian_labor_force_employed',
 'estimate_total_in_labor_force_civilian_labor_force_unemployed',
 'margin_of_error_total_in_labor_force_civilian_labor_force_unemployed',
 'estimate_total_in_labor_force_armed_forces',
 'margin_of_error_total_in_labor_force_armed_forces',
 'estimate_total_not_in_labor_force',
 'margin_of_error_total_not_in_labor_force']

In [8]:
column_mapping = {
    'geo_id': 'geo_id',
    'block_group': 'block_group',
    'census_tract': 'census_tract',
    'counties': 'county',
    'state': 'state',
    'estimate_total': 'est_total',
    'margin_of_error_total': 'moe_total',
    'estimate_total_in_labor_force' : 'est_tot_in_labor_force',
    'margin_of_error_total_in_labor_force' : 'moe_tot_in_labor_force',
    'estimate_total_in_labor_force_civilian_labor_force' : 'est_tot_civilian',
    'margin_of_error_total_in_labor_force_civilian_labor_force' : 'moe_tot_civilian',
    'estimate_total_in_labor_force_civilian_labor_force_employed' : 'est_tot_civilian_labor_employed',
    'margin_of_error_total_in_labor_force_civilian_labor_force_employed' : 'moe_tot_civilian_labor_employed',
    'estimate_total_in_labor_force_civilian_labor_force_unemployed' : 'est_tot_civilian_unemployed',
    'margin_of_error_total_in_labor_force_civilian_labor_force_unemployed' : 'moe_tot_civilian_unemployed',
    'estimate_total_in_labor_force_armed_forces' : 'est_tot_armed_forces',
    'margin_of_error_total_in_labor_force_armed_forces' : 'moe_tot_armed_forces',
    'estimate_total_not_in_labor_force' : 'est_total_not_in_labor_force',
    'margin_of_error_total_not_in_labor_force' : 'moe_total_not_in_labor_force'
}

data.rename(columns=column_mapping, inplace=True)
print("Column names after renaming:")
print(data.columns)

numeric_columns = [
    'est_total',
    'moe_total',
    'est_tot_in_labor_force',
    'moe_tot_in_labor_force',
    'est_tot_civilian',
    'moe_tot_civilian',
    'est_tot_civilian_labor_employed',
    'moe_tot_civilian_labor_employed',
    'est_tot_civilian_unemployed',
    'moe_tot_civilian_unemployed',
    'est_tot_armed_forces',
    'moe_tot_armed_forces',
    'est_total_not_in_labor_force',
    'moe_total_not_in_labor_force'
]

missing_columns = [col for col in numeric_columns if col not in data.columns]
if missing_columns:
    print(f"These columns are missing after renaming: {missing_columns}")
else:
    data.replace(['**', '***'], np.nan, inplace=True)
    data[numeric_columns] = data[numeric_columns].replace({',': '', '-': np.nan, r'\+': ''}, regex=True)
    data[numeric_columns] = data[numeric_columns].apply(pd.to_numeric, errors='coerce')

data.fillna('', inplace=True)
if 'nan' in data.columns:
    data.drop(columns=['nan'], inplace=True)
data.head()

Column names after renaming:
Index(['geo_id', 'block_group', 'census_tract', 'county', 'state', 'est_total',
       'moe_total', 'est_tot_in_labor_force', 'moe_tot_in_labor_force',
       'est_tot_civilian', 'moe_tot_civilian',
       'est_tot_civilian_labor_employed', 'moe_tot_civilian_labor_employed',
       'est_tot_civilian_unemployed', 'moe_tot_civilian_unemployed',
       'est_tot_armed_forces', 'moe_tot_armed_forces',
       'est_total_not_in_labor_force', 'moe_total_not_in_labor_force'],
      dtype='object')

,geo_id,block_group,census_tract,county,state,est_total,moe_total,est_tot_in_labor_force,moe_tot_in_labor_force,est_tot_civilian,moe_tot_civilian,est_tot_civilian_labor_employed,moe_tot_civilian_labor_employed,est_tot_civilian_unemployed,moe_tot_civilian_unemployed,est_tot_armed_forces,moe_tot_armed_forces,est_total_not_in_labor_force,moe_total_not_in_labor_force
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,931,132,593,117,593,117,577,117,16,23,0,12,338,86
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,1325,280,839,228,839,228,706,200,133,150,0,12,486,144
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,744,191,393,130,393,130,389,130,4,5,0,12,351,100
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,739,173,426,122,426,122,407,115,19,19,0,12,313,87
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,813,202,417,121,417,121,403,118,14,13,0,12,396,134

In [9]:
data['year'] = 2022
data.head()

,geo_id,block_group,census_tract,county,state,est_total,moe_total,est_tot_in_labor_force,moe_tot_in_labor_force,est_tot_civilian,moe_tot_civilian,est_tot_civilian_labor_employed,moe_tot_civilian_labor_employed,est_tot_civilian_unemployed,moe_tot_civilian_unemployed,est_tot_armed_forces,moe_tot_armed_forces,est_total_not_in_labor_force,moe_total_not_in_labor_force,year
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,931,132,593,117,593,117,577,117,16,23,0,12,338,86,2022
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,1325,280,839,228,839,228,706,200,133,150,0,12,486,144,2022
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,744,191,393,130,393,130,389,130,4,5,0,12,351,100,2022
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,739,173,426,122,426,122,407,115,19,19,0,12,313,87,2022
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,813,202,417,121,417,121,403,118,14,13,0,12,396,134,2022

In [10]:
csv_file_path = "2022_Employment_Status.csv"
data.to_csv(csv_file_path, index=False)
csv_file_path

'2022_Employment_Status.csv'