In [1]:
import pandas as pd

data = pd.read_csv("ACSDT5Y2021.B25075-Data.csv")
data.head()

,GEO_ID,NAME,B25075_001E,B25075_001M,B25075_002E,B25075_002M,B25075_003E,B25075_003M,B25075_004E,B25075_004M,...,B25075_023M,B25075_024E,B25075_024M,B25075_025E,B25075_025M,B25075_026E,B25075_026M,B25075_027E,B25075_027M,Unnamed: 56
0,Geography,Geographic Area Name,Estimate!!Total:,Margin of Error!!Total:,"Estimate!!Total:!!Less than $10,000","Margin of Error!!Total:!!Less than $10,000","Estimate!!Total:!!$10,000 to $14,999","Margin of Error!!Total:!!$10,000 to $14,999","Estimate!!Total:!!$15,000 to $19,999","Margin of Error!!Total:!!$15,000 to $19,999",...,"Margin of Error!!Total:!!$500,000 to $749,999","Estimate!!Total:!!$750,000 to $999,999","Margin of Error!!Total:!!$750,000 to $999,999","Estimate!!Total:!!$1,000,000 to $1,499,999","Margin of Error!!Total:!!$1,000,000 to $1,499,999","Estimate!!Total:!!$1,500,000 to $1,999,999","Margin of Error!!Total:!!$1,500,000 to $1,999,999","Estimate!!Total:!!$2,000,000 or more","Margin of Error!!Total:!!$2,000,000 or more",NaN
1,1500000US290019501001,"Block Group 1, Census Tract 9501, Adair County...",411,70,0,12,0,12,0,12,...,12,0,12,0,12,0,12,0,12,NaN
2,1500000US290019501002,"Block Group 2, Census Tract 9501, Adair County...",482,86,11,15,5,9,0,12,...,17,0,12,0,12,0,12,0,12,NaN
3,1500000US290019501003,"Block Group 3, Census Tract 9501, Adair County...",298,57,7,6,16,15,4,6,...,5,0,12,0,12,0,12,0,12,NaN
4,1500000US290019502001,"Block Group 1, Census Tract 9502, Adair County...",265,58,45,32,7,8,20,17,...,12,0,12,0,12,0,12,0,12,NaN

In [2]:
data[['BLOCK_GROUP', 'CENSUS_TRACT', 'COUNTIES', 'STATE']] = data['NAME'].str.split(',', expand=True)
data.drop(columns=['NAME'], inplace=True)
data['BLOCK_GROUP'] = data['BLOCK_GROUP'].str.strip()
data['CENSUS_TRACT'] = data['CENSUS_TRACT'].str.replace('County', '').str.strip()
data['COUNTIES'] = data['COUNTIES'].str.strip()
data['STATE'] = data['STATE'].str.strip()
data.head()

,GEO_ID,B25075_001E,B25075_001M,B25075_002E,B25075_002M,B25075_003E,B25075_003M,B25075_004E,B25075_004M,B25075_005E,...,B25075_025M,B25075_026E,B25075_026M,B25075_027E,B25075_027M,Unnamed: 56,BLOCK_GROUP,CENSUS_TRACT,COUNTIES,STATE
0,Geography,Estimate!!Total:,Margin of Error!!Total:,"Estimate!!Total:!!Less than $10,000","Margin of Error!!Total:!!Less than $10,000","Estimate!!Total:!!$10,000 to $14,999","Margin of Error!!Total:!!$10,000 to $14,999","Estimate!!Total:!!$15,000 to $19,999","Margin of Error!!Total:!!$15,000 to $19,999","Estimate!!Total:!!$20,000 to $24,999",...,"Margin of Error!!Total:!!$1,000,000 to $1,499,999","Estimate!!Total:!!$1,500,000 to $1,999,999","Margin of Error!!Total:!!$1,500,000 to $1,999,999","Estimate!!Total:!!$2,000,000 or more","Margin of Error!!Total:!!$2,000,000 or more",NaN,Geographic Area Name,None,None,None
1,1500000US290019501001,411,70,0,12,0,12,0,12,0,...,12,0,12,0,12,NaN,Block Group 1,Census Tract 9501,Adair County,Missouri
2,1500000US290019501002,482,86,11,15,5,9,0,12,19,...,12,0,12,0,12,NaN,Block Group 2,Census Tract 9501,Adair County,Missouri
3,1500000US290019501003,298,57,7,6,16,15,4,6,14,...,12,0,12,0,12,NaN,Block Group 3,Census Tract 9501,Adair County,Missouri
4,1500000US290019502001,265,58,45,32,7,8,20,17,5,...,12,0,12,0,12,NaN,Block Group 1,Census Tract 9502,Adair County,Missouri

In [3]:
data = data[['GEO_ID', 'BLOCK_GROUP', 'CENSUS_TRACT', 'COUNTIES', 'STATE'] + 
            [col for col in data.columns if col not in ['GEO_ID', 'BLOCK_GROUP', 'CENSUS_TRACT',
                                                        'COUNTIES', 'STATE']]]
data.head()

,GEO_ID,BLOCK_GROUP,CENSUS_TRACT,COUNTIES,STATE,B25075_001E,B25075_001M,B25075_002E,B25075_002M,B25075_003E,...,B25075_023M,B25075_024E,B25075_024M,B25075_025E,B25075_025M,B25075_026E,B25075_026M,B25075_027E,B25075_027M,Unnamed: 56
0,Geography,Geographic Area Name,None,None,None,Estimate!!Total:,Margin of Error!!Total:,"Estimate!!Total:!!Less than $10,000","Margin of Error!!Total:!!Less than $10,000","Estimate!!Total:!!$10,000 to $14,999",...,"Margin of Error!!Total:!!$500,000 to $749,999","Estimate!!Total:!!$750,000 to $999,999","Margin of Error!!Total:!!$750,000 to $999,999","Estimate!!Total:!!$1,000,000 to $1,499,999","Margin of Error!!Total:!!$1,000,000 to $1,499,999","Estimate!!Total:!!$1,500,000 to $1,999,999","Margin of Error!!Total:!!$1,500,000 to $1,999,999","Estimate!!Total:!!$2,000,000 or more","Margin of Error!!Total:!!$2,000,000 or more",NaN
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,411,70,0,12,0,...,12,0,12,0,12,0,12,0,12,NaN
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,482,86,11,15,5,...,17,0,12,0,12,0,12,0,12,NaN
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,298,57,7,6,16,...,5,0,12,0,12,0,12,0,12,NaN
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,265,58,45,32,7,...,12,0,12,0,12,0,12,0,12,NaN

In [4]:
new_headers = data.iloc[0, 5:].tolist()
new_headers = ['GEO_ID', 'BLOCK_GROUP', 'CENSUS_TRACT', 'COUNTIES', 'STATE'] + new_headers
data.columns = new_headers
data = data.drop(index=0)
data.head()

,GEO_ID,BLOCK_GROUP,CENSUS_TRACT,COUNTIES,STATE,Estimate!!Total:,Margin of Error!!Total:,"Estimate!!Total:!!Less than $10,000","Margin of Error!!Total:!!Less than $10,000","Estimate!!Total:!!$10,000 to $14,999",...,"Margin of Error!!Total:!!$500,000 to $749,999","Estimate!!Total:!!$750,000 to $999,999","Margin of Error!!Total:!!$750,000 to $999,999","Estimate!!Total:!!$1,000,000 to $1,499,999","Margin of Error!!Total:!!$1,000,000 to $1,499,999","Estimate!!Total:!!$1,500,000 to $1,999,999","Margin of Error!!Total:!!$1,500,000 to $1,999,999","Estimate!!Total:!!$2,000,000 or more","Margin of Error!!Total:!!$2,000,000 or more",NaN
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,411,70,0,12,0,...,12,0,12,0,12,0,12,0,12,NaN
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,482,86,11,15,5,...,17,0,12,0,12,0,12,0,12,NaN
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,298,57,7,6,16,...,5,0,12,0,12,0,12,0,12,NaN
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,265,58,45,32,7,...,12,0,12,0,12,0,12,0,12,NaN
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,304,70,6,10,0,...,5,0,12,0,12,3,5,3,5,NaN

In [5]:
data.columns = data.columns.astype(str)
def clean_column_name(column_name):
    column_name = column_name.replace("!!", "_")
    column_name = column_name.replace(" ", "_")
    column_name = column_name.lower()
    column_name = ''.join(char if char.isalnum() or char == '_' else '' for char in column_name)
    return column_name

cleaned_column_names = [clean_column_name(col) for col in data.columns]
data.columns = cleaned_column_names
data.head()

,geo_id,block_group,census_tract,counties,state,estimate_total,margin_of_error_total,estimate_total_less_than_10000,margin_of_error_total_less_than_10000,estimate_total_10000_to_14999,...,margin_of_error_total_500000_to_749999,estimate_total_750000_to_999999,margin_of_error_total_750000_to_999999,estimate_total_1000000_to_1499999,margin_of_error_total_1000000_to_1499999,estimate_total_1500000_to_1999999,margin_of_error_total_1500000_to_1999999,estimate_total_2000000_or_more,margin_of_error_total_2000000_or_more,nan
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,411,70,0,12,0,...,12,0,12,0,12,0,12,0,12,NaN
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,482,86,11,15,5,...,17,0,12,0,12,0,12,0,12,NaN
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,298,57,7,6,16,...,5,0,12,0,12,0,12,0,12,NaN
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,265,58,45,32,7,...,12,0,12,0,12,0,12,0,12,NaN
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,304,70,6,10,0,...,5,0,12,0,12,3,5,3,5,NaN

In [6]:
data['year'] = 2021
data.head()

,geo_id,block_group,census_tract,counties,state,estimate_total,margin_of_error_total,estimate_total_less_than_10000,margin_of_error_total_less_than_10000,estimate_total_10000_to_14999,...,estimate_total_750000_to_999999,margin_of_error_total_750000_to_999999,estimate_total_1000000_to_1499999,margin_of_error_total_1000000_to_1499999,estimate_total_1500000_to_1999999,margin_of_error_total_1500000_to_1999999,estimate_total_2000000_or_more,margin_of_error_total_2000000_or_more,nan,year
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,411,70,0,12,0,...,0,12,0,12,0,12,0,12,NaN,2021
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,482,86,11,15,5,...,0,12,0,12,0,12,0,12,NaN,2021
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,298,57,7,6,16,...,0,12,0,12,0,12,0,12,NaN,2021
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,265,58,45,32,7,...,0,12,0,12,0,12,0,12,NaN,2021
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,304,70,6,10,0,...,0,12,0,12,3,5,3,5,NaN,2021

In [7]:
data.drop(columns=['nan'], inplace=True)
data.head()

,geo_id,block_group,census_tract,counties,state,estimate_total,margin_of_error_total,estimate_total_less_than_10000,margin_of_error_total_less_than_10000,estimate_total_10000_to_14999,...,margin_of_error_total_500000_to_749999,estimate_total_750000_to_999999,margin_of_error_total_750000_to_999999,estimate_total_1000000_to_1499999,margin_of_error_total_1000000_to_1499999,estimate_total_1500000_to_1999999,margin_of_error_total_1500000_to_1999999,estimate_total_2000000_or_more,margin_of_error_total_2000000_or_more,year
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,411,70,0,12,0,...,12,0,12,0,12,0,12,0,12,2021
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,482,86,11,15,5,...,17,0,12,0,12,0,12,0,12,2021
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,298,57,7,6,16,...,5,0,12,0,12,0,12,0,12,2021
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,265,58,45,32,7,...,12,0,12,0,12,0,12,0,12,2021
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,304,70,6,10,0,...,5,0,12,0,12,3,5,3,5,2021

In [8]:
csv_file_path = "2021_Home_Values.csv"
data.to_csv(csv_file_path, index=False)
csv_file_path

'2021_Home_Values.csv'