In [1]:
import pandas as pd

data = pd.read_csv("ACSDT5Y2021.B19001-Data.csv")
data.head()

,GEO_ID,NAME,B19001_001E,B19001_001M,B19001_002E,B19001_002M,B19001_003E,B19001_003M,B19001_004E,B19001_004M,...,B19001_013M,B19001_014E,B19001_014M,B19001_015E,B19001_015M,B19001_016E,B19001_016M,B19001_017E,B19001_017M,Unnamed: 36
0,Geography,Geographic Area Name,Estimate!!Total:,Margin of Error!!Total:,"Estimate!!Total:!!Less than $10,000","Margin of Error!!Total:!!Less than $10,000","Estimate!!Total:!!$10,000 to $14,999","Margin of Error!!Total:!!$10,000 to $14,999","Estimate!!Total:!!$15,000 to $19,999","Margin of Error!!Total:!!$15,000 to $19,999",...,"Margin of Error!!Total:!!$75,000 to $99,999","Estimate!!Total:!!$100,000 to $124,999","Margin of Error!!Total:!!$100,000 to $124,999","Estimate!!Total:!!$125,000 to $149,999","Margin of Error!!Total:!!$125,000 to $149,999","Estimate!!Total:!!$150,000 to $199,999","Margin of Error!!Total:!!$150,000 to $199,999","Estimate!!Total:!!$200,000 or more","Margin of Error!!Total:!!$200,000 or more",NaN
1,1500000US290019501001,"Block Group 1, Census Tract 9501, Adair County...",427,70,0,12,12,17,20,21,...,46,51,32,23,18,13,14,12,14,NaN
2,1500000US290019501002,"Block Group 2, Census Tract 9501, Adair County...",546,87,7,8,65,67,15,19,...,43,36,28,44,31,22,21,8,11,NaN
3,1500000US290019501003,"Block Group 3, Census Tract 9501, Adair County...",339,59,10,13,28,23,14,12,...,20,13,9,15,17,16,10,9,10,NaN
4,1500000US290019502001,"Block Group 1, Census Tract 9502, Adair County...",326,65,30,18,50,27,27,19,...,33,32,26,0,12,0,12,3,5,NaN

In [2]:
data[['BLOCK_GROUP', 'CENSUS_TRACT', 'COUNTIES', 'STATE']] = data['NAME'].str.split(',', expand=True)
data.drop(columns=['NAME'], inplace=True)
data['BLOCK_GROUP'] = data['BLOCK_GROUP'].str.strip()
data['CENSUS_TRACT'] = data['CENSUS_TRACT'].str.replace('County', '').str.strip()
data['COUNTIES'] = data['COUNTIES'].str.strip()
data['STATE'] = data['STATE'].str.strip()
data.head()

,GEO_ID,B19001_001E,B19001_001M,B19001_002E,B19001_002M,B19001_003E,B19001_003M,B19001_004E,B19001_004M,B19001_005E,...,B19001_015M,B19001_016E,B19001_016M,B19001_017E,B19001_017M,Unnamed: 36,BLOCK_GROUP,CENSUS_TRACT,COUNTIES,STATE
0,Geography,Estimate!!Total:,Margin of Error!!Total:,"Estimate!!Total:!!Less than $10,000","Margin of Error!!Total:!!Less than $10,000","Estimate!!Total:!!$10,000 to $14,999","Margin of Error!!Total:!!$10,000 to $14,999","Estimate!!Total:!!$15,000 to $19,999","Margin of Error!!Total:!!$15,000 to $19,999","Estimate!!Total:!!$20,000 to $24,999",...,"Margin of Error!!Total:!!$125,000 to $149,999","Estimate!!Total:!!$150,000 to $199,999","Margin of Error!!Total:!!$150,000 to $199,999","Estimate!!Total:!!$200,000 or more","Margin of Error!!Total:!!$200,000 or more",NaN,Geographic Area Name,None,None,None
1,1500000US290019501001,427,70,0,12,12,17,20,21,8,...,18,13,14,12,14,NaN,Block Group 1,Census Tract 9501,Adair County,Missouri
2,1500000US290019501002,546,87,7,8,65,67,15,19,21,...,31,22,21,8,11,NaN,Block Group 2,Census Tract 9501,Adair County,Missouri
3,1500000US290019501003,339,59,10,13,28,23,14,12,22,...,17,16,10,9,10,NaN,Block Group 3,Census Tract 9501,Adair County,Missouri
4,1500000US290019502001,326,65,30,18,50,27,27,19,19,...,12,0,12,3,5,NaN,Block Group 1,Census Tract 9502,Adair County,Missouri

In [3]:
data = data[['GEO_ID', 'BLOCK_GROUP', 'CENSUS_TRACT', 'COUNTIES', 'STATE'] + 
            [col for col in data.columns if col not in ['GEO_ID', 'BLOCK_GROUP', 'CENSUS_TRACT',
                                                        'COUNTIES', 'STATE']]]

data.head()

,GEO_ID,BLOCK_GROUP,CENSUS_TRACT,COUNTIES,STATE,B19001_001E,B19001_001M,B19001_002E,B19001_002M,B19001_003E,...,B19001_013M,B19001_014E,B19001_014M,B19001_015E,B19001_015M,B19001_016E,B19001_016M,B19001_017E,B19001_017M,Unnamed: 36
0,Geography,Geographic Area Name,None,None,None,Estimate!!Total:,Margin of Error!!Total:,"Estimate!!Total:!!Less than $10,000","Margin of Error!!Total:!!Less than $10,000","Estimate!!Total:!!$10,000 to $14,999",...,"Margin of Error!!Total:!!$75,000 to $99,999","Estimate!!Total:!!$100,000 to $124,999","Margin of Error!!Total:!!$100,000 to $124,999","Estimate!!Total:!!$125,000 to $149,999","Margin of Error!!Total:!!$125,000 to $149,999","Estimate!!Total:!!$150,000 to $199,999","Margin of Error!!Total:!!$150,000 to $199,999","Estimate!!Total:!!$200,000 or more","Margin of Error!!Total:!!$200,000 or more",NaN
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,427,70,0,12,12,...,46,51,32,23,18,13,14,12,14,NaN
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,546,87,7,8,65,...,43,36,28,44,31,22,21,8,11,NaN
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,339,59,10,13,28,...,20,13,9,15,17,16,10,9,10,NaN
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,326,65,30,18,50,...,33,32,26,0,12,0,12,3,5,NaN

In [4]:
new_headers = data.iloc[0, 5:].tolist()
new_headers = ['GEO_ID', 'BLOCK_GROUP', 'CENSUS_TRACT', 'COUNTIES', 'STATE'] + new_headers
data.columns = new_headers
data = data.drop(index=0)
data.head()

,GEO_ID,BLOCK_GROUP,CENSUS_TRACT,COUNTIES,STATE,Estimate!!Total:,Margin of Error!!Total:,"Estimate!!Total:!!Less than $10,000","Margin of Error!!Total:!!Less than $10,000","Estimate!!Total:!!$10,000 to $14,999",...,"Margin of Error!!Total:!!$75,000 to $99,999","Estimate!!Total:!!$100,000 to $124,999","Margin of Error!!Total:!!$100,000 to $124,999","Estimate!!Total:!!$125,000 to $149,999","Margin of Error!!Total:!!$125,000 to $149,999","Estimate!!Total:!!$150,000 to $199,999","Margin of Error!!Total:!!$150,000 to $199,999","Estimate!!Total:!!$200,000 or more","Margin of Error!!Total:!!$200,000 or more",NaN
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,427,70,0,12,12,...,46,51,32,23,18,13,14,12,14,NaN
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,546,87,7,8,65,...,43,36,28,44,31,22,21,8,11,NaN
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,339,59,10,13,28,...,20,13,9,15,17,16,10,9,10,NaN
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,326,65,30,18,50,...,33,32,26,0,12,0,12,3,5,NaN
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,345,79,25,25,42,...,21,32,21,16,25,34,44,11,11,NaN

In [5]:
data.columns = data.columns.astype(str)
def clean_column_name(column_name):
    column_name = column_name.replace("!!", "_")
    column_name = column_name.replace(" ", "_")
    column_name = column_name.lower()
    column_name = ''.join(char if char.isalnum() or char == '_' else '' for char in column_name)
    return column_name

cleaned_column_names = [clean_column_name(col) for col in data.columns]
data.columns = cleaned_column_names
data.drop(columns=['nan'], inplace=True)s
data.head()

,geo_id,block_group,census_tract,counties,state,estimate_total,margin_of_error_total,estimate_total_less_than_10000,margin_of_error_total_less_than_10000,estimate_total_10000_to_14999,...,estimate_total_75000_to_99999,margin_of_error_total_75000_to_99999,estimate_total_100000_to_124999,margin_of_error_total_100000_to_124999,estimate_total_125000_to_149999,margin_of_error_total_125000_to_149999,estimate_total_150000_to_199999,margin_of_error_total_150000_to_199999,estimate_total_200000_or_more,margin_of_error_total_200000_or_more
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,427,70,0,12,12,...,93,46,51,32,23,18,13,14,12,14
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,546,87,7,8,65,...,90,43,36,28,44,31,22,21,8,11
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,339,59,10,13,28,...,33,20,13,9,15,17,16,10,9,10
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,326,65,30,18,50,...,53,33,32,26,0,12,0,12,3,5
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,345,79,25,25,42,...,22,21,32,21,16,25,34,44,11,11

In [6]:
column_mapping = {
    'geo_id': 'geo_id',
    'block_group': 'block_group',
    'census_tract': 'census_tract',
    'counties': 'county',
    'state': 'state',
    'estimate_total': 'est_total',
    'margin_of_error_total': 'moe_total',
    'estimate_total_less_than_10000': 'est_less_than_10k',
    'margin_of_error_total_less_than_10000': 'moe_less_than_10k',
    'estimate_total_10000_to_14999': 'est_10to15k',
    'margin_of_error_total_10000_to_14999': 'moe_10to15k',
    'estimate_total_15000_to_19999': 'est_15to20k',
    'margin_of_error_total_15000_to_19999': 'moe_15to20k',
    'estimate_total_20000_to_24999': 'est_20to25k',
    'margin_of_error_total_20000_to_24999': 'moe_20to25k',
    'estimate_total_25000_to_29999': 'est_25to30k',
    'margin_of_error_total_25000_to_29999': 'moe_25to30k',
    'estimate_total_30000_to_34999': 'est_30to35k',
    'margin_of_error_total_30000_to_34999': 'moe_30to35k',
    'estimate_total_35000_to_39999': 'est_35to40k',
    'margin_of_error_total_35000_to_39999': 'moe_35to40k',
    'estimate_total_40000_to_44999': 'est_40to45k',
    'margin_of_error_total_40000_to_44999': 'moe_40to45k',
    'estimate_total_45000_to_49999': 'est_45to50k',
    'margin_of_error_total_45000_to_49999': 'moe_45to50k',
    'estimate_total_50000_to_59999': 'est_50to60k',
    'margin_of_error_total_50000_to_59999': 'moe_50to60k',
    'estimate_total_60000_to_74999': 'est_60to75k',
    'margin_of_error_total_60000_to_74999': 'moe_60to75k',
    'estimate_total_75000_to_99999': 'est_75to100k',
    'margin_of_error_total_75000_to_99999': 'moe_75to100k',
    'estimate_total_100000_to_124999': 'est_100to125k',
    'margin_of_error_total_100000_to_124999': 'moe_100to125k',
    'estimate_total_125000_to_149999': 'est_125to150k',
    'margin_of_error_total_125000_to_149999': 'moe_125to150k',
    'estimate_total_150000_to_199999': 'est_150to200k',
    'margin_of_error_total_150000_to_199999': 'moe_150to200k',
    'estimate_total_200000_or_more': 'est_more_than_200k',
    'margin_of_error_total_200000_or_more': 'moe_more_than_200k'
}

data.rename(columns=column_mapping, inplace=True)
data.replace(['-', '**', '10,000-', '***'], '', inplace=True)
data.head()

,geo_id,block_group,census_tract,county,state,est_total,moe_total,est_less_than_10k,moe_less_than_10k,est_10to15k,...,est_75to100k,moe_75to100k,est_100to125k,moe_100to125k,est_125to150k,moe_125to150k,est_150to200k,moe_150to200k,est_more_than_200k,moe_more_than_200k
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,427,70,0,12,12,...,93,46,51,32,23,18,13,14,12,14
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,546,87,7,8,65,...,90,43,36,28,44,31,22,21,8,11
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,339,59,10,13,28,...,33,20,13,9,15,17,16,10,9,10
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,326,65,30,18,50,...,53,33,32,26,0,12,0,12,3,5
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,345,79,25,25,42,...,22,21,32,21,16,25,34,44,11,11

In [7]:
data['year'] = 2021
data.head()

,geo_id,block_group,census_tract,county,state,est_total,moe_total,est_less_than_10k,moe_less_than_10k,est_10to15k,...,moe_75to100k,est_100to125k,moe_100to125k,est_125to150k,moe_125to150k,est_150to200k,moe_150to200k,est_more_than_200k,moe_more_than_200k,year
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,427,70,0,12,12,...,46,51,32,23,18,13,14,12,14,2021
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,546,87,7,8,65,...,43,36,28,44,31,22,21,8,11,2021
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,339,59,10,13,28,...,20,13,9,15,17,16,10,9,10,2021
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,326,65,30,18,50,...,33,32,26,0,12,0,12,3,5,2021
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,345,79,25,25,42,...,21,32,21,16,25,34,44,11,11,2021

In [8]:
csv_file_path = "2021_Household_Income.csv"
data.to_csv(csv_file_path, index=False)
csv_file_path

'2021_Household_Income.csv'