In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv("ACSDT5Y2022.C17002-Data.csv")
data.head()

,GEO_ID,NAME,C17002_001E,C17002_001M,C17002_002E,C17002_002M,C17002_003E,C17002_003M,C17002_004E,C17002_004M,C17002_005E,C17002_005M,C17002_006E,C17002_006M,C17002_007E,C17002_007M,C17002_008E,C17002_008M,Unnamed: 18
0,Geography,Geographic Area Name,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!Under .50,Margin of Error!!Total:!!Under .50,Estimate!!Total:!!.50 to .99,Margin of Error!!Total:!!.50 to .99,Estimate!!Total:!!1.00 to 1.24,Margin of Error!!Total:!!1.00 to 1.24,Estimate!!Total:!!1.25 to 1.49,Margin of Error!!Total:!!1.25 to 1.49,Estimate!!Total:!!1.50 to 1.84,Margin of Error!!Total:!!1.50 to 1.84,Estimate!!Total:!!1.85 to 1.99,Margin of Error!!Total:!!1.85 to 1.99,Estimate!!Total:!!2.00 and over,Margin of Error!!Total:!!2.00 and over,NaN
1,1500000US290019501001,Block Group 1; Census Tract 9501; Adair County...,1121,187,86,57,7,11,91,108,52,41,0,12,4,6,881,166,NaN
2,1500000US290019501002,Block Group 2; Census Tract 9501; Adair County...,1589,304,192,250,65,63,41,38,33,44,51,46,118,146,1089,239,NaN
3,1500000US290019501003,Block Group 3; Census Tract 9501; Adair County...,961,247,34,25,66,39,10,8,97,99,196,172,9,10,549,186,NaN
4,1500000US290019502001,Block Group 1; Census Tract 9502; Adair County...,1029,218,57,40,182,97,168,108,77,75,20,18,12,13,513,149,NaN

In [2]:
data[['BLOCK_GROUP', 'CENSUS_TRACT', 'COUNTIES', 'STATE']] = data['NAME'].str.split(';', expand=True)
data.drop(columns=['NAME'], inplace=True)
data['BLOCK_GROUP'] = data['BLOCK_GROUP'].str.strip()
data['CENSUS_TRACT'] = data['CENSUS_TRACT'].str.replace('County', '').str.strip()
data['COUNTIES'] = data['COUNTIES'].str.strip()
data['STATE'] = data['STATE'].str.strip()
data.head()

,GEO_ID,C17002_001E,C17002_001M,C17002_002E,C17002_002M,C17002_003E,C17002_003M,C17002_004E,C17002_004M,C17002_005E,...,C17002_006M,C17002_007E,C17002_007M,C17002_008E,C17002_008M,Unnamed: 18,BLOCK_GROUP,CENSUS_TRACT,COUNTIES,STATE
0,Geography,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!Under .50,Margin of Error!!Total:!!Under .50,Estimate!!Total:!!.50 to .99,Margin of Error!!Total:!!.50 to .99,Estimate!!Total:!!1.00 to 1.24,Margin of Error!!Total:!!1.00 to 1.24,Estimate!!Total:!!1.25 to 1.49,...,Margin of Error!!Total:!!1.50 to 1.84,Estimate!!Total:!!1.85 to 1.99,Margin of Error!!Total:!!1.85 to 1.99,Estimate!!Total:!!2.00 and over,Margin of Error!!Total:!!2.00 and over,NaN,Geographic Area Name,None,None,None
1,1500000US290019501001,1121,187,86,57,7,11,91,108,52,...,12,4,6,881,166,NaN,Block Group 1,Census Tract 9501,Adair County,Missouri
2,1500000US290019501002,1589,304,192,250,65,63,41,38,33,...,46,118,146,1089,239,NaN,Block Group 2,Census Tract 9501,Adair County,Missouri
3,1500000US290019501003,961,247,34,25,66,39,10,8,97,...,172,9,10,549,186,NaN,Block Group 3,Census Tract 9501,Adair County,Missouri
4,1500000US290019502001,1029,218,57,40,182,97,168,108,77,...,18,12,13,513,149,NaN,Block Group 1,Census Tract 9502,Adair County,Missouri

In [3]:
data = data[['GEO_ID', 'BLOCK_GROUP', 'CENSUS_TRACT', 'COUNTIES', 'STATE'] + 
            [col for col in data.columns if col not in ['GEO_ID', 'BLOCK_GROUP', 'CENSUS_TRACT',
                                                        'COUNTIES', 'STATE']]]
data.head()

,GEO_ID,BLOCK_GROUP,CENSUS_TRACT,COUNTIES,STATE,C17002_001E,C17002_001M,C17002_002E,C17002_002M,C17002_003E,...,C17002_004M,C17002_005E,C17002_005M,C17002_006E,C17002_006M,C17002_007E,C17002_007M,C17002_008E,C17002_008M,Unnamed: 18
0,Geography,Geographic Area Name,None,None,None,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!Under .50,Margin of Error!!Total:!!Under .50,Estimate!!Total:!!.50 to .99,...,Margin of Error!!Total:!!1.00 to 1.24,Estimate!!Total:!!1.25 to 1.49,Margin of Error!!Total:!!1.25 to 1.49,Estimate!!Total:!!1.50 to 1.84,Margin of Error!!Total:!!1.50 to 1.84,Estimate!!Total:!!1.85 to 1.99,Margin of Error!!Total:!!1.85 to 1.99,Estimate!!Total:!!2.00 and over,Margin of Error!!Total:!!2.00 and over,NaN
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,1121,187,86,57,7,...,108,52,41,0,12,4,6,881,166,NaN
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,1589,304,192,250,65,...,38,33,44,51,46,118,146,1089,239,NaN
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,961,247,34,25,66,...,8,97,99,196,172,9,10,549,186,NaN
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,1029,218,57,40,182,...,108,77,75,20,18,12,13,513,149,NaN

In [4]:
new_headers = data.iloc[0, 5:].tolist()
new_headers = ['GEO_ID', 'BLOCK_GROUP', 'CENSUS_TRACT', 'COUNTIES', 'STATE'] + new_headers
data.columns = new_headers
data = data.drop(index=0)
data.head()

,GEO_ID,BLOCK_GROUP,CENSUS_TRACT,COUNTIES,STATE,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!Under .50,Margin of Error!!Total:!!Under .50,Estimate!!Total:!!.50 to .99,...,Margin of Error!!Total:!!1.00 to 1.24,Estimate!!Total:!!1.25 to 1.49,Margin of Error!!Total:!!1.25 to 1.49,Estimate!!Total:!!1.50 to 1.84,Margin of Error!!Total:!!1.50 to 1.84,Estimate!!Total:!!1.85 to 1.99,Margin of Error!!Total:!!1.85 to 1.99,Estimate!!Total:!!2.00 and over,Margin of Error!!Total:!!2.00 and over,NaN
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,1121,187,86,57,7,...,108,52,41,0,12,4,6,881,166,NaN
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,1589,304,192,250,65,...,38,33,44,51,46,118,146,1089,239,NaN
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,961,247,34,25,66,...,8,97,99,196,172,9,10,549,186,NaN
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,1029,218,57,40,182,...,108,77,75,20,18,12,13,513,149,NaN
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,998,247,28,26,125,...,6,5,8,38,32,49,42,749,234,NaN

In [5]:
def clean_column_name(column_name):
    column_name = str(column_name)
    column_name = column_name.replace("!!", "_")
    column_name = column_name.replace(" ", "_")
    column_name = column_name.lower()
    column_name = ''.join(char if char.isalnum() or char == '_' else '' for char in column_name)
    return column_name

cleaned_column_names = [clean_column_name(col) for col in data.columns]
data.columns = cleaned_column_names
data.head()

,geo_id,block_group,census_tract,counties,state,estimate_total,margin_of_error_total,estimate_total_under_50,margin_of_error_total_under_50,estimate_total_50_to_99,...,margin_of_error_total_100_to_124,estimate_total_125_to_149,margin_of_error_total_125_to_149,estimate_total_150_to_184,margin_of_error_total_150_to_184,estimate_total_185_to_199,margin_of_error_total_185_to_199,estimate_total_200_and_over,margin_of_error_total_200_and_over,nan
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,1121,187,86,57,7,...,108,52,41,0,12,4,6,881,166,NaN
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,1589,304,192,250,65,...,38,33,44,51,46,118,146,1089,239,NaN
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,961,247,34,25,66,...,8,97,99,196,172,9,10,549,186,NaN
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,1029,218,57,40,182,...,108,77,75,20,18,12,13,513,149,NaN
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,998,247,28,26,125,...,6,5,8,38,32,49,42,749,234,NaN

In [6]:
if 'nan' in data.columns:
    data = data.drop(columns=['nan'])
data.head()

,geo_id,block_group,census_tract,counties,state,estimate_total,margin_of_error_total,estimate_total_under_50,margin_of_error_total_under_50,estimate_total_50_to_99,...,estimate_total_100_to_124,margin_of_error_total_100_to_124,estimate_total_125_to_149,margin_of_error_total_125_to_149,estimate_total_150_to_184,margin_of_error_total_150_to_184,estimate_total_185_to_199,margin_of_error_total_185_to_199,estimate_total_200_and_over,margin_of_error_total_200_and_over
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,1121,187,86,57,7,...,91,108,52,41,0,12,4,6,881,166
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,1589,304,192,250,65,...,41,38,33,44,51,46,118,146,1089,239
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,961,247,34,25,66,...,10,8,97,99,196,172,9,10,549,186
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,1029,218,57,40,182,...,168,108,77,75,20,18,12,13,513,149
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,998,247,28,26,125,...,4,6,5,8,38,32,49,42,749,234

In [7]:
data.columns.tolist()

['geo_id',
 'block_group',
 'census_tract',
 'counties',
 'state',
 'estimate_total',
 'margin_of_error_total',
 'estimate_total_under_50',
 'margin_of_error_total_under_50',
 'estimate_total_50_to_99',
 'margin_of_error_total_50_to_99',
 'estimate_total_100_to_124',
 'margin_of_error_total_100_to_124',
 'estimate_total_125_to_149',
 'margin_of_error_total_125_to_149',
 'estimate_total_150_to_184',
 'margin_of_error_total_150_to_184',
 'estimate_total_185_to_199',
 'margin_of_error_total_185_to_199',
 'estimate_total_200_and_over',
 'margin_of_error_total_200_and_over']

In [8]:
column_mapping = {
    'geo_id': 'geo_id',
    'block_group': 'block_group',
    'census_tract': 'census_tract',
    'counties': 'county',
    'state': 'state',
    'estimate_total': 'est_total',
    'margin_of_error_total': 'moe_total',
    'estimate_total_under_50': 'est_under_50',
    'margin_of_error_total_under_50': 'moe_under_50',
    'estimate_total_50_to_99': 'est_50_to_99',
    'margin_of_error_total_50_to_99': 'moe_50_to_99',
    'estimate_total_100_to_124': 'est_100_to_124',
    'margin_of_error_total_100_to_124': 'moe_100_to_124',
    'estimate_total_125_to_149': 'est_125_to_149',
    'margin_of_error_total_125_to_149': 'moe_125_to_149',
    'estimate_total_150_to_184': 'est_150_to_184',
    'margin_of_error_total_150_to_184': 'moe_150_to_184',
    'estimate_total_185_to_199': 'est_185_to_199',
    'margin_of_error_total_185_to_199': 'moe_185_to_199',
    'estimate_total_200_and_over': 'est_200_plus',
    'margin_of_error_total_200_and_over': 'moe_200_plus'
}

data.rename(columns=column_mapping, inplace=True)
print("Column names after renaming:")
print(data.columns)

numeric_columns = [
    'est_total',
    'moe_total',
    'est_under_50',
    'moe_under_50',
    'est_50_to_99',
    'moe_50_to_99',
    'est_100_to_124',
    'moe_100_to_124',
    'est_125_to_149',
    'moe_125_to_149',
    'est_150_to_184',
    'moe_150_to_184',
    'est_185_to_199',
    'moe_185_to_199',
    'est_200_plus',
    'moe_200_plus']

missing_columns = [col for col in numeric_columns if col not in data.columns]
if missing_columns:
    print(f"These columns are missing after renaming: {missing_columns}")
else:
    data.replace(['**', '***'], np.nan, inplace=True)
    data[numeric_columns] = data[numeric_columns].replace({',': '', '-': np.nan, r'\+': ''}, regex=True)
    data[numeric_columns] = data[numeric_columns].apply(pd.to_numeric, errors='raise')

data.fillna('', inplace=True)
if 'nan' in data.columns:
    data.drop(columns=['nan'], inplace=True)
data.head()

Column names after renaming:
Index(['geo_id', 'block_group', 'census_tract', 'county', 'state', 'est_total',
       'moe_total', 'est_under_50', 'moe_under_50', 'est_50_to_99',
       'moe_50_to_99', 'est_100_to_124', 'moe_100_to_124', 'est_125_to_149',
       'moe_125_to_149', 'est_150_to_184', 'moe_150_to_184', 'est_185_to_199',
       'moe_185_to_199', 'est_200_plus', 'moe_200_plus'],
      dtype='object')

,geo_id,block_group,census_tract,county,state,est_total,moe_total,est_under_50,moe_under_50,est_50_to_99,...,est_100_to_124,moe_100_to_124,est_125_to_149,moe_125_to_149,est_150_to_184,moe_150_to_184,est_185_to_199,moe_185_to_199,est_200_plus,moe_200_plus
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,1121,187,86,57,7,...,91,108,52,41,0,12,4,6,881,166
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,1589,304,192,250,65,...,41,38,33,44,51,46,118,146,1089,239
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,961,247,34,25,66,...,10,8,97,99,196,172,9,10,549,186
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,1029,218,57,40,182,...,168,108,77,75,20,18,12,13,513,149
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,998,247,28,26,125,...,4,6,5,8,38,32,49,42,749,234

In [9]:
data['year'] = 2022
data.head()

,geo_id,block_group,census_tract,county,state,est_total,moe_total,est_under_50,moe_under_50,est_50_to_99,...,moe_100_to_124,est_125_to_149,moe_125_to_149,est_150_to_184,moe_150_to_184,est_185_to_199,moe_185_to_199,est_200_plus,moe_200_plus,year
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,1121,187,86,57,7,...,108,52,41,0,12,4,6,881,166,2022
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,1589,304,192,250,65,...,38,33,44,51,46,118,146,1089,239,2022
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,961,247,34,25,66,...,8,97,99,196,172,9,10,549,186,2022
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,1029,218,57,40,182,...,108,77,75,20,18,12,13,513,149,2022
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,998,247,28,26,125,...,6,5,8,38,32,49,42,749,234,2022

In [10]:
csv_file_path = "2022_Income_to_Poverty_Ratio.csv"
data.to_csv(csv_file_path, index=False)
csv_file_path

'2022_Income_to_Poverty_Ratio.csv'