In [1]:
import psycopg2
from psycopg2 import sql
import numpy as np
import pandas as pd
from psycopg2.extensions import adapt, register_adapter, AsIs
from sqlalchemy import create_engine, text
import getpass

In [2]:
file_paths = ['2018_Income_to_Poverty_Ratio.csv', 
              '2019_Income_to_Poverty_Ratio.csv',
              '2020_Income_to_Poverty_Ratio.csv', 
              '2021_Income_to_Poverty_Ratio.csv', 
              '2022_Income_to_Poverty_Ratio.csv']

dataframes = [pd.read_csv(file) for file in file_paths]

Income_to_Poverty_Ratio = pd.concat(dataframes, ignore_index=True)
merged_file_path = 'Income_to_Poverty_Ratio.csv'
Income_to_Poverty_Ratio.to_csv(merged_file_path, index=False)
merged_file_path

'Income_to_Poverty_Ratio.csv'

In [ ]:
database = "f24t03"
user     = input("Type username (pawprint) and hit enter: ")
password = getpass.getpass("Type password and hit enter: ")

connection = psycopg2.connect(database = database,
                              user     = user,
                              host     = 'pgsql',
                              password = password)

Type username (pawprint) and hit enter: jsmm8
Type password and hit enter: ········

In [4]:
with connection, connection.cursor() as cursor:
    cursor.execute("DROP TABLE IF EXISTS income_to_poverty_ratio;")
    

    cursor.execute(
        '''
        CREATE TABLE IF NOT EXISTS income_to_poverty_ratio (
    geo_id TEXT,
    block_group TEXT,
    census_tract TEXT,
    county TEXT,
    state TEXT,
    est_total NUMERIC,
    moe_total NUMERIC,
    est_under_50 NUMERIC,
    moe_under_50 NUMERIC,
    est_50_to_99 NUMERIC,
    moe_50_to_99 NUMERIC,
    est_100_to_124 NUMERIC,
    moe_100_to_124 NUMERIC,
    est_125_to_149 NUMERIC,
    moe_125_to_149 NUMERIC,
    est_150_to_184 NUMERIC,
    moe_150_to_184 NUMERIC,
    est_185_to_199 NUMERIC,
    moe_185_to_199 NUMERIC,
    est_200_plus NUMERIC,
    moe_200_plus NUMERIC,
    year INT,
    PRIMARY KEY (geo_id, year)
    );
    '''
    )

In [ ]:
mypasswd = getpass.getpass("Enter your database password: ")
username = 'jsmm8'
host = 'pgsql'
database = 'f24t03'

conn_string = f"postgresql+psycopg2://{username}:{mypasswd}@{host}/{database}"
try:
    engine = create_engine(conn_string)
    print("Database connection established successfully.")
except Exception as conn_err:
    print(f"Database connection error: {conn_err}")

income_to_poverty_ratio = 'Income_to_Poverty_Ratio.csv'

chunk_size = 500

try:
    for chunk in pd.read_csv(income_to_poverty_ratio, chunksize=chunk_size):
        chunk.to_sql('income_to_poverty_ratio', engine, if_exists='append', index=False)
        print(f"Uploaded a chunk of {len(chunk)} records to the database.")
    
    print("CSV data uploaded successfully.")

except pd.errors.EmptyDataError:
    print("The CSV file is empty. Please check the file contents.")
except pd.errors.ParserError as parse_err:
    print(f"Error parsing CSV file: {parse_err}")
except Exception as e:
    print(f"An error occurred: {e}")

Enter your database password: ········
Database connection established successfully.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 105 records to the database.
CSV data uploaded successfully.

In [6]:
grant_privileges_query = "GRANT ALL PRIVILEGES ON TABLE income_to_poverty_ratio TO ypd5yb, remcmf, sgdky;"

with engine.connect() as connection:
        connection.execute(text(grant_privileges_query))
        print("Privileges granted successfully.")

Privileges granted successfully.

In [7]:
select_query = "SELECT * FROM income_to_poverty_ratio WHERE year = 2022 LIMIT 10;" 

with engine.connect() as connection:
    result = connection.execute(text(select_query))
    df = pd.DataFrame(result.fetchall(), columns=result.keys())
print("Query executed successfully.")
df

Query executed successfully.

,geo_id,block_group,census_tract,county,state,est_total,moe_total,est_under_50,moe_under_50,est_50_to_99,...,moe_100_to_124,est_125_to_149,moe_125_to_149,est_150_to_184,moe_150_to_184,est_185_to_199,moe_185_to_199,est_200_plus,moe_200_plus,year
0,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,1121,187,86,57,7,...,108,52,41,0,12,4,6,881,166,2022
1,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,1589,304,192,250,65,...,38,33,44,51,46,118,146,1089,239,2022
2,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,961,247,34,25,66,...,8,97,99,196,172,9,10,549,186,2022
3,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,1029,218,57,40,182,...,108,77,75,20,18,12,13,513,149,2022
4,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,998,247,28,26,125,...,6,5,8,38,32,49,42,749,234,2022
5,1500000US290019502003,Block Group 3,Census Tract 9502,Adair County,Missouri,1022,265,15,13,0,...,68,159,169,39,24,70,71,667,188,2022
6,1500000US290019503001,Block Group 1,Census Tract 9503,Adair County,Missouri,579,169,78,95,50,...,19,34,50,37,37,18,20,349,136,2022
7,1500000US290019503002,Block Group 2,Census Tract 9503,Adair County,Missouri,558,211,99,83,150,...,50,0,12,66,67,7,12,198,104,2022
8,1500000US290019503003,Block Group 3,Census Tract 9503,Adair County,Missouri,1054,430,399,323,184,...,119,12,21,85,84,7,12,263,149,2022
9,1500000US290019503004,Block Group 4,Census Tract 9503,Adair County,Missouri,840,546,233,116,222,...,86,38,44,0,12,30,47,232,185,2022

In [8]:
connection.close()

In [9]:
select_query = "SELECT * FROM income_to_poverty_ratio WHERE year = 2019 LIMIT 10;" 

with engine.connect() as connection:
    result = connection.execute(text(select_query))
    df = pd.DataFrame(result.fetchall(), columns=result.keys())
print("Query executed successfully.")
df

Query executed successfully.

,geo_id,block_group,census_tract,county,state,est_total,moe_total,est_under_50,moe_under_50,est_50_to_99,...,moe_100_to_124,est_125_to_149,moe_125_to_149,est_150_to_184,moe_150_to_184,est_185_to_199,moe_185_to_199,est_200_plus,moe_200_plus,year
0,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,1450,242,26,21,182,...,84,34,33,100,113,0,11,1035,211,2019
1,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,1246,222,6,9,30,...,39,24,34,162,95,49,38,932,219,2019
2,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,1032,264,28,22,73,...,88,65,72,273,244,47,52,436,96,2019
3,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,782,137,80,56,122,...,90,19,27,48,34,2,3,370,99,2019
4,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,857,169,23,21,125,...,14,19,18,115,96,43,54,512,123,2019
5,1500000US290019502003,Block Group 3,Census Tract 9502,Adair County,Missouri,1155,199,24,20,74,...,82,10,10,46,48,127,92,810,188,2019
6,1500000US290019503001,Block Group 1,Census Tract 9503,Adair County,Missouri,527,170,19,21,104,...,48,15,22,3,6,0,11,344,153,2019
7,1500000US290019503002,Block Group 2,Census Tract 9503,Adair County,Missouri,732,296,85,102,116,...,39,42,43,320,276,6,10,129,93,2019
8,1500000US290019503003,Block Group 3,Census Tract 9503,Adair County,Missouri,1155,312,338,191,210,...,105,67,87,50,44,20,33,393,191,2019
9,1500000US290019503004,Block Group 4,Census Tract 9503,Adair County,Missouri,759,344,201,77,242,...,47,30,33,56,47,15,23,168,117,2019

In [10]:
select_query = "SELECT * FROM income_to_poverty_ratio WHERE year = 2018 LIMIT 10;" 

with engine.connect() as connection:
    result = connection.execute(text(select_query))
    df = pd.DataFrame(result.fetchall(), columns=result.keys())
print("Query executed successfully.")
df

Query executed successfully.

,geo_id,block_group,census_tract,county,state,est_total,moe_total,est_under_50,moe_under_50,est_50_to_99,...,moe_100_to_124,est_125_to_149,moe_125_to_149,est_150_to_184,moe_150_to_184,est_185_to_199,moe_185_to_199,est_200_plus,moe_200_plus,year
0,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,1653,267,30,26,308,...,21,38,39,116,115,42,58,1099,280,2018
1,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,1189,188,18,21,0,...,40,3,5,187,97,63,56,874,185,2018
2,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,899,195,49,39,100,...,113,77,81,57,55,59,67,434,105,2018
3,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,724,133,54,27,124,...,20,30,24,81,52,2,4,398,94,2018
4,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,831,162,32,23,101,...,11,22,19,111,88,37,54,512,117,2018
5,1500000US290019502003,Block Group 3,Census Tract 9502,Adair County,Missouri,1063,190,17,19,72,...,33,16,18,86,69,60,60,789,198,2018
6,1500000US290019503001,Block Group 1,Census Tract 9503,Adair County,Missouri,760,253,22,22,96,...,48,19,33,0,11,3,5,583,246,2018
7,1500000US290019503002,Block Group 2,Census Tract 9503,Adair County,Missouri,734,296,69,94,95,...,31,29,31,327,300,0,11,189,85,2018
8,1500000US290019503003,Block Group 3,Census Tract 9503,Adair County,Missouri,998,291,292,167,173,...,77,60,64,44,48,23,40,350,182,2018
9,1500000US290019503004,Block Group 4,Census Tract 9503,Adair County,Missouri,683,180,308,143,194,...,12,32,43,53,47,14,22,74,52,2018