In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv("ACSDT5Y2021.B19013-Data.csv")
data.head()

,GEO_ID,NAME,B19013_001E,B19013_001M,Unnamed: 4
0,Geography,Geographic Area Name,Estimate!!Median household income in the past ...,Margin of Error!!Median household income in th...,NaN
1,1500000US290019501001,"Block Group 1, Census Tract 9501, Adair County...",70972,16112,NaN
2,1500000US290019501002,"Block Group 2, Census Tract 9501, Adair County...",59125,11716,NaN
3,1500000US290019501003,"Block Group 3, Census Tract 9501, Adair County...",49375,7970,NaN
4,1500000US290019502001,"Block Group 1, Census Tract 9502, Adair County...",35938,8056,NaN

In [2]:
data[['BLOCK_GROUP', 'CENSUS_TRACT', 'COUNTIES', 'STATE']] = data['NAME'].str.split(',', expand=True)
data.drop(columns=['NAME'], inplace=True)
data['BLOCK_GROUP'] = data['BLOCK_GROUP'].str.strip()
data['CENSUS_TRACT'] = data['CENSUS_TRACT'].str.replace('County', '').str.strip()
data['COUNTIES'] = data['COUNTIES'].str.strip()
data['STATE'] = data['STATE'].str.strip()
data.head()

,GEO_ID,B19013_001E,B19013_001M,Unnamed: 4,BLOCK_GROUP,CENSUS_TRACT,COUNTIES,STATE
0,Geography,Estimate!!Median household income in the past ...,Margin of Error!!Median household income in th...,NaN,Geographic Area Name,None,None,None
1,1500000US290019501001,70972,16112,NaN,Block Group 1,Census Tract 9501,Adair County,Missouri
2,1500000US290019501002,59125,11716,NaN,Block Group 2,Census Tract 9501,Adair County,Missouri
3,1500000US290019501003,49375,7970,NaN,Block Group 3,Census Tract 9501,Adair County,Missouri
4,1500000US290019502001,35938,8056,NaN,Block Group 1,Census Tract 9502,Adair County,Missouri

In [3]:
data = data[['GEO_ID', 'BLOCK_GROUP', 'CENSUS_TRACT', 'COUNTIES', 'STATE'] + 
            [col for col in data.columns if col not in ['GEO_ID', 'BLOCK_GROUP', 'CENSUS_TRACT',
                                                        'COUNTIES', 'STATE']]]
data.head()

,GEO_ID,BLOCK_GROUP,CENSUS_TRACT,COUNTIES,STATE,B19013_001E,B19013_001M,Unnamed: 4
0,Geography,Geographic Area Name,None,None,None,Estimate!!Median household income in the past ...,Margin of Error!!Median household income in th...,NaN
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,70972,16112,NaN
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,59125,11716,NaN
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,49375,7970,NaN
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,35938,8056,NaN

In [4]:
new_headers = data.iloc[0, 5:].tolist()
new_headers = ['GEO_ID', 'BLOCK_GROUP', 'CENSUS_TRACT', 'COUNTIES', 'STATE'] + new_headers
data.columns = new_headers
data = data.drop(index=0)
data.head()

,GEO_ID,BLOCK_GROUP,CENSUS_TRACT,COUNTIES,STATE,Estimate!!Median household income in the past 12 months (in 2021 inflation-adjusted dollars),Margin of Error!!Median household income in the past 12 months (in 2021 inflation-adjusted dollars),NaN
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,70972,16112,NaN
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,59125,11716,NaN
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,49375,7970,NaN
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,35938,8056,NaN
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,58355,10381,NaN

In [5]:
data.columns = data.columns.astype(str)
def clean_column_name(column_name):
    column_name = column_name.replace("!!", "_")
    column_name = column_name.replace(" ", "_")
    column_name = column_name.lower()
    column_name = ''.join(char if char.isalnum() or char == '_' else '' for char in column_name)
    return column_name

cleaned_column_names = [clean_column_name(col) for col in data.columns]
data.columns = cleaned_column_names
data.head()

,geo_id,block_group,census_tract,counties,state,estimate_median_household_income_in_the_past_12_months_in_2021_inflationadjusted_dollars,margin_of_error_median_household_income_in_the_past_12_months_in_2021_inflationadjusted_dollars,nan
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,70972,16112,NaN
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,59125,11716,NaN
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,49375,7970,NaN
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,35938,8056,NaN
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,58355,10381,NaN

In [6]:
data.columns.tolist()

['geo_id',
 'block_group',
 'census_tract',
 'counties',
 'state',
 'estimate_median_household_income_in_the_past_12_months_in_2021_inflationadjusted_dollars',
 'margin_of_error_median_household_income_in_the_past_12_months_in_2021_inflationadjusted_dollars',
 'nan']

In [7]:
column_mapping = {
    'geo_id': 'geo_id',
    'block_group': 'block_group',
    'census_tract': 'census_tract',
    'counties': 'county',
    'state': 'state',
    'estimate_median_household_income_in_the_past_12_months_in_2021_inflationadjusted_dollars': 'est_inflated_past_12_months_median_income',
    'margin_of_error_median_household_income_in_the_past_12_months_in_2021_inflationadjusted_dollars': 'moe_inflated_past_12_months_median_income',
    'nan': 'nan'
}

data.rename(columns=column_mapping, inplace=True)
print("Column names after renaming:")
print(data.columns)

numeric_columns = ['est_inflated_past_12_months_median_income', 'moe_inflated_past_12_months_median_income']
missing_columns = [col for col in numeric_columns if col not in data.columns]
if missing_columns:
    print(f"These columns are missing after renaming: {missing_columns}")
else:
    data.replace(['-', '**', '***'], '', inplace=True)
    data = data.replace(to_replace=r'(\d+)[-+]', value=r'\1', regex=True)
    data[numeric_columns] = data[numeric_columns].replace({',': ''}, regex=True)
    data[numeric_columns] = data[numeric_columns].apply(pd.to_numeric, errors='raise')
    
data.fillna('', inplace=True)
if 'nan' in data.columns:
    data.drop(columns=['nan'], inplace=True)
data.head()

Column names after renaming:
Index(['geo_id', 'block_group', 'census_tract', 'county', 'state',
       'est_inflated_past_12_months_median_income',
       'moe_inflated_past_12_months_median_income', 'nan'],
      dtype='object')

,geo_id,block_group,census_tract,county,state,est_inflated_past_12_months_median_income,moe_inflated_past_12_months_median_income
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,70972.0,16112.0
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,59125.0,11716.0
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,49375.0,7970.0
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,35938.0,8056.0
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,58355.0,10381.0

In [8]:
data['year'] = 2021
data.head()

,geo_id,block_group,census_tract,county,state,est_inflated_past_12_months_median_income,moe_inflated_past_12_months_median_income,year
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,70972.0,16112.0,2021
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,59125.0,11716.0,2021
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,49375.0,7970.0,2021
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,35938.0,8056.0,2021
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,58355.0,10381.0,2021

In [9]:
csv_file_path = "2021_Median_Households_Income.csv"
data.to_csv(csv_file_path, index=False)
csv_file_path

'2021_Median_Households_Income.csv'

In [10]:
rows_with_characters = data[(data == 2500).any(axis=1)]
rows_with_characters

,geo_id,block_group,census_tract,county,state,est_inflated_past_12_months_median_income,moe_inflated_past_12_months_median_income,year
2101,1500000US290950154012,Block Group 2,Census Tract 154.01,Jackson County,Missouri,2500.0,,2021