In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv("ACSDT5Y2020.B25077-Data.csv")
data.head()

,GEO_ID,NAME,B25077_001E,B25077_001M,Unnamed: 4
0,Geography,Geographic Area Name,Estimate!!Median value (dollars),Margin of Error!!Median value (dollars),NaN
1,1500000US290019501001,"Block Group 1, Census Tract 9501, Adair County...",142300,21569,NaN
2,1500000US290019501002,"Block Group 2, Census Tract 9501, Adair County...",148300,24676,NaN
3,1500000US290019501003,"Block Group 3, Census Tract 9501, Adair County...",86100,13432,NaN
4,1500000US290019502001,"Block Group 1, Census Tract 9502, Adair County...",75300,30542,NaN

In [2]:
data[['BLOCK_GROUP', 'CENSUS_TRACT', 'COUNTIES', 'STATE']] = data['NAME'].str.split(',', expand=True)
data.drop(columns=['NAME'], inplace=True)
data['BLOCK_GROUP'] = data['BLOCK_GROUP'].str.strip()
data['CENSUS_TRACT'] = data['CENSUS_TRACT'].str.replace('County', '').str.strip()
data['COUNTIES'] = data['COUNTIES'].str.strip()
data['STATE'] = data['STATE'].str.strip()
data.head()

,GEO_ID,B25077_001E,B25077_001M,Unnamed: 4,BLOCK_GROUP,CENSUS_TRACT,COUNTIES,STATE
0,Geography,Estimate!!Median value (dollars),Margin of Error!!Median value (dollars),NaN,Geographic Area Name,None,None,None
1,1500000US290019501001,142300,21569,NaN,Block Group 1,Census Tract 9501,Adair County,Missouri
2,1500000US290019501002,148300,24676,NaN,Block Group 2,Census Tract 9501,Adair County,Missouri
3,1500000US290019501003,86100,13432,NaN,Block Group 3,Census Tract 9501,Adair County,Missouri
4,1500000US290019502001,75300,30542,NaN,Block Group 1,Census Tract 9502,Adair County,Missouri

In [3]:
data = data[['GEO_ID', 'BLOCK_GROUP', 'CENSUS_TRACT', 'COUNTIES', 'STATE'] + 
            [col for col in data.columns if col not in ['GEO_ID', 'BLOCK_GROUP', 'CENSUS_TRACT',
                                                        'COUNTIES', 'STATE']]]
data.head()

,GEO_ID,BLOCK_GROUP,CENSUS_TRACT,COUNTIES,STATE,B25077_001E,B25077_001M,Unnamed: 4
0,Geography,Geographic Area Name,None,None,None,Estimate!!Median value (dollars),Margin of Error!!Median value (dollars),NaN
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,142300,21569,NaN
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,148300,24676,NaN
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,86100,13432,NaN
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,75300,30542,NaN

In [4]:
new_headers = data.iloc[0, 5:].tolist()
new_headers = ['GEO_ID', 'BLOCK_GROUP', 'CENSUS_TRACT', 'COUNTIES', 'STATE'] + new_headers
data.columns = new_headers
data = data.drop(index=0)
data.head()

,GEO_ID,BLOCK_GROUP,CENSUS_TRACT,COUNTIES,STATE,Estimate!!Median value (dollars),Margin of Error!!Median value (dollars),NaN
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,142300,21569,NaN
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,148300,24676,NaN
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,86100,13432,NaN
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,75300,30542,NaN
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,92300,28802,NaN

In [5]:
data.columns = data.columns.astype(str)
def clean_column_name(column_name):
    column_name = column_name.replace("!!", "_")
    column_name = column_name.replace(" ", "_")
    column_name = column_name.lower()
    column_name = ''.join(char if char.isalnum() or char == '_' else '' for char in column_name)
    return column_name

cleaned_column_names = [clean_column_name(col) for col in data.columns]
data.columns = cleaned_column_names
data.head()

,geo_id,block_group,census_tract,counties,state,estimate_median_value_dollars,margin_of_error_median_value_dollars,nan
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,142300,21569,NaN
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,148300,24676,NaN
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,86100,13432,NaN
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,75300,30542,NaN
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,92300,28802,NaN

In [6]:
data['year'] = 2020
data.head()

,geo_id,block_group,census_tract,counties,state,estimate_median_value_dollars,margin_of_error_median_value_dollars,nan,year
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,142300,21569,NaN,2020
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,148300,24676,NaN,2020
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,86100,13432,NaN,2020
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,75300,30542,NaN,2020
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,92300,28802,NaN,2020

In [7]:
data.columns.tolist()

['geo_id',
 'block_group',
 'census_tract',
 'counties',
 'state',
 'estimate_median_value_dollars',
 'margin_of_error_median_value_dollars',
 'nan',
 'year']

In [8]:
column_mapping = {
    'geo_id': 'geo_id',
    'block_group': 'block_group',
    'census_tract': 'census_tract',
    'counties': 'county',
    'state': 'state',
    'estimate_median_value_dollars': 'est_median_value',
    'margin_of_error_median_value_dollars': 'total_margin_of_error',
    'year': 'year'
}

data.rename(columns=column_mapping, inplace=True)

if 'nan' in data.columns:
    data.drop(columns=['nan'], inplace=True)
print("Column names after renaming:")
print(data.columns)

numeric_columns = ['est_median_value', 'total_margin_of_error']
missing_columns = [col for col in numeric_columns if col not in data.columns]
if missing_columns:
    print(f"These columns are missing after renaming: {missing_columns}")
else:
    data.replace(['**', '***'], np.nan, inplace=True)
    data[numeric_columns] = data[numeric_columns].replace({r'(\d+),*(\d*)-': r'\1\2'}, regex=True)
    data[numeric_columns] = data[numeric_columns].replace({',': '', r'\+': ''}, regex=True)
    data[numeric_columns] = data[numeric_columns].apply(pd.to_numeric, errors='coerce')

data.fillna('', inplace=True)
data.head()

Column names after renaming:
Index(['geo_id', 'block_group', 'census_tract', 'county', 'state',
       'est_median_value', 'total_margin_of_error', 'year'],
      dtype='object')

,geo_id,block_group,census_tract,county,state,est_median_value,total_margin_of_error,year
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,142300,21569,2020
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,148300,24676,2020
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,86100,13432,2020
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,75300,30542,2020
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,92300,28802,2020

In [9]:
csv_file_path = "2020_Median_Home_Value.csv"
data.to_csv(csv_file_path, index=False)
csv_file_path

'2020_Median_Home_Value.csv'

In [10]:
rows_with_characters = data[(data == 10000).any(axis=1)]
rows_with_characters

,geo_id,block_group,census_tract,county,state,est_median_value,total_margin_of_error,year
519,1500000US290318813011,Block Group 1,Census Tract 8813.01,Cape Girardeau County,Missouri,184100,10000,2020
2479,1500000US291019606001,Block Group 1,Census Tract 9606,Johnson County,Missouri,10000,,2020
3265,1500000US291754903005,Block Group 5,Census Tract 4903,Randolph County,Missouri,10000,,2020
4800,1500000US295101065002,Block Group 2,Census Tract 1065,St. Louis city,Missouri,10000,,2020