In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv("ACSDT5Y2022.B19013-Data.csv")
data.head()

,GEO_ID,NAME,B19013_001E,B19013_001M,Unnamed: 4
0,Geography,Geographic Area Name,Estimate!!Median household income in the past ...,Margin of Error!!Median household income in th...,NaN
1,1500000US290019501001,Block Group 1; Census Tract 9501; Adair County...,80208,23276,NaN
2,1500000US290019501002,Block Group 2; Census Tract 9501; Adair County...,64196,14388,NaN
3,1500000US290019501003,Block Group 3; Census Tract 9501; Adair County...,52438,9064,NaN
4,1500000US290019502001,Block Group 1; Census Tract 9502; Adair County...,46000,12551,NaN

In [2]:
data[['BLOCK_GROUP', 'CENSUS_TRACT', 'COUNTIES', 'STATE']] = data['NAME'].str.split(';', expand=True)
data.drop(columns=['NAME'], inplace=True)
data['BLOCK_GROUP'] = data['BLOCK_GROUP'].str.strip()
data['CENSUS_TRACT'] = data['CENSUS_TRACT'].str.replace('County', '').str.strip()
data['COUNTIES'] = data['COUNTIES'].str.strip()
data['STATE'] = data['STATE'].str.strip()
data.head()

,GEO_ID,B19013_001E,B19013_001M,Unnamed: 4,BLOCK_GROUP,CENSUS_TRACT,COUNTIES,STATE
0,Geography,Estimate!!Median household income in the past ...,Margin of Error!!Median household income in th...,NaN,Geographic Area Name,None,None,None
1,1500000US290019501001,80208,23276,NaN,Block Group 1,Census Tract 9501,Adair County,Missouri
2,1500000US290019501002,64196,14388,NaN,Block Group 2,Census Tract 9501,Adair County,Missouri
3,1500000US290019501003,52438,9064,NaN,Block Group 3,Census Tract 9501,Adair County,Missouri
4,1500000US290019502001,46000,12551,NaN,Block Group 1,Census Tract 9502,Adair County,Missouri

In [3]:
data = data[['GEO_ID', 'BLOCK_GROUP', 'CENSUS_TRACT', 'COUNTIES', 'STATE'] + 
            [col for col in data.columns if col not in ['GEO_ID', 'BLOCK_GROUP', 'CENSUS_TRACT',
                                                        'COUNTIES', 'STATE']]]
data.drop(columns=['Unnamed: 4'], inplace=True)
data.head()

,GEO_ID,BLOCK_GROUP,CENSUS_TRACT,COUNTIES,STATE,B19013_001E,B19013_001M
0,Geography,Geographic Area Name,None,None,None,Estimate!!Median household income in the past ...,Margin of Error!!Median household income in th...
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,80208,23276
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,64196,14388
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,52438,9064
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,46000,12551

In [4]:
new_headers = data.iloc[0, 5:].tolist()
new_headers = ['GEO_ID', 'BLOCK_GROUP', 'CENSUS_TRACT', 'COUNTIES', 'STATE'] + new_headers
data.columns = new_headers
data = data.drop(index=0)
data.head()

,GEO_ID,BLOCK_GROUP,CENSUS_TRACT,COUNTIES,STATE,Estimate!!Median household income in the past 12 months (in 2022 inflation-adjusted dollars),Margin of Error!!Median household income in the past 12 months (in 2022 inflation-adjusted dollars)
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,80208,23276
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,64196,14388
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,52438,9064
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,46000,12551
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,64063,13864

In [5]:
data.columns = data.columns.astype(str)
def clean_column_name(column_name):
    column_name = column_name.replace("!!", "_")
    column_name = column_name.replace(" ", "_")
    column_name = column_name.lower()
    column_name = ''.join(char if char.isalnum() or char == '_' else '' for char in column_name)
    return column_name

cleaned_column_names = [clean_column_name(col) for col in data.columns]
data.columns = cleaned_column_names
data.head()

,geo_id,block_group,census_tract,counties,state,estimate_median_household_income_in_the_past_12_months_in_2022_inflationadjusted_dollars,margin_of_error_median_household_income_in_the_past_12_months_in_2022_inflationadjusted_dollars
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,80208,23276
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,64196,14388
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,52438,9064
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,46000,12551
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,64063,13864

In [6]:
column_mapping = {
    'geo_id': 'geo_id',
    'block_group': 'block_group',
    'census_tract': 'census_tract',
    'counties': 'county',
    'state': 'state',
    'estimate_median_household_income_in_the_past_12_months_in_2022_inflationadjusted_dollars': 'est_inflated_past_12_months_median_income',
    'margin_of_error_median_household_income_in_the_past_12_months_in_2022_inflationadjusted_dollars': 'moe_inflated_past_12_months_median_income',
}

data.rename(columns=column_mapping, inplace=True)
print("Column names after renaming:")
print(data.columns)

numeric_columns = ['est_inflated_past_12_months_median_income', 'moe_inflated_past_12_months_median_income']
missing_columns = [col for col in numeric_columns if col not in data.columns]
if missing_columns:
    print(f"These columns are missing after renaming: {missing_columns}")
else:
    data.replace(['-', '**', '***'], '', inplace=True)
    data = data.replace(to_replace=r'(\d+)[-+]', value=r'\1', regex=True)
    data[numeric_columns] = data[numeric_columns].replace({',': ''}, regex=True)
    data[numeric_columns] = data[numeric_columns].apply(pd.to_numeric, errors='raise')

data.fillna('', inplace=True)
if 'nan' in data.columns:
    data.drop(columns=['nan'], inplace=True)
data.head()

Column names after renaming:
Index(['geo_id', 'block_group', 'census_tract', 'county', 'state',
       'est_inflated_past_12_months_median_income',
       'moe_inflated_past_12_months_median_income'],
      dtype='object')

,geo_id,block_group,census_tract,county,state,est_inflated_past_12_months_median_income,moe_inflated_past_12_months_median_income
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,80208.0,23276.0
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,64196.0,14388.0
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,52438.0,9064.0
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,46000.0,12551.0
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,64063.0,13864.0

In [7]:
data['year'] = 2022
data.head()

,geo_id,block_group,census_tract,county,state,est_inflated_past_12_months_median_income,moe_inflated_past_12_months_median_income,year
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,80208.0,23276.0,2022
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,64196.0,14388.0,2022
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,52438.0,9064.0,2022
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,46000.0,12551.0,2022
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,64063.0,13864.0,2022

In [8]:
csv_file_path = "2022_Median_Households_Income.csv"
data.to_csv(csv_file_path, index=False)
csv_file_path

'2022_Median_Households_Income.csv'

In [9]:
rows_with_2500 = data[(data == 2500).any(axis=1)]
print(rows_with_2500)

                     geo_id    block_group         census_tract  \
1918  1500000US290950134051  Block Group 1  Census Tract 134.05
2101  1500000US290950154012  Block Group 2  Census Tract 154.01
4804  1500000US295101067001  Block Group 1    Census Tract 1067
4851  1500000US295101111002  Block Group 2    Census Tract 1111

              county     state est_inflated_past_12_months_median_income  \
1918  Jackson County  Missouri                                    2500.0
2101  Jackson County  Missouri                                    2500.0
4804  St. Louis city  Missouri                                    2500.0
4851  St. Louis city  Missouri                                    2500.0

     moe_inflated_past_12_months_median_income  year
1918                                            2022
2101                                            2022
4804                                            2022
4851                                            2022