In [1]:
import psycopg2
from psycopg2 import sql
import numpy as np
import pandas as pd
from psycopg2.extensions import adapt, register_adapter, AsIs
from sqlalchemy import create_engine, text
import getpass

In [2]:
file_paths = ['2020_Mortgage_Status.csv', 
              '2021_Mortgage_Status.csv', 
              '2022_Mortgage_Status.csv']

dataframes = [pd.read_csv(file) for file in file_paths]
Mortgage_Status = pd.concat(dataframes, ignore_index=True)
merged_file_path = 'Mortgage.csv'
Mortgage_Status.to_csv(merged_file_path, index=False)
merged_file_path

'Mortgage.csv'

In [ ]:
database = "f24t03"
user     = input("Type username (pawprint) and hit enter: ")
password = getpass.getpass("Type password and hit enter: ")

connection = psycopg2.connect(database = database,
                              user     = user,
                              host     = 'pgsql',
                              password = password)

Type username (pawprint) and hit enter: jsmm8
Type password and hit enter: ········

In [4]:
with connection, connection.cursor() as cursor:
    cursor.execute("DROP TABLE IF EXISTS mortgage;")
    

    cursor.execute(
        '''
        CREATE TABLE IF NOT EXISTS mortgage (
    geo_id TEXT,
    block_group TEXT,
    census_tract TEXT,
    county TEXT,
    state TEXT,
    est_total NUMERIC,
    moe_total NUMERIC,
    est_mortgage_debt NUMERIC,
    moe_mortgage_debt NUMERIC,
    est_home_equity_only NUMERIC,
    moe_home_equity_only NUMERIC,
    est_both_mortgage_and_loan NUMERIC,
    moe_both_mortgage_and_loan NUMERIC,
    est_no_mortgage_or_loan NUMERIC,
    moe_no_mortgage_or_loan NUMERIC,
    est_without_mortgage NUMERIC,
    moe_without_mortgage NUMERIC,
    est_multiple_mortgages NUMERIC,
    moe_multiple_mortgages NUMERIC,
    est_only_home_equity_loan NUMERIC,
    moe_only_home_equity_loan NUMERIC,
    est_home_equity_loan_only NUMERIC,
    moe_home_equity_loan_only NUMERIC,
    year INT
);
    '''
    )

In [ ]:
mypasswd = getpass.getpass("Enter your database password: ")
username = 'jsmm8'
host = 'pgsql'
database = 'f24t03'

conn_string = f"postgresql+psycopg2://{username}:{mypasswd}@{host}/{database}"
try:
    engine = create_engine(conn_string)
    print("Database connection established successfully.")
except Exception as conn_err:
    print(f"Database connection error: {conn_err}")

mortgage = 'Mortgage.csv'

chunk_size = 500

try:
    for chunk in pd.read_csv(mortgage, chunksize=chunk_size):
        chunk.to_sql('mortgage', engine, if_exists='append', index=False)
        print(f"Uploaded a chunk of {len(chunk)} records to the database.")    
    print("CSV data uploaded successfully.")

except pd.errors.EmptyDataError:
    print("The CSV file is empty. Please check the file contents.")
except pd.errors.ParserError as parse_err:
    print(f"Error parsing CSV file: {parse_err}")
except Exception as e:
    print(f"An error occurred: {e}")

Enter your database password: ········
Database connection established successfully.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 93 records to the database.
CSV data uploaded successfully.

In [6]:
grant_privileges_query = "GRANT ALL PRIVILEGES ON TABLE mortgage  TO ypd5yb, remcmf, sgdky;"

with engine.connect() as connection:
        connection.execute(text(grant_privileges_query))
        print("Privileges granted successfully.")

Privileges granted successfully.

In [7]:
select_query = "SELECT * FROM mortgage WHERE year = 2022 LIMIT 10;" 

with engine.connect() as connection:
    result = connection.execute(text(select_query))
    df = pd.DataFrame(result.fetchall(), columns=result.keys())
print("Query executed successfully.")
df

Query executed successfully.

,geo_id,block_group,census_tract,county,state,est_total,moe_total,est_mortgage_debt,moe_mortgage_debt,est_home_equity_only,...,moe_no_mortgage_or_loan,est_without_mortgage,moe_without_mortgage,est_multiple_mortgages,moe_multiple_mortgages,est_only_home_equity_loan,moe_only_home_equity_loan,est_home_equity_loan_only,moe_home_equity_loan_only,year
0,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,405,77,221,56,None,...,None,184,57,6,9,6,9,0,12,2022
1,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,523,89,248,80,None,...,None,275,78,37,30,28,23,1,3,2022
2,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,275,55,114,38,None,...,None,161,49,5,7,5,7,0,12,2022
3,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,273,64,106,38,None,...,None,167,48,10,8,5,6,2,3,2022
4,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,332,79,122,45,None,...,None,210,66,10,9,4,5,0,12,2022
5,1500000US290019502003,Block Group 3,Census Tract 9502,Adair County,Missouri,345,91,118,57,None,...,None,227,73,7,11,7,11,0,12,2022
6,1500000US290019503001,Block Group 1,Census Tract 9503,Adair County,Missouri,210,64,80,43,None,...,None,130,52,43,39,43,39,0,12,2022
7,1500000US290019503002,Block Group 2,Census Tract 9503,Adair County,Missouri,165,76,89,53,None,...,None,76,55,0,12,0,12,0,12,2022
8,1500000US290019503003,Block Group 3,Census Tract 9503,Adair County,Missouri,60,44,51,41,None,...,None,9,14,21,31,21,31,0,12,2022
9,1500000US290019503004,Block Group 4,Census Tract 9503,Adair County,Missouri,10,15,0,12,None,...,None,10,15,0,12,0,12,0,12,2022

In [8]:
connection.close()

In [9]:
grant_privileges_query = "GRANT ALL PRIVILEGES ON TABLE mortgage TO ypd5yb, remcmf, sgdky;"

with engine.connect() as connection:
        connection.execute(text(grant_privileges_query))
        print("Privileges granted successfully.")

Privileges granted successfully.

In [10]:
query = """
SELECT COUNT(*)
FROM information_schema.columns
WHERE table_name = 'mortgage';
"""

with engine.connect() as connection:
    result = connection.execute(text(query))
    count = result.scalar()
print(f"The table 'mortgage' has {count} columns.")

The table 'mortgage_status' has 24 columns.