In [1]:
import psycopg2
from psycopg2 import sql
import numpy as np
import pandas as pd
from psycopg2.extensions import adapt, register_adapter, AsIs
from sqlalchemy import create_engine, text
import getpass

In [2]:
file_paths = ['2018_Occupancy_Status.csv', 
              '2019_Occupancy_Status.csv',
              '2020_Occupancy_Status.csv', 
              '2021_Occupancy_Status.csv', 
              '2022_Occupancy_Status.csv']

dataframes = [pd.read_csv(file) for file in file_paths]
occupancy_status = pd.concat(dataframes, ignore_index=True)
merged_file_path = 'occupancy_status.csv'
occupancy_status.to_csv(merged_file_path, index=False)
merged_file_path

'occupancy_status.csv'

In [ ]:
database = "f24t03"
user     = input("Type username (pawprint) and hit enter: ")
password = getpass.getpass("Type password and hit enter: ")

connection = psycopg2.connect(database = database,
                              user     = user,
                              host     = 'pgsql',
                              password = password)

Type username (pawprint) and hit enter: jsmm8
Type password and hit enter: ········

In [4]:
with connection, connection.cursor() as cursor:
    cursor.execute("DROP TABLE IF EXISTS occupancy_status;")
    

    cursor.execute(
        '''
        CREATE TABLE occupancy_status (
    geo_id TEXT,
    block_group TEXT,
    census_tract TEXT,
    county TEXT,
    state TEXT,
    total_estimate INTEGER,
    total_margin_of_error INTEGER,
    est_total_occupied INTEGER,
    moe_total_occupied INTEGER,
    est_total_vacant INTEGER,
    margin_of_error_total_vacant INTEGER,
    year INTEGER,
    PRIMARY KEY (geo_id, year)
    );
        '''
    )

In [ ]:
mypasswd = getpass.getpass("Enter your database password: ")
username = 'jsmm8'
host = 'pgsql'
database = 'f24t03'

conn_string = f"postgresql+psycopg2://{username}:{mypasswd}@{host}/{database}"
engine = create_engine(conn_string)

occupancy_status = 'occupancy_status.csv'

chunk_size = 500

try:
    for chunk in pd.read_csv(occupancy_status, chunksize=chunk_size):
        chunk.to_sql('occupancy_status', engine, if_exists='append', index=False)
        print(f"Uploaded a chunk of {len(chunk)} records to the database.")
    print("CSV data uploaded successfully.")

except Exception as e:
    print(f"An error occurred: {e}")

Enter your database password: ········
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 500 records to the database.
Uploaded a chunk of 105 records to the database.
CSV data uploaded successfully.

In [6]:
connection.close()

In [7]:
select_query = "SELECT * FROM occupancy_status LIMIT 10;" 

with engine.connect() as connection:
    result = connection.execute(text(select_query))
    df = pd.DataFrame(result.fetchall(), columns=result.keys())
print("Query executed successfully.")
df

Query executed successfully.

,geo_id,block_group,census_tract,county,state,total_estimate,total_margin_of_error,est_total_occupied,moe_total_occupied,est_total_vacant,margin_of_error_total_vacant,year
0,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,653,86,547,71,106,71,2018
1,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,551,74,466,67,85,52,2018
2,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,427,57,332,54,95,35,2018
3,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,412,62,314,50,98,32,2018
4,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,511,68,331,55,180,50,2018
5,1500000US290019502003,Block Group 3,Census Tract 9502,Adair County,Missouri,649,85,436,69,213,54,2018
6,1500000US290019503001,Block Group 1,Census Tract 9503,Adair County,Missouri,344,87,286,70,58,55,2018
7,1500000US290019503002,Block Group 2,Census Tract 9503,Adair County,Missouri,353,87,272,66,81,65,2018
8,1500000US290019503003,Block Group 3,Census Tract 9503,Adair County,Missouri,615,107,450,113,165,91,2018
9,1500000US290019503004,Block Group 4,Census Tract 9503,Adair County,Missouri,464,98,415,94,49,49,2018

In [8]:
grant_privileges_query = "GRANT ALL PRIVILEGES ON TABLE occupancy_status TO ypd5yb, remcmf, sgdky;"

with engine.connect() as connection:
        connection.execute(text(grant_privileges_query))
        print("Privileges granted successfully.")

Privileges granted successfully.