In [1]:
import pandas as pd

data = pd.read_csv("ACSDT5Y2022.B25002-Data.csv")
data.head()

,GEO_ID,NAME,B25002_001E,B25002_001M,B25002_002E,B25002_002M,B25002_003E,B25002_003M,Unnamed: 8
0,Geography,Geographic Area Name,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!Occupied,Margin of Error!!Total:!!Occupied,Estimate!!Total:!!Vacant,Margin of Error!!Total:!!Vacant,NaN
1,1500000US290019501001,Block Group 1; Census Tract 9501; Adair County...,577,86,427,74,150,61,NaN
2,1500000US290019501002,Block Group 2; Census Tract 9501; Adair County...,692,103,612,100,80,45,NaN
3,1500000US290019501003,Block Group 3; Census Tract 9501; Adair County...,449,71,317,64,132,43,NaN
4,1500000US290019502001,Block Group 1; Census Tract 9502; Adair County...,481,86,322,70,159,59,NaN

In [2]:
data[['BLOCK_GROUP', 'CENSUS_TRACT', 'COUNTIES', 'STATE']] = data['NAME'].str.split(';', expand=True)
data.drop(columns=['NAME'], inplace=True)
data['BLOCK_GROUP'] = data['BLOCK_GROUP'].str.strip()
data['CENSUS_TRACT'] = data['CENSUS_TRACT'].str.replace('County', '').str.strip()
data['COUNTIES'] = data['COUNTIES'].str.strip()
data['STATE'] = data['STATE'].str.strip()
data.drop(columns=['Unnamed: 8'], inplace=True)
data.head()

,GEO_ID,B25002_001E,B25002_001M,B25002_002E,B25002_002M,B25002_003E,B25002_003M,BLOCK_GROUP,CENSUS_TRACT,COUNTIES,STATE
0,Geography,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!Occupied,Margin of Error!!Total:!!Occupied,Estimate!!Total:!!Vacant,Margin of Error!!Total:!!Vacant,Geographic Area Name,None,None,None
1,1500000US290019501001,577,86,427,74,150,61,Block Group 1,Census Tract 9501,Adair County,Missouri
2,1500000US290019501002,692,103,612,100,80,45,Block Group 2,Census Tract 9501,Adair County,Missouri
3,1500000US290019501003,449,71,317,64,132,43,Block Group 3,Census Tract 9501,Adair County,Missouri
4,1500000US290019502001,481,86,322,70,159,59,Block Group 1,Census Tract 9502,Adair County,Missouri

In [3]:
data = data[['GEO_ID', 'BLOCK_GROUP', 'CENSUS_TRACT', 'COUNTIES', 'STATE'] + 
            [col for col in data.columns if col not in ['GEO_ID', 'BLOCK_GROUP', 'CENSUS_TRACT',
                                                        'COUNTIES', 'STATE']]]
data.head()

,GEO_ID,BLOCK_GROUP,CENSUS_TRACT,COUNTIES,STATE,B25002_001E,B25002_001M,B25002_002E,B25002_002M,B25002_003E,B25002_003M
0,Geography,Geographic Area Name,None,None,None,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!Occupied,Margin of Error!!Total:!!Occupied,Estimate!!Total:!!Vacant,Margin of Error!!Total:!!Vacant
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,577,86,427,74,150,61
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,692,103,612,100,80,45
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,449,71,317,64,132,43
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,481,86,322,70,159,59

In [4]:
new_headers = data.iloc[0, 5:].tolist() 
new_headers = ['GEO_ID', 'BLOCK_GROUP', 'CENSUS_TRACT', 'COUNTIES', 'STATE'] + new_headers
data.columns = new_headers
data = data.drop(index=0)
data.head()

,GEO_ID,BLOCK_GROUP,CENSUS_TRACT,COUNTIES,STATE,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!Occupied,Margin of Error!!Total:!!Occupied,Estimate!!Total:!!Vacant,Margin of Error!!Total:!!Vacant
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,577,86,427,74,150,61
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,692,103,612,100,80,45
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,449,71,317,64,132,43
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,481,86,322,70,159,59
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,508,95,378,88,130,50

In [5]:
data.columns = data.columns.astype(str)
def clean_column_name(column_name):
    column_name = column_name.replace("!!", "_")
    column_name = column_name.replace(" ", "_")
    column_name = column_name.lower()
    column_name = ''.join(char if char.isalnum() or char == '_' else '' for char in column_name)
    return column_name

cleaned_column_names = [clean_column_name(col) for col in data.columns]
data.columns = cleaned_column_names
data.head()

,geo_id,block_group,census_tract,counties,state,estimate_total,margin_of_error_total,estimate_total_occupied,margin_of_error_total_occupied,estimate_total_vacant,margin_of_error_total_vacant
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,577,86,427,74,150,61
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,692,103,612,100,80,45
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,449,71,317,64,132,43
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,481,86,322,70,159,59
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,508,95,378,88,130,50

In [6]:
column_mapping = {
    'geo_id': 'geo_id',
    'block_group': 'block_group',
    'census_tract': 'census_tract',
    'counties': 'county',
    'state': 'state',
    'estimate_total': 'total_estimate',
    'margin_of_error_total': 'total_margin_of_error',
    'estimate_total_occupied': 'est_total_occupied',
    'margin_of_error_total_occupied': 'moe_total_occupied',
    'estimate_total_vacant': 'est_total_vacant',
    'margin_of_error_total_vacant': 'margin_of_error_total_vacant'
}

data.rename(columns=column_mapping, inplace=True)
data.head()

,geo_id,block_group,census_tract,county,state,total_estimate,total_margin_of_error,est_total_occupied,moe_total_occupied,est_total_vacant,margin_of_error_total_vacant
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,577,86,427,74,150,61
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,692,103,612,100,80,45
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,449,71,317,64,132,43
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,481,86,322,70,159,59
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,508,95,378,88,130,50

In [7]:
data['year'] = 2022
data.head()

,geo_id,block_group,census_tract,county,state,total_estimate,total_margin_of_error,est_total_occupied,moe_total_occupied,est_total_vacant,margin_of_error_total_vacant,year
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,577,86,427,74,150,61,2022
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,692,103,612,100,80,45,2022
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,449,71,317,64,132,43,2022
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,481,86,322,70,159,59,2022
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,508,95,378,88,130,50,2022

In [8]:
csv_file_path = "2022_Occupancy_Status.csv"
data.to_csv(csv_file_path, index=False)
csv_file_path

'2022_Occupancy_Status.csv'