In [1]:
import psycopg2
from psycopg2 import sql
from psycopg2.extensions import adapt, register_adapter, AsIs
from sqlalchemy import create_engine
import getpass
import pandas as pd
import numpy as np

import pandas as pd
import geopandas as gpd
import os
import webbrowser
import numpy as np
from shapely import wkt
from datetime import datetime

In [ ]:
database = 'f24t03'
user = 'jsmm8'
password = getpass.getpass("Type password and hit enter: ")

Type password and hit enter: ········

In [ ]:
try:
    # Connect to the PostgreSQL database
    connection = psycopg2.connect(dbname=database, user=user, password=password, host='pgsql')
    cursor = connection.cursor()

    # Execute a query to get all table names
    cursor.execute("""
        SELECT table_name 
        FROM information_schema.tables 
        WHERE table_schema = 'public';
    """)
    
    # Fetch all results
    tables = cursor.fetchall()

    # Print the table names
    print("Tables in the database:")
    for table in tables:
        print(table[0])

except Exception as e:
    print(f"An error occurred: {e}")

finally:
    # Close the cursor and connection
    if cursor:
        cursor.close()
    if connection:
        connection.close()

Tables in the database:
ethnicity
year_built
springfield_fire
education_levels
springfield_middle_school
tenure_by_bedrooms
tenure_by_kitchen
tenure_by_plumbing
rooms
imputed_median_house_value
raster_columns
raster_overviews
springfield_police
education_categories
demographics_master
model_features_data
year_structure_built
springfield_early_childhood_school
mortgage
tenure_by_rooms
income_data_processed
race_data_processed
housing_stats_data
race_migration_data
merged_new_house_data
income_pct_change
bedrooms
distance_drive_times
educational_attainment
employment_status
springfield_neighborhood_service_areas
parcel_boundaries
springfield_final_dataset
geo_mobility
home_value
house_heating_fuel
household_income
housing_pct_change_stats_data
internet_subscription
income_to_poverty_ratio
median_home_value
median_household_income
median_rooms_by_tenure
occupancy_status
plumbing_facilities
poverty_status
mortgage_status
springfield_single_family_point
springfield_elementary_school
springfield_high_school
springfield_nursing_home
geography_columns
education_data_processed
geometry_columns
spatial_ref_sys
springfield_trailheads
springfield_hospital
springfield_public_health
springfield_urgentcare
floodplain_risk
georealedge_data

In [ ]:
# Full data

# === Step 1: Connect to your database ===
conn = psycopg2.connect(database=database, user=user, host='pgsql', password=password)

# === Step 2: Load full table using pandas ===
query = "SELECT * FROM georealedge_data;"
df = pd.read_sql(query, conn)
conn.close()

# === Step 3: Identify all geometry columns ===
geometry_cols = [col for col in df.columns if 'geolocation' in col]

# === Step 4: Convert all geometry columns from WKB to Shapely Points ===
from shapely import wkb

def safe_parse(val):
    try:
        if isinstance(val, str):
            return wkb.loads(val, hex=True)
        elif isinstance(val, (bytes, memoryview)):
            return wkb.loads(val)
    except:
        return None

for col in geometry_cols:
    df[col] = df[col].apply(safe_parse)

# === Step 5: Wrap as GeoDataFrame using one geometry column ===
df_full = gpd.GeoDataFrame(df, geometry='home_geolocation', crs='EPSG:26915')

df_full.head()

,home_geolocation,block_group_id,address,objectid,zip5,nsa,bds_zone,zoning,drive_time_fire,drive_distance_fire,...,square_footage,lot_size,year_built,sinkhole_house_risk_rating,sinkhole_risk_label,has_sinkhole_impact,pct_fld_oc,has_floodplain_impact,floodplain_house_risk_rating,floodplain_risk_label
0,POINT (471174.694 4120899.099),1500000US290770033003,2511 W ATLANTIC ST,6720,65803,TOM WATKIN,A,R-SF,2.75,0.92,...,2358,10688.0,2019,0,No Risk,N,0.0,N,0,No Risk
1,POINT (472875.801 4120913.727),1500000US290770019001,2027 N JOHNSTON AVE,52747,65803,WOODLAND,A,R-SF,3.30,0.98,...,2947,19842.0,1971,0,No Risk,N,0.0,N,0,No Risk
2,POINT (473810.378 4120914.316),1500000US290770019002,2031 N LYON AVE,56844,65803,WOODLAND,BN,R-SF,1.89,0.54,...,3388,19634.0,1979,0,No Risk,N,0.0,N,0,No Risk
3,POINT (471548.433 4120914.286),1500000US290770033003,2014 N PARK AVE,38608,65803,TOM WATKIN,A,R-SF,3.17,1.14,...,2832,21306.0,2014,0,No Risk,N,0.0,N,0,No Risk
4,POINT (474571.749 4120917.463),1500000US290770055003,2040 N BENTON AVE,5218,65803,WOODLAND,BN,R-SF,3.22,0.92,...,2594,10017.0,1962,0,No Risk,N,0.0,N,0,No Risk

In [5]:
# Drop rows with missing values in the three stratifying columns
df_valid = df_full[
    df_full[['nsa', 'has_sinkhole_impact', 'has_floodplain_impact']].notnull().all(axis=1)
]

# Sampling function for each NSA group
def triple_stratified_sample(group):
    total_target = 100
    
    # Group by both sinkhole and floodplain impact
    strat_group = group.groupby(['has_sinkhole_impact', 'has_floodplain_impact'])
    
    # Count samples per subgroup
    subgroup_counts = strat_group.size().reset_index(name='count')
    
    if subgroup_counts.empty:
        return pd.DataFrame()
    
    # Determine proportions
    subgroup_counts['proportion'] = subgroup_counts['count'] / subgroup_counts['count'].sum()
    subgroup_counts['sample_size'] = (subgroup_counts['proportion'] * total_target).round().astype(int)
    
    sampled_rows = []
    
    for _, row in subgroup_counts.iterrows():
        y_n = row['has_sinkhole_impact']
        f_n = row['has_floodplain_impact']
        n_sample = row['sample_size']
        
        sub_df = group[
            (group['has_sinkhole_impact'] == y_n) &
            (group['has_floodplain_impact'] == f_n)
        ]
        
        if len(sub_df) == 0:
            continue
        
        sample = sub_df.sample(n=n_sample, replace=(len(sub_df) < n_sample), random_state=42)
        sampled_rows.append(sample)
    
    return pd.concat(sampled_rows)

# Apply the sampling to each NSA
df_final_sample = df_valid.groupby('nsa', group_keys=False).apply(triple_stratified_sample)

In [6]:
df_final_sample

,home_geolocation,block_group_id,address,objectid,zip5,nsa,bds_zone,zoning,drive_time_fire,drive_distance_fire,...,square_footage,lot_size,year_built,sinkhole_house_risk_rating,sinkhole_risk_label,has_sinkhole_impact,pct_fld_oc,has_floodplain_impact,floodplain_house_risk_rating,floodplain_risk_label
32630,POINT (476953.017 4117407.434),1500000US290770023003,1919 E CHERRYSTREET CT,44094,65802,BINGHAM,C,R-SF,2.87,0.93,...,2778,15158.0,2020,0,No Risk,N,0.0,N,0,No Risk
31894,POINT (476967.327 4117275.622),1500000US290770023003,1913 E MONROE ST,44084,65802,BINGHAM,C,R-SF,3.60,1.10,...,4000,17968.0,2006,0,No Risk,N,0.0,N,0,No Risk
34670,POINT (478872.470 4117847.950),1500000US290770023002,314 S KEN AVE,50604,65802,BINGHAM,C,R-SF,3.14,1.19,...,2741,14677.0,1981,0,No Risk,N,0.0,N,0,No Risk
30629,POINT (477198.535 4117085.964),1500000US290770023003,747 S GRANDVIEW AVE,43861,65802,BINGHAM,C,R-SF,3.30,1.02,...,3915,18973.0,1983,0,No Risk,N,0.0,N,0,No Risk
33734,POINT (478708.373 4117642.303),1500000US290770023002,426 S MONTE VISTA AVE,69580,65802,BINGHAM,C,R-SF,3.67,1.26,...,2157,18491.0,1963,0,No Risk,N,0.0,N,0,No Risk
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5179,POINT (478581.566 4106534.401),1500000US290770040021,5917 S AUDREY CT,101166,65804,ZONE4,C,R-SF,0.80,0.22,...,2015,19946.0,2015,0,No Risk,N,0.0,N,0,No Risk
8255,POINT (474394.251 4110128.349),1500000US290770040041,4231 S KIMBROUGH AVE,31558,65810,ZONE4,BS,R-SF,4.19,1.75,...,3699,13796.0,1967,0,No Risk,N,0.0,N,0,No Risk
19330,POINT (480543.545 4114431.966),1500000US290770038022,3665 E BOWMAN ST,30132,65809,ZONE4,C,R-SF,1.62,0.57,...,3220,17238.0,2004,0,No Risk,N,0.0,N,0,No Risk
15262,POINT (481068.078 4113411.671),1500000US290770038023,3977 E WILSHIRE DR,38517,65809,ZONE4,C,R-SF,0.05,0.01,...,3469,20834.0,1961,0,No Risk,N,0.0,N,0,No Risk
5413,POINT (474700.773 4108080.938),1500000US290770040032,5228 S HAZEL DR,36764,65810,ZONE4,BS,R-SF,4.78,1.46,...,2686,16210.0,1962,0,No Risk,N,0.0,N,0,No Risk

In [7]:
df = df_final_sample.copy()

### Piecewise Model

In [8]:
# piecewise model

def piecewise_score(distance, threshold):
    """Calculate score based on distance from threshold"""
    if distance <= threshold:
        return 1.00
    elif distance <= threshold + 1:
        return 0.85
    elif distance <= threshold + 2:
        return 0.70
    elif distance <= threshold + 3:
        return 0.55
    elif distance <= threshold + 4:
        return 0.40
    else:
        return 0.25

def main():
    print(f"Successfully loaded data with {len(df)} records")
    
    use_filters = input("Do you want to apply filters? (y/n): ").lower() == 'y'
    
    if use_filters:
        min_price = float(input("Enter minimum price (0): ") or 0)
        max_price = float(input("Enter maximum price (1000000): ") or 1000000)
        
        bedrooms_input = input("Enter number of bedrooms (or press Enter for any): ")
        bedrooms = int(bedrooms_input) if bedrooms_input.strip() else None
        
        bathrooms_input = input("Enter number of bathrooms (or press Enter for any): ")
        bathrooms = float(bathrooms_input) if bathrooms_input.strip() else None
        
        min_sqft = float(input("Enter minimum square footage (0): ") or 0)
        max_sqft = float(input("Enter maximum square footage (4500): ") or 10000)
        
        filtered_df = df.copy()
        
        filtered_df = filtered_df[
            (filtered_df['house_price'] >= min_price) & 
            (filtered_df['house_price'] <= max_price) &
            (filtered_df['square_footage'] >= min_sqft) & 
            (filtered_df['square_footage'] <= max_sqft)
        ]
        
        if bedrooms is not None:
            filtered_df = filtered_df[filtered_df['bedrooms'] == bedrooms]
            
        if bathrooms is not None:
            filtered_df = filtered_df[filtered_df['bathrooms'] == bathrooms]
        
        print(f"After filtering: {len(filtered_df)} records remain")
    else:
        filtered_df = df.copy()
    
    distance_columns = [col for col in filtered_df.columns if 'drive_distance_' in col]
    
    print("\nAvailable Points of Interest:")
    for i, col in enumerate(distance_columns, 1):
        poi_name = col.replace('drive_distance_', '')
        print(f"{i}. {poi_name}")
    
    poi_preferences = []
    
    while True:
        choice = int(input("\nSelect a POI (1-{0}) or 0 to finish: ".format(len(distance_columns))))
        if choice == 0:
            break
        
        if 1 <= choice <= len(distance_columns):
            selected_column = distance_columns[choice-1]
            importance = int(input(f"Enter importance (1-5) for {selected_column.replace('drive_distance_', '')}: "))
            distance = float(input(f"Enter maximum preferred distance in miles: "))
            
            poi_preferences.append({
                'column': selected_column,
                'importance': importance,
                'distance': distance
            })
            print(f"Added {selected_column.replace('drive_distance_', '')}")
        else:
            print("Invalid choice")
    
    if not poi_preferences:
        print("No POIs selected. Exiting.")
        return
    
    scored_df = filtered_df.copy()
    
    selected_pois = [poi['column'] for poi in poi_preferences]
    thresholds = {poi['column']: poi['distance'] for poi in poi_preferences}
    importance = {poi['column']: poi['importance'] for poi in poi_preferences}
    
    total_importance = sum(importance.values())
    weights = {poi: val / total_importance for poi, val in importance.items()}
    
    for poi in selected_pois:
        score_column = f"{poi}_score"
        scored_df[score_column] = scored_df[poi].apply(
            lambda x: piecewise_score(x, thresholds[poi])
        )
    
    scored_df["final_score"] = scored_df.apply(
        lambda row: sum(
            row[f"{poi}_score"] * weights[poi] for poi in selected_pois if f"{poi}_score" in row
        ),
        axis=1
    )
    
    scored_df = scored_df.sort_values("final_score", ascending=False)
    
    #num_results = int(input("How many top results would you like to see? "))
    
    print("\n===== MATCHING PROPERTIES =====")
    base_columns = ["address", "house_price", "bedrooms", "bathrooms", "square_footage", "final_score"]
    distance_display_cols = selected_pois  # show the raw distances to selected POIs
    display_columns = base_columns + distance_display_cols
    
    print(scored_df[display_columns].round(2))

if __name__ == "__main__":
    main()

Successfully loaded data with 3600 records
Do you want to apply filters? (y/n): y
Enter minimum price (0): 40000
Enter maximum price (1000000): 750000
Enter number of bedrooms (or press Enter for any): 3
Enter number of bathrooms (or press Enter for any): 2
Enter minimum square footage (0): 0
Enter maximum square footage (4500): 4500
After filtering: 133 records remain

Available Points of Interest:
1. fire
2. police
3. early_childhood_school
4. elementary_school
5. middle_school
6. high_school
7. hospital
8. nursing_home
9. public_health
10. urgentcare
11. trailheads

Select a POI (1-11) or 0 to finish: 7
Enter importance (1-5) for hospital: 5
Enter maximum preferred distance in miles: 3
Added hospital

Select a POI (1-11) or 0 to finish: 11
Enter importance (1-5) for trailheads: 4
Enter maximum preferred distance in miles: 2
Added trailheads

Select a POI (1-11) or 0 to finish: 0

===== MATCHING PROPERTIES =====
                    address  house_price  bedrooms  bathrooms  square_footage  \
39274  1223 N ROBBERSON AVE    172924.23         3          2            2320
16285     2506 S REGINA AVE    121359.18         3          2            1778
20504     934 E CHEROKEE ST    143295.10         3          2            2096
19825     515 E LINDBERG PL    149246.77         3          2            4387
19286    216 E WHITESIDE ST    148088.14         3          2            3383
...                     ...          ...       ...        ...             ...
42284      3952 W CAMDEN ST     97618.48         3          2            2013
42763       4031 W YOUNG ST    111269.02         3          2            2626
3123       2521 N RURAL AVE    108059.61         3          2            2532
22856     3860 E LINWOOD DR    314131.92         3          2            1290
34881     504 S BERNIER AVE    173308.01         3          2            1368

       final_score  drive_distance_hospital  drive_distance_trailheads
39274         1.00                     0.12                       0.86
16285         1.00                     2.48                       1.68
20504         1.00                     0.36                       1.17
19825         1.00                     0.91                       0.99
19286         1.00                     1.12                       1.07
...            ...                      ...                        ...
42284         0.77                     4.36                       2.49
42763         0.77                     4.42                       2.55
3123          0.75                     5.13                       0.30
22856         0.70                     4.67                       3.06
34881         0.68                     5.20                       2.30

[133 rows x 8 columns]

### TOPSIS Model

In [10]:
# topsis model

def normalize_matrix(matrix):
    return matrix / np.sqrt((matrix ** 2).sum())


def topsis_score(df, criteria_columns, weights):
    decision_matrix = df[criteria_columns].copy()
    norm_matrix = normalize_matrix(decision_matrix)
    weighted_matrix = norm_matrix * weights

    pis = weighted_matrix.min()  
    nis = weighted_matrix.max()

    d_pos = np.sqrt(((weighted_matrix - pis) ** 2).sum(axis=1))
    d_neg = np.sqrt(((weighted_matrix - nis) ** 2).sum(axis=1))
    scores = d_neg / (d_pos + d_neg)

    return scores

def main():
    df = pd.read_csv("full_db.csv")
    print(f"Successfully loaded data with {len(df)} records")

    use_filters = input("Do you want to apply filters? (y/n): ").lower() == 'y'
    if use_filters:
        min_price = float(input("Enter minimum price (0): ") or 0)
        max_price = float(input("Enter maximum price (1000000): ") or 1000000)

        bedrooms_input = input("Enter number of bedrooms (or press Enter for any): ")
        bedrooms = int(bedrooms_input) if bedrooms_input.strip() else None

        bathrooms_input = input("Enter number of bathrooms (or press Enter for any): ")
        bathrooms = float(bathrooms_input) if bathrooms_input.strip() else None

        min_sqft = float(input("Enter minimum square footage (0): ") or 0)
        max_sqft = float(input("Enter maximum square footage (4500): ") or 10000)

        filtered_df = df[
            (df['house_price'] >= min_price) &
            (df['house_price'] <= max_price) &
            (df['square_footage'] >= min_sqft) &
            (df['square_footage'] <= max_sqft)
        ]

        if bedrooms is not None:
            filtered_df = filtered_df[filtered_df['bedrooms'] == bedrooms]

        if bathrooms is not None:
            filtered_df = filtered_df[filtered_df['bathrooms'] == bathrooms]

        print(f"After filtering: {len(filtered_df)} records remain")
    else:
        filtered_df = df.copy()

    distance_columns = [col for col in filtered_df.columns if 'drive_distance_' in col]

    print("\nAvailable Points of Interest:")
    for i, col in enumerate(distance_columns, 1):
        print(f"{i}. {col.replace('drive_distance_', '')}")

    poi_preferences = []

    while True:
        choice = int(input("\nSelect a POI (1-{0}) or 0 to finish: ".format(len(distance_columns))))
        if choice == 0:
            break

        if 1 <= choice <= len(distance_columns):
            selected_column = distance_columns[choice - 1]
            importance = int(input(f"How important is it for this POI ({selected_column.replace('drive_distance_', '')}) to be CLOSE to the property? (1-5): "))

            poi_preferences.append({
                'column': selected_column,
                'importance': importance
            })
            print(f"Added {selected_column.replace('drive_distance_', '')}")
        else:
            print("Invalid choice")

    if not poi_preferences:
        print("No POIs selected. Exiting.")
        return

    scored_df = filtered_df.copy()

    selected_pois = [poi['column'] for poi in poi_preferences]
    importance = {poi['column']: poi['importance'] for poi in poi_preferences}

    total_importance = sum(importance.values())
    weights = np.array([importance[poi] / total_importance for poi in selected_pois])

    # Calculate TOPSIS scores
    scored_df["topsis_score"] = topsis_score(scored_df, selected_pois, weights)
    scored_df = scored_df.sort_values("topsis_score", ascending=False)

    print("\n===== PROPERTIES RANKED BY TOPSIS SCORE =====")
    display_columns = ["address", "house_price", "bedrooms", "bathrooms", "square_footage"] + selected_pois + ["topsis_score"]
    print(scored_df[display_columns].round(2).to_string(index=False))

if __name__ == "__main__":
    main()

Successfully loaded data with 3600 records
Do you want to apply filters? (y/n): y
Enter minimum price (0): 0
Enter maximum price (1000000): 750000
Enter number of bedrooms (or press Enter for any): 3
Enter number of bathrooms (or press Enter for any): 2
Enter minimum square footage (0): 0
Enter maximum square footage (4500): 4500
After filtering: 133 records remain

Available Points of Interest:
1. fire
2. police
3. early_childhood_school
4. elementary_school
5. middle_school
6. high_school
7. hospital
8. nursing_home
9. public_health
10. urgentcare
11. trailheads

Select a POI (1-11) or 0 to finish: 7
How important is it for this POI (hospital) to be CLOSE to the property? (1-5): 5
Added hospital

Select a POI (1-11) or 0 to finish: 11
How important is it for this POI (trailheads) to be CLOSE to the property? (1-5): 4
Added trailheads

Select a POI (1-11) or 0 to finish: 0

===== PROPERTIES RANKED BY TOPSIS SCORE =====
                 address  house_price  bedrooms  bathrooms  square_footage  drive_distance_hospital  drive_distance_trailheads  topsis_score
    909 E VILLA MARIE ST    145102.77         3          2            3478                     0.62                       0.56          0.90
      3813 S VIRGINIA PL    181334.01         3          2            2430                     0.73                       0.40          0.90
    1223 N ROBBERSON AVE    172924.23         3          2            2320                     0.12                       0.86          0.89
      1408 N SHERMAN AVE    123403.97         3          2            2111                     0.54                       0.72          0.89
   1116 E MORNINGSIDE ST    137866.36         3          2            1139                     0.85                       0.30          0.88
          431 S FORT AVE     77761.70         3          2            2939                     0.85                       0.42          0.88
      1609 N SHERMAN AVE    220091.54         3          2            2238                     0.79                       0.66          0.87
     825 E UNIVERSITY ST    312354.66         3          2            1844                     0.74                       0.78          0.86
     3261 N DELAWARE AVE    151891.13         3          2            2616                     0.94                       0.57          0.86
      1844 S HOLLAND AVE    134115.24         3          2            2127                     0.80                       0.76          0.86
       1034 W MADISON ST     87736.68         3          2            3840                     0.81                       0.75          0.86
      926 S MISSOURI AVE     80662.41         3          2            3294                     0.79                       0.80          0.85
      1271 E WOODLAND ST    136443.84         3          2            3301                     1.00                       0.51          0.85
       1611 E HANOVER ST    177346.84         3          2            2988                     0.54                       0.99          0.85
        527 W CATALPA ST    122879.27         3          2            2039                     1.08                       0.25          0.85
        4014 S GATLIN CT    188257.41         3          2            3959                     1.10                       0.25          0.85
        4015 S EATON AVE    166064.65         3          2            1234                     1.09                       0.42          0.84
   1520 E WALNUT LAWN ST    180536.17         3          2            2867                     0.68                       0.97          0.84
       1568 E HANOVER ST    186425.90         3          2            3298                     0.87                       0.81          0.84
        2021 S KINGS AVE    153086.90         3          2            2009                     0.34                       1.17          0.84
       934 E CHEROKEE ST    143295.10         3          2            2096                     0.36                       1.17          0.84
         1516 E MCGEE ST    124331.66         3          2            2248                     0.51                       1.14          0.83
      1543 S HOLLAND AVE    365562.72         3          2            3535                     1.14                       0.56          0.83
        918 S WEAVER AVE     84556.14         3          2            3250                     0.94                       0.88          0.83
         601 E DELMAR ST    151993.18         3          2            1269                     1.18                       0.53          0.82
        1070 E BLAINE ST    133742.31         3          2            3290                     1.15                       0.60          0.82
        1028 N GRANT AVE     60042.16         3          2            2455                     0.68                       1.10          0.82
       3339 N ROGERS AVE    149846.06         3          2            3349                     0.85                       0.99          0.82
       927 E LINDBERG ST    144139.84         3          2            3589                     0.56                       1.20          0.82
 1634 E PRAIRIE CREEK CT    161339.72         3          2            2707                     0.62                       1.18          0.82
       515 E LINDBERG PL    149246.77         3          2            4387                     0.91                       0.99          0.82
     1944 S DELAWARE AVE    115903.20         3          2            2263                     0.51                       1.26          0.81
     2331 S MARYLAND AVE    133706.66         3          2            2140                     0.72                       1.16          0.81
     1307 S MARYLAND AVE    103288.09         3          2            2520                     1.15                       0.80          0.81
     1334 S VIRGINIA AVE     99431.67         3          2            3347                     1.19                       0.76          0.81
         3224 S CLAY AVE    200848.13         3          2            3035                     0.53                       1.33          0.80
       1226 N ROGERS AVE    105291.57         3          2            2650                     1.42                       0.32          0.80
       211 W PORTLAND ST    152210.20         3          2            1590                     1.44                       0.38          0.79
     3550 S VIRGINIA AVE    179389.70         3          2            2676                     0.57                       1.37          0.79
        1507 S GRANT AVE    123181.05         3          2            1362                     1.51                       0.27          0.79
      216 E WHITESIDE ST    148088.14         3          2            3383                     1.12                       1.07          0.78
     1554 S CAMPBELL AVE    136836.20         3          2            1600                     1.56                       0.40          0.78
      1438 E PORTLAND ST    141047.66         3          2            3194                     0.89                       1.33          0.77
       3225 S BENTON AVE    143652.63         3          2            1094                     0.67                       1.47          0.77
      1715 S FREMONT AVE    133775.25         3          2            1927                     0.71                       1.46          0.77
      1675 E DIVISION ST    122325.82         3          2            2405                     1.70                       0.43          0.75
       2015 N BENTON AVE     66072.18         3          2            2360                     1.00                       1.42          0.75
        1609 E BLAINE ST    105563.95         3          2            2192                     1.79                       0.49          0.74
           631 E ERIE ST    130534.91         3          2            3152                     0.83                       1.64          0.73
       1201 W WEBSTER ST     77316.87         3          2            2004                     1.04                       1.50          0.73
        1834 S VALLEY RD    154970.13         3          2            2820                     1.35                       1.23          0.73
           515 E ERIE ST    145920.03         3          2            2853                     0.90                       1.70          0.72
      1231 E HARRISON ST    268545.44         3          2            1257                     1.35                       1.35          0.72
    915 N DELAWARE AVE A     91238.87         3          2            1519                     1.78                       0.81          0.72
       1619 W WEBSTER ST     69641.60         3          2            2754                     1.44                       1.28          0.72
    1913 S LANCASTER AVE    136020.04         3          2            2343                     1.63                       1.15          0.71
   1605 E CAMINO ALTO ST    224707.33         3          2            2597                     1.48                       1.35          0.70
     1321 E LAFAYETTE ST    162510.44         3          2            2958                     1.56                       1.36          0.69
        1606 E BROWER ST     88098.89         3          2            2488                     1.90                       0.93          0.69
        1919 E MIMOSA ST    163983.41         3          2            1010                     1.44                       1.58          0.68
         2036 N LYON AVE     94995.01         3          2            1992                     1.04                       1.97          0.67
     1795 E LAFAYETTE CT    273191.63         3          2            3378                     1.99                       1.01          0.67
       607 E KATHLEEN DR    100770.43         3          2            1838                     0.71                       2.19          0.67
          1911 E DALE ST     70210.98         3          2            2593                     1.70                       1.41          0.67
    1928 S OAK GROVE AVE    158936.61         3          2            2784                     2.32                       0.50          0.67
      4648 S BOTHWELL CT    259075.63         3          2            2562                     1.99                       1.14          0.66
        1937 E GLENCO ST     79654.56         3          2            1909                     1.70                       1.53          0.66
          2024 E HIGH ST     82158.91         3          2            3783                     1.76                       1.47          0.66
     2214 E CLAIBORNE ST    222646.84         3          2            2375                     1.91                       1.34          0.65
     2744 S GLENDALE AVE    232070.97         3          2            2012                     2.08                       1.15          0.65
     3461 S PINEHURST CT    173790.59         3          2            1713                     1.49                       1.82          0.65
      2505 S VENTURA AVE    226983.98         3          2            1984                     2.43                       0.62          0.64
      2155 E CRAGMONT ST    181252.82         3          2            4017                     1.37                       1.98          0.64
       2118 W CALHOUN ST     66166.12         3          2            1699                     1.69                       1.69          0.64
      1843 E RICHMOND PL    310858.81         3          2            2230                     2.38                       0.84          0.63
       2108 E WORNALL PL    311090.59         3          2            1201                     2.57                       0.55          0.63
       1650 E SWALLOW ST    222917.21         3          2            1508                     1.83                       1.70          0.62
      1104 S OAK PARK DR     80242.89         3          2            1771                     2.62                       0.62          0.62
      2313 W CHESTNUT ST     98872.94         3          2            2807                     2.16                       1.36          0.62
         2752 W GRAND ST     86224.05         3          2            2389                     2.53                       0.88          0.61
     1628 E WOOD OAKS ST    325741.91         3          2            3742                     2.31                       1.30          0.60
      2240 N CONCORD AVE     94089.64         3          2            2809                     1.39                       2.35          0.60
     3110 N ALBERTHA AVE    202957.97         3          2            1814                     2.93                       0.41          0.59
      1532 W ATLANTIC ST     71889.34         3          2            3146                     1.79                       2.06          0.58
      412 W WOODRIDGE ST    104927.33         3          2            3364                     1.91                       1.99          0.58
          2224 E NORA ST    103438.98         3          2            2296                     1.89                       2.03          0.58
 3115 S TERRACE GREEN CT    238885.09         3          2            1558                     1.91                       2.09          0.57
    1242 W LIVINGSTON ST     95883.52         3          2            2549                     2.38                       1.60          0.56
    2250 E CHERRYVALE ST    208244.45         3          2            1299                     1.83                       2.27          0.56
       3512 S MENTOR AVE    329258.70         3          2            3039                     2.49                       1.54          0.55
     1436 W RIVERSIDE ST    195257.16         3          2            2387                     2.28                       1.80          0.55
      1623 W CHEROKEE ST    122199.19         3          2            2730                     2.53                       1.51          0.55
      816 W WOODRIDGE ST     94548.81         3          2            2078                     2.23                       1.90          0.55
       2506 S REGINA AVE    121359.18         3          2            1778                     2.48                       1.68          0.54
      3361 S BARBETT AVE    208945.92         3          2            2635                     1.83                       2.44          0.54
      2639 E SEQUIOTA ST    208345.92         3          2            1658                     1.84                       2.44          0.54
       1215 W TALMAGE ST     95117.04         3          2            3169                     2.41                       1.81          0.54
          5218 S GARY CT    254641.98         3          2            3066                     2.70                       1.65          0.51
        2304 E SHARON ST    105768.01         3          2            1963                     2.08                       2.40          0.51
     3337 S SARATOGA AVE    242361.25         3          2            3111                     2.23                       2.28          0.51
          2832 W VALE ST     98803.17         3          2            2897                     3.94                       0.27          0.50
          3668 W PAGE ST    158327.88         3          2            1889                     3.67                       0.63          0.50
      2605 N CLAYTON AVE    102047.52         3          2            3075                     2.16                       2.49          0.50
      2046 S COLGATE AVE    108508.10         3          2            3659                     3.86                       0.48          0.49
  4020 W KAY POINTE BLVD    169873.10         3          2            1739                     3.77                       0.63          0.49
          4123 S OAK AVE    177175.48         3          2            1033                     2.65                       1.98          0.49
       2813 W NICHOLS ST    113696.59         3          2            1037                     2.63                       2.06          0.48
       2375 W ROXBURY ST    217997.74         3          2            3150                     2.88                       1.76          0.48
          2540 W HIGH ST     83534.50         3          2            1626                     2.86                       1.94          0.46
     1131 N HOMEWOOD AVE    119181.10         3          2            1578                     2.71                       2.13          0.46
        451 S LAUREL AVE     59445.56         3          2            3485                     2.95                       1.90          0.46
     735 N HILLCREST AVE    108782.48         3          2            1320                     2.97                       2.07          0.43
      2539 E ATLANTIC ST     80638.18         3          2            4092                     3.16                       1.91          0.43
        2114 E MONROE ST     80687.56         3          2            1453                     2.73                       2.47          0.43
       2134 E MADISON ST     88143.23         3          2            3832                     2.68                       2.63          0.42
        2521 N RURAL AVE    108059.61         3          2            2532                     5.13                       0.30          0.42
     2439 N ALBERTHA AVE    148460.00         3          2            3157                     3.13                       2.13          0.41
        702 S BARNES AVE    142320.88         3          2            2197                     2.88                       2.48          0.40
      3351 E CARDINAL ST    208316.58         3          2            2637                     3.05                       2.30          0.40
       2719 E MONROE TER    146769.23         3          2            2705                     3.37                       1.99          0.39
    1247 N HILLCREST AVE    128861.54         3          2            3087                     2.82                       2.73          0.39
     3103 W SHEFFIELD ST    135870.58         3          2            3609                     2.97                       2.54          0.39
    3975 E GASTONBURY ST    347692.24         3          2            1653                     4.56                       1.03          0.38
    4008 E GASTONBURY ST    354556.46         3          2            2774                     4.56                       1.03          0.38
       3714 E ALAMEDA ST    299808.52         3          2            2758                     4.06                       1.53          0.37
     5164 S ROCHELLE AVE    340557.80         3          2            2994                     3.13                       3.42          0.30
        629 N BURTON AVE    104845.81         3          2            3433                     3.61                       2.64          0.29
           217 N KEN AVE    109013.13         3          2            2844                     3.62                       2.65          0.29
     832 N OAK GROVE AVE    120326.02         3          2            2832                     3.69                       2.63          0.28
        3952 W CAMDEN ST     97618.48         3          2            2013                     4.36                       2.49          0.21
         4031 W YOUNG ST    111269.02         3          2            2626                     4.42                       2.55          0.20
       504 S BERNIER AVE    173308.01         3          2            1368                     5.20                       2.30          0.19
       3860 E LINWOOD DR    314131.92         3          2            1290                     4.67                       3.06          0.11