In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv("ACSDT5Y2022.B25020-Data.csv")
data.head()

,GEO_ID,NAME,B25020_001E,B25020_001M,B25020_002E,B25020_002M,B25020_003E,B25020_003M,B25020_004E,B25020_004M,...,B25020_017M,B25020_018E,B25020_018M,B25020_019E,B25020_019M,B25020_020E,B25020_020M,B25020_021E,B25020_021M,Unnamed: 44
0,Geography,Geographic Area Name,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!Owner occupied:,Margin of Error!!Total:!!Owner occupied:,Estimate!!Total:!!Owner occupied:!!1 room,Margin of Error!!Total:!!Owner occupied:!!1 room,Estimate!!Total:!!Owner occupied:!!2 rooms,Margin of Error!!Total:!!Owner occupied:!!2 rooms,...,Margin of Error!!Total:!!Renter occupied:!!5 r...,Estimate!!Total:!!Renter occupied:!!6 rooms,Margin of Error!!Total:!!Renter occupied:!!6 r...,Estimate!!Total:!!Renter occupied:!!7 rooms,Margin of Error!!Total:!!Renter occupied:!!7 r...,Estimate!!Total:!!Renter occupied:!!8 rooms,Margin of Error!!Total:!!Renter occupied:!!8 r...,Estimate!!Total:!!Renter occupied:!!9 or more ...,Margin of Error!!Total:!!Renter occupied:!!9 o...,NaN
1,1500000US290019501001,Block Group 1; Census Tract 9501; Adair County...,427,74,405,77,0,12,4,6,...,11,0,12,0,12,0,12,10,16,NaN
2,1500000US290019501002,Block Group 2; Census Tract 9501; Adair County...,612,100,523,89,0,12,0,12,...,12,43,38,38,41,0,12,5,8,NaN
3,1500000US290019501003,Block Group 3; Census Tract 9501; Adair County...,317,64,275,55,0,12,0,12,...,5,14,15,0,12,0,12,2,3,NaN
4,1500000US290019502001,Block Group 1; Census Tract 9502; Adair County...,322,70,273,64,7,11,0,12,...,6,8,13,0,12,0,12,5,8,NaN

In [2]:
# Splitting the 'NAME' column by commas
data[['BLOCK_GROUP', 'CENSUS_TRACT', 'COUNTIES', 'STATE']] = data['NAME'].str.split(';', expand=True)

# Dropping the 'NAME' column
data.drop(columns=['NAME'], inplace=True)

# Cleaning up the GEOGRAPHIC_AREA_NAME, COUNTIES, and STATE columns
data['BLOCK_GROUP'] = data['BLOCK_GROUP'].str.strip()
data['CENSUS_TRACT'] = data['CENSUS_TRACT'].str.replace('County', '').str.strip()
data['COUNTIES'] = data['COUNTIES'].str.strip()
data['STATE'] = data['STATE'].str.strip()

data.head()

,GEO_ID,B25020_001E,B25020_001M,B25020_002E,B25020_002M,B25020_003E,B25020_003M,B25020_004E,B25020_004M,B25020_005E,...,B25020_019M,B25020_020E,B25020_020M,B25020_021E,B25020_021M,Unnamed: 44,BLOCK_GROUP,CENSUS_TRACT,COUNTIES,STATE
0,Geography,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!Owner occupied:,Margin of Error!!Total:!!Owner occupied:,Estimate!!Total:!!Owner occupied:!!1 room,Margin of Error!!Total:!!Owner occupied:!!1 room,Estimate!!Total:!!Owner occupied:!!2 rooms,Margin of Error!!Total:!!Owner occupied:!!2 rooms,Estimate!!Total:!!Owner occupied:!!3 rooms,...,Margin of Error!!Total:!!Renter occupied:!!7 r...,Estimate!!Total:!!Renter occupied:!!8 rooms,Margin of Error!!Total:!!Renter occupied:!!8 r...,Estimate!!Total:!!Renter occupied:!!9 or more ...,Margin of Error!!Total:!!Renter occupied:!!9 o...,NaN,Geographic Area Name,None,None,None
1,1500000US290019501001,427,74,405,77,0,12,4,6,0,...,12,0,12,10,16,NaN,Block Group 1,Census Tract 9501,Adair County,Missouri
2,1500000US290019501002,612,100,523,89,0,12,0,12,13,...,41,0,12,5,8,NaN,Block Group 2,Census Tract 9501,Adair County,Missouri
3,1500000US290019501003,317,64,275,55,0,12,0,12,3,...,12,0,12,2,3,NaN,Block Group 3,Census Tract 9501,Adair County,Missouri
4,1500000US290019502001,322,70,273,64,7,11,0,12,0,...,12,0,12,5,8,NaN,Block Group 1,Census Tract 9502,Adair County,Missouri

In [3]:
# Reorder the new columns 'TRACT', 'COUNTY', 'STATE' to be the second, third, and fourth columns
data = data[['GEO_ID', 'BLOCK_GROUP', 'CENSUS_TRACT', 'COUNTIES', 'STATE'] + 
            [col for col in data.columns if col not in ['GEO_ID', 'BLOCK_GROUP', 'CENSUS_TRACT',
                                                        'COUNTIES', 'STATE']]]

data.head()

,GEO_ID,BLOCK_GROUP,CENSUS_TRACT,COUNTIES,STATE,B25020_001E,B25020_001M,B25020_002E,B25020_002M,B25020_003E,...,B25020_017M,B25020_018E,B25020_018M,B25020_019E,B25020_019M,B25020_020E,B25020_020M,B25020_021E,B25020_021M,Unnamed: 44
0,Geography,Geographic Area Name,None,None,None,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!Owner occupied:,Margin of Error!!Total:!!Owner occupied:,Estimate!!Total:!!Owner occupied:!!1 room,...,Margin of Error!!Total:!!Renter occupied:!!5 r...,Estimate!!Total:!!Renter occupied:!!6 rooms,Margin of Error!!Total:!!Renter occupied:!!6 r...,Estimate!!Total:!!Renter occupied:!!7 rooms,Margin of Error!!Total:!!Renter occupied:!!7 r...,Estimate!!Total:!!Renter occupied:!!8 rooms,Margin of Error!!Total:!!Renter occupied:!!8 r...,Estimate!!Total:!!Renter occupied:!!9 or more ...,Margin of Error!!Total:!!Renter occupied:!!9 o...,NaN
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,427,74,405,77,0,...,11,0,12,0,12,0,12,10,16,NaN
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,612,100,523,89,0,...,12,43,38,38,41,0,12,5,8,NaN
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,317,64,275,55,0,...,5,14,15,0,12,0,12,2,3,NaN
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,322,70,273,64,7,...,6,8,13,0,12,0,12,5,8,NaN

In [4]:
# Save the original headers
new_headers = data.iloc[0, 5:].tolist()
new_headers = ['GEO_ID', 'BLOCK_GROUP', 'CENSUS_TRACT', 'COUNTIES', 'STATE'] + new_headers

# Replace the headers of the dataframe
data.columns = new_headers

# Drop the first row, as it's now part of the headers
data = data.drop(index=0)

# Display the first few rows of the updated dataset
data.head()

,GEO_ID,BLOCK_GROUP,CENSUS_TRACT,COUNTIES,STATE,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!Owner occupied:,Margin of Error!!Total:!!Owner occupied:,Estimate!!Total:!!Owner occupied:!!1 room,...,Margin of Error!!Total:!!Renter occupied:!!5 rooms,Estimate!!Total:!!Renter occupied:!!6 rooms,Margin of Error!!Total:!!Renter occupied:!!6 rooms,Estimate!!Total:!!Renter occupied:!!7 rooms,Margin of Error!!Total:!!Renter occupied:!!7 rooms,Estimate!!Total:!!Renter occupied:!!8 rooms,Margin of Error!!Total:!!Renter occupied:!!8 rooms,Estimate!!Total:!!Renter occupied:!!9 or more rooms,Margin of Error!!Total:!!Renter occupied:!!9 or more rooms,NaN
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,427,74,405,77,0,...,11,0,12,0,12,0,12,10,16,NaN
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,612,100,523,89,0,...,12,43,38,38,41,0,12,5,8,NaN
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,317,64,275,55,0,...,5,14,15,0,12,0,12,2,3,NaN
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,322,70,273,64,7,...,6,8,13,0,12,0,12,5,8,NaN
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,378,88,332,79,0,...,31,3,4,4,5,12,19,0,12,NaN

In [5]:
# Let's clean and standardize the column names
def clean_column_name(column_name):
    # Convert the column name to a string first
    column_name = str(column_name)
    # Replace "!!" with "_"
    column_name = column_name.replace("!!", "_")
    # Replace spaces with underscores
    column_name = column_name.replace(" ", "_")
    # Convert to lowercase
    column_name = column_name.lower()
    # Remove any characters that are not alphanumeric or underscores
    column_name = ''.join(char if char.isalnum() or char == '_' else '' for char in column_name)
    return column_name

# Apply this function to all column names
cleaned_column_names = [clean_column_name(col) for col in data.columns]

# Rename the dataset columns
data.columns = cleaned_column_names

# Display the first few rows of the dataset with the new column names
data.head()

,geo_id,block_group,census_tract,counties,state,estimate_total,margin_of_error_total,estimate_total_owner_occupied,margin_of_error_total_owner_occupied,estimate_total_owner_occupied_1_room,...,margin_of_error_total_renter_occupied_5_rooms,estimate_total_renter_occupied_6_rooms,margin_of_error_total_renter_occupied_6_rooms,estimate_total_renter_occupied_7_rooms,margin_of_error_total_renter_occupied_7_rooms,estimate_total_renter_occupied_8_rooms,margin_of_error_total_renter_occupied_8_rooms,estimate_total_renter_occupied_9_or_more_rooms,margin_of_error_total_renter_occupied_9_or_more_rooms,nan
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,427,74,405,77,0,...,11,0,12,0,12,0,12,10,16,NaN
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,612,100,523,89,0,...,12,43,38,38,41,0,12,5,8,NaN
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,317,64,275,55,0,...,5,14,15,0,12,0,12,2,3,NaN
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,322,70,273,64,7,...,6,8,13,0,12,0,12,5,8,NaN
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,378,88,332,79,0,...,31,3,4,4,5,12,19,0,12,NaN

In [6]:
if 'nan' in data.columns:
    data = data.drop(columns=['nan'])
data.head()

,geo_id,block_group,census_tract,counties,state,estimate_total,margin_of_error_total,estimate_total_owner_occupied,margin_of_error_total_owner_occupied,estimate_total_owner_occupied_1_room,...,estimate_total_renter_occupied_5_rooms,margin_of_error_total_renter_occupied_5_rooms,estimate_total_renter_occupied_6_rooms,margin_of_error_total_renter_occupied_6_rooms,estimate_total_renter_occupied_7_rooms,margin_of_error_total_renter_occupied_7_rooms,estimate_total_renter_occupied_8_rooms,margin_of_error_total_renter_occupied_8_rooms,estimate_total_renter_occupied_9_or_more_rooms,margin_of_error_total_renter_occupied_9_or_more_rooms
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,427,74,405,77,0,...,7,11,0,12,0,12,0,12,10,16
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,612,100,523,89,0,...,0,12,43,38,38,41,0,12,5,8
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,317,64,275,55,0,...,4,5,14,15,0,12,0,12,2,3
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,322,70,273,64,7,...,4,6,8,13,0,12,0,12,5,8
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,378,88,332,79,0,...,18,31,3,4,4,5,12,19,0,12

In [7]:
data.columns.tolist()

['geo_id',
 'block_group',
 'census_tract',
 'counties',
 'state',
 'estimate_total',
 'margin_of_error_total',
 'estimate_total_owner_occupied',
 'margin_of_error_total_owner_occupied',
 'estimate_total_owner_occupied_1_room',
 'margin_of_error_total_owner_occupied_1_room',
 'estimate_total_owner_occupied_2_rooms',
 'margin_of_error_total_owner_occupied_2_rooms',
 'estimate_total_owner_occupied_3_rooms',
 'margin_of_error_total_owner_occupied_3_rooms',
 'estimate_total_owner_occupied_4_rooms',
 'margin_of_error_total_owner_occupied_4_rooms',
 'estimate_total_owner_occupied_5_rooms',
 'margin_of_error_total_owner_occupied_5_rooms',
 'estimate_total_owner_occupied_6_rooms',
 'margin_of_error_total_owner_occupied_6_rooms',
 'estimate_total_owner_occupied_7_rooms',
 'margin_of_error_total_owner_occupied_7_rooms',
 'estimate_total_owner_occupied_8_rooms',
 'margin_of_error_total_owner_occupied_8_rooms',
 'estimate_total_owner_occupied_9_or_more_rooms',
 'margin_of_error_total_owner_occupied_9_or_more_rooms',
 'estimate_total_renter_occupied',
 'margin_of_error_total_renter_occupied',
 'estimate_total_renter_occupied_1_room',
 'margin_of_error_total_renter_occupied_1_room',
 'estimate_total_renter_occupied_2_rooms',
 'margin_of_error_total_renter_occupied_2_rooms',
 'estimate_total_renter_occupied_3_rooms',
 'margin_of_error_total_renter_occupied_3_rooms',
 'estimate_total_renter_occupied_4_rooms',
 'margin_of_error_total_renter_occupied_4_rooms',
 'estimate_total_renter_occupied_5_rooms',
 'margin_of_error_total_renter_occupied_5_rooms',
 'estimate_total_renter_occupied_6_rooms',
 'margin_of_error_total_renter_occupied_6_rooms',
 'estimate_total_renter_occupied_7_rooms',
 'margin_of_error_total_renter_occupied_7_rooms',
 'estimate_total_renter_occupied_8_rooms',
 'margin_of_error_total_renter_occupied_8_rooms',
 'estimate_total_renter_occupied_9_or_more_rooms',
 'margin_of_error_total_renter_occupied_9_or_more_rooms']

In [8]:
# Creating a mapping from long column names to shorter names
column_mapping = {
    'geo_id': 'geo_id',
    'block_group': 'block_group',
    'census_tract': 'census_tract',
    'counties': 'county',
    'state': 'state',
    'estimate_total': 'est_total',
    'margin_of_error_total': 'moe_total',
    'estimate_total_owner_occupied': 'est_own_occ',
    'margin_of_error_total_owner_occupied': 'moe_own_occ',
    'estimate_total_owner_occupied_1_room': 'est_own_occ_1rm',
    'margin_of_error_total_owner_occupied_1_room': 'moe_own_occ_1rm',
    'estimate_total_owner_occupied_2_rooms': 'est_own_occ_2rm',
    'margin_of_error_total_owner_occupied_2_rooms': 'moe_own_occ_2rm',
    'estimate_total_owner_occupied_3_rooms': 'est_own_occ_3rm',
    'margin_of_error_total_owner_occupied_3_rooms': 'moe_own_occ_3rm',
    'estimate_total_owner_occupied_4_rooms': 'est_own_occ_4rm',
    'margin_of_error_total_owner_occupied_4_rooms': 'moe_own_occ_4rm',
    'estimate_total_owner_occupied_5_rooms': 'est_own_occ_5rm',
    'margin_of_error_total_owner_occupied_5_rooms': 'moe_own_occ_5rm',
    'estimate_total_owner_occupied_6_rooms': 'est_own_occ_6rm',
    'margin_of_error_total_owner_occupied_6_rooms': 'moe_own_occ_6rm',
    'estimate_total_owner_occupied_7_rooms': 'est_own_occ_7rm',
    'margin_of_error_total_owner_occupied_7_rooms': 'moe_own_occ_7rm',
    'estimate_total_owner_occupied_8_rooms': 'est_own_occ_8rm',
    'margin_of_error_total_owner_occupied_8_rooms': 'moe_own_occ_8rm',
    'estimate_total_owner_occupied_9_or_more_rooms': 'est_own_occ_9rm_plus',
    'margin_of_error_total_owner_occupied_9_or_more_rooms': 'moe_own_occ_9rm_plus',
    'estimate_total_renter_occupied': 'est_rent_occ',
    'margin_of_error_total_renter_occupied': 'moe_rent_occ',
    'estimate_total_renter_occupied_1_room': 'est_rent_occ_1rm',
    'margin_of_error_total_renter_occupied_1_room': 'moe_rent_occ_1rm',
    'estimate_total_renter_occupied_2_rooms': 'est_rent_occ_2rm',
    'margin_of_error_total_renter_occupied_2_rooms': 'moe_rent_occ_2rm',
    'estimate_total_renter_occupied_3_rooms': 'est_rent_occ_3rm',
    'margin_of_error_total_renter_occupied_3_rooms': 'moe_rent_occ_3rm',
    'estimate_total_renter_occupied_4_rooms': 'est_rent_occ_4rm',
    'margin_of_error_total_renter_occupied_4_rooms': 'moe_rent_occ_4rm',
    'estimate_total_renter_occupied_5_rooms': 'est_rent_occ_5rm',
    'margin_of_error_total_renter_occupied_5_rooms': 'moe_rent_occ_5rm',
    'estimate_total_renter_occupied_6_rooms': 'est_rent_occ_6rm',
    'margin_of_error_total_renter_occupied_6_rooms': 'moe_rent_occ_6rm',
    'estimate_total_renter_occupied_7_rooms': 'est_rent_occ_7rm',
    'margin_of_error_total_renter_occupied_7_rooms': 'moe_rent_occ_7rm',
    'estimate_total_renter_occupied_8_rooms': 'est_rent_occ_8rm',
    'margin_of_error_total_renter_occupied_8_rooms': 'moe_rent_occ_8rm',
    'estimate_total_renter_occupied_9_or_more_rooms': 'est_rent_occ_9rm_plus',
    'margin_of_error_total_renter_occupied_9_or_more_rooms': 'moe_rent_occ_9rm_plus'
}

# Renaming the columns in the dataset
data.rename(columns=column_mapping, inplace=True)

# Print column names to check if renaming worked
print("Column names after renaming:")
print(data.columns)

# Ensure the columns exist before applying further operations
numeric_columns = [
    'est_total',
    'moe_total',
    'est_own_occ',
    'moe_own_occ',
    'est_own_occ_1rm',
    'moe_own_occ_1rm',
    'est_own_occ_2rm',
    'moe_own_occ_2rm',
    'est_own_occ_3rm',
    'moe_own_occ_3rm',
    'est_own_occ_4rm',
    'moe_own_occ_4rm',
    'est_own_occ_5rm',
    'moe_own_occ_5rm',
    'est_own_occ_6rm',
    'moe_own_occ_6rm',
    'est_own_occ_7rm',
    'moe_own_occ_7rm',
    'est_own_occ_8rm',
    'moe_own_occ_8rm',
    'est_own_occ_9rm_plus',
    'moe_own_occ_9rm_plus',
    'est_rent_occ',
    'moe_rent_occ',
    'est_rent_occ_1rm',
    'moe_rent_occ_1rm',
    'est_rent_occ_2rm',
    'moe_rent_occ_2rm',
    'est_rent_occ_3rm',
    'moe_rent_occ_3rm',
    'est_rent_occ_4rm',
    'moe_rent_occ_4rm',
    'est_rent_occ_5rm',
    'moe_rent_occ_5rm',
    'est_rent_occ_6rm',
    'moe_rent_occ_6rm',
    'est_rent_occ_7rm',
    'moe_rent_occ_7rm',
    'est_rent_occ_8rm',
    'moe_rent_occ_8rm',
    'est_rent_occ_9rm_plus',
    'moe_rent_occ_9rm_plus'
]

# Check if the columns exist in the DataFrame
missing_columns = [col for col in numeric_columns if col not in data.columns]
if missing_columns:
    print(f"These columns are missing after renaming: {missing_columns}")
else:
    # Replace '**' and '***' with NaN to clean the data
    data.replace(['**', '***'], np.nan, inplace=True)

    # Remove any other non-numeric characters, including commas, hyphens, and plus signs
    data[numeric_columns] = data[numeric_columns].replace({',': '', '-': np.nan, r'\+': ''}, regex=True)

    # Convert the numeric columns to numeric type after cleaning
    data[numeric_columns] = data[numeric_columns].apply(pd.to_numeric, errors='raise')

# Replace all NaN values with blank (empty string) to prepare for database ingestion
data.fillna('', inplace=True)

# Dropping any columns named 'nan' (if they exist)
if 'nan' in data.columns:
    data.drop(columns=['nan'], inplace=True)

# Displaying the first few rows of the cleaned data
data.head()

Column names after renaming:
Index(['geo_id', 'block_group', 'census_tract', 'county', 'state', 'est_total',
       'moe_total', 'est_own_occ', 'moe_own_occ', 'est_own_occ_1rm',
       'moe_own_occ_1rm', 'est_own_occ_2rm', 'moe_own_occ_2rm',
       'est_own_occ_3rm', 'moe_own_occ_3rm', 'est_own_occ_4rm',
       'moe_own_occ_4rm', 'est_own_occ_5rm', 'moe_own_occ_5rm',
       'est_own_occ_6rm', 'moe_own_occ_6rm', 'est_own_occ_7rm',
       'moe_own_occ_7rm', 'est_own_occ_8rm', 'moe_own_occ_8rm',
       'est_own_occ_9rm_plus', 'moe_own_occ_9rm_plus', 'est_rent_occ',
       'moe_rent_occ', 'est_rent_occ_1rm', 'moe_rent_occ_1rm',
       'est_rent_occ_2rm', 'moe_rent_occ_2rm', 'est_rent_occ_3rm',
       'moe_rent_occ_3rm', 'est_rent_occ_4rm', 'moe_rent_occ_4rm',
       'est_rent_occ_5rm', 'moe_rent_occ_5rm', 'est_rent_occ_6rm',
       'moe_rent_occ_6rm', 'est_rent_occ_7rm', 'moe_rent_occ_7rm',
       'est_rent_occ_8rm', 'moe_rent_occ_8rm', 'est_rent_occ_9rm_plus',
       'moe_rent_occ_9rm_plus'],
      dtype='object')

,geo_id,block_group,census_tract,county,state,est_total,moe_total,est_own_occ,moe_own_occ,est_own_occ_1rm,...,est_rent_occ_5rm,moe_rent_occ_5rm,est_rent_occ_6rm,moe_rent_occ_6rm,est_rent_occ_7rm,moe_rent_occ_7rm,est_rent_occ_8rm,moe_rent_occ_8rm,est_rent_occ_9rm_plus,moe_rent_occ_9rm_plus
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,427,74,405,77,0,...,7,11,0,12,0,12,0,12,10,16
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,612,100,523,89,0,...,0,12,43,38,38,41,0,12,5,8
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,317,64,275,55,0,...,4,5,14,15,0,12,0,12,2,3
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,322,70,273,64,7,...,4,6,8,13,0,12,0,12,5,8
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,378,88,332,79,0,...,18,31,3,4,4,5,12,19,0,12

In [9]:
data['year'] = 2022
data.head()

,geo_id,block_group,census_tract,county,state,est_total,moe_total,est_own_occ,moe_own_occ,est_own_occ_1rm,...,moe_rent_occ_5rm,est_rent_occ_6rm,moe_rent_occ_6rm,est_rent_occ_7rm,moe_rent_occ_7rm,est_rent_occ_8rm,moe_rent_occ_8rm,est_rent_occ_9rm_plus,moe_rent_occ_9rm_plus,year
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,427,74,405,77,0,...,11,0,12,0,12,0,12,10,16,2022
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,612,100,523,89,0,...,12,43,38,38,41,0,12,5,8,2022
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,317,64,275,55,0,...,5,14,15,0,12,0,12,2,3,2022
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,322,70,273,64,7,...,6,8,13,0,12,0,12,5,8,2022
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,378,88,332,79,0,...,31,3,4,4,5,12,19,0,12,2022

In [10]:
csv_file_path = "2022_Tenure_by_Rooms.csv"
data.to_csv(csv_file_path, index=False)

# Provide the file link for download
csv_file_path

'2022_Tenure_by_Rooms.csv'