In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv("ACSDT5Y2021.B25049-Data.csv")
data.head()

,GEO_ID,NAME,B25049_001E,B25049_001M,B25049_002E,B25049_002M,B25049_003E,B25049_003M,B25049_004E,B25049_004M,B25049_005E,B25049_005M,B25049_006E,B25049_006M,B25049_007E,B25049_007M,Unnamed: 16
0,Geography,Geographic Area Name,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!Owner occupied:,Margin of Error!!Total:!!Owner occupied:,Estimate!!Total:!!Owner occupied:!!Complete pl...,Margin of Error!!Total:!!Owner occupied:!!Comp...,Estimate!!Total:!!Owner occupied:!!Lacking plu...,Margin of Error!!Total:!!Owner occupied:!!Lack...,Estimate!!Total:!!Renter occupied:,Margin of Error!!Total:!!Renter occupied:,Estimate!!Total:!!Renter occupied:!!Complete p...,Margin of Error!!Total:!!Renter occupied:!!Com...,Estimate!!Total:!!Renter occupied:!!Lacking pl...,Margin of Error!!Total:!!Renter occupied:!!Lac...,NaN
1,1500000US290019501001,"Block Group 1, Census Tract 9501, Adair County...",427,70,411,70,398,69,13,19,16,16,16,16,0,12,NaN
2,1500000US290019501002,"Block Group 2, Census Tract 9501, Adair County...",546,87,482,86,482,86,0,12,64,41,64,41,0,12,NaN
3,1500000US290019501003,"Block Group 3, Census Tract 9501, Adair County...",339,59,298,57,288,58,10,11,41,23,24,12,17,19,NaN
4,1500000US290019502001,"Block Group 1, Census Tract 9502, Adair County...",326,65,265,58,265,58,0,12,61,25,61,25,0,12,NaN

In [2]:
# Splitting the 'NAME' column by commas
data[['BLOCK_GROUP', 'CENSUS_TRACT', 'COUNTIES', 'STATE']] = data['NAME'].str.split(',', expand=True)

# Dropping the 'NAME' column
data.drop(columns=['NAME'], inplace=True)

# Cleaning up the GEOGRAPHIC_AREA_NAME, COUNTIES, and STATE columns
data['BLOCK_GROUP'] = data['BLOCK_GROUP'].str.strip()
data['CENSUS_TRACT'] = data['CENSUS_TRACT'].str.replace('County', '').str.strip()
data['COUNTIES'] = data['COUNTIES'].str.strip()
data['STATE'] = data['STATE'].str.strip()

data.head()

,GEO_ID,B25049_001E,B25049_001M,B25049_002E,B25049_002M,B25049_003E,B25049_003M,B25049_004E,B25049_004M,B25049_005E,B25049_005M,B25049_006E,B25049_006M,B25049_007E,B25049_007M,Unnamed: 16,BLOCK_GROUP,CENSUS_TRACT,COUNTIES,STATE
0,Geography,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!Owner occupied:,Margin of Error!!Total:!!Owner occupied:,Estimate!!Total:!!Owner occupied:!!Complete pl...,Margin of Error!!Total:!!Owner occupied:!!Comp...,Estimate!!Total:!!Owner occupied:!!Lacking plu...,Margin of Error!!Total:!!Owner occupied:!!Lack...,Estimate!!Total:!!Renter occupied:,Margin of Error!!Total:!!Renter occupied:,Estimate!!Total:!!Renter occupied:!!Complete p...,Margin of Error!!Total:!!Renter occupied:!!Com...,Estimate!!Total:!!Renter occupied:!!Lacking pl...,Margin of Error!!Total:!!Renter occupied:!!Lac...,NaN,Geographic Area Name,None,None,None
1,1500000US290019501001,427,70,411,70,398,69,13,19,16,16,16,16,0,12,NaN,Block Group 1,Census Tract 9501,Adair County,Missouri
2,1500000US290019501002,546,87,482,86,482,86,0,12,64,41,64,41,0,12,NaN,Block Group 2,Census Tract 9501,Adair County,Missouri
3,1500000US290019501003,339,59,298,57,288,58,10,11,41,23,24,12,17,19,NaN,Block Group 3,Census Tract 9501,Adair County,Missouri
4,1500000US290019502001,326,65,265,58,265,58,0,12,61,25,61,25,0,12,NaN,Block Group 1,Census Tract 9502,Adair County,Missouri

In [3]:
# Reorder the new columns 'TRACT', 'COUNTY', 'STATE' to be the second, third, and fourth columns
data = data[['GEO_ID', 'BLOCK_GROUP', 'CENSUS_TRACT', 'COUNTIES', 'STATE'] + 
            [col for col in data.columns if col not in ['GEO_ID', 'BLOCK_GROUP', 'CENSUS_TRACT',
                                                        'COUNTIES', 'STATE']]]

data.head()

,GEO_ID,BLOCK_GROUP,CENSUS_TRACT,COUNTIES,STATE,B25049_001E,B25049_001M,B25049_002E,B25049_002M,B25049_003E,B25049_003M,B25049_004E,B25049_004M,B25049_005E,B25049_005M,B25049_006E,B25049_006M,B25049_007E,B25049_007M,Unnamed: 16
0,Geography,Geographic Area Name,None,None,None,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!Owner occupied:,Margin of Error!!Total:!!Owner occupied:,Estimate!!Total:!!Owner occupied:!!Complete pl...,Margin of Error!!Total:!!Owner occupied:!!Comp...,Estimate!!Total:!!Owner occupied:!!Lacking plu...,Margin of Error!!Total:!!Owner occupied:!!Lack...,Estimate!!Total:!!Renter occupied:,Margin of Error!!Total:!!Renter occupied:,Estimate!!Total:!!Renter occupied:!!Complete p...,Margin of Error!!Total:!!Renter occupied:!!Com...,Estimate!!Total:!!Renter occupied:!!Lacking pl...,Margin of Error!!Total:!!Renter occupied:!!Lac...,NaN
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,427,70,411,70,398,69,13,19,16,16,16,16,0,12,NaN
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,546,87,482,86,482,86,0,12,64,41,64,41,0,12,NaN
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,339,59,298,57,288,58,10,11,41,23,24,12,17,19,NaN
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,326,65,265,58,265,58,0,12,61,25,61,25,0,12,NaN

In [4]:
# Save the original headers
new_headers = data.iloc[0, 5:].tolist()
new_headers = ['GEO_ID', 'BLOCK_GROUP', 'CENSUS_TRACT', 'COUNTIES', 'STATE'] + new_headers

# Replace the headers of the dataframe
data.columns = new_headers

# Drop the first row, as it's now part of the headers
data = data.drop(index=0)

# Display the first few rows of the updated dataset
data.head()

,GEO_ID,BLOCK_GROUP,CENSUS_TRACT,COUNTIES,STATE,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!Owner occupied:,Margin of Error!!Total:!!Owner occupied:,Estimate!!Total:!!Owner occupied:!!Complete plumbing facilities,Margin of Error!!Total:!!Owner occupied:!!Complete plumbing facilities,Estimate!!Total:!!Owner occupied:!!Lacking plumbing facilities,Margin of Error!!Total:!!Owner occupied:!!Lacking plumbing facilities,Estimate!!Total:!!Renter occupied:,Margin of Error!!Total:!!Renter occupied:,Estimate!!Total:!!Renter occupied:!!Complete plumbing facilities,Margin of Error!!Total:!!Renter occupied:!!Complete plumbing facilities,Estimate!!Total:!!Renter occupied:!!Lacking plumbing facilities,Margin of Error!!Total:!!Renter occupied:!!Lacking plumbing facilities,NaN
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,427,70,411,70,398,69,13,19,16,16,16,16,0,12,NaN
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,546,87,482,86,482,86,0,12,64,41,64,41,0,12,NaN
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,339,59,298,57,288,58,10,11,41,23,24,12,17,19,NaN
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,326,65,265,58,265,58,0,12,61,25,61,25,0,12,NaN
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,345,79,304,70,304,70,0,12,41,28,41,28,0,12,NaN

In [5]:
# Let's clean and standardize the column names
def clean_column_name(column_name):
    # Convert the column name to a string first
    column_name = str(column_name)
    # Replace "!!" with "_"
    column_name = column_name.replace("!!", "_")
    # Replace spaces with underscores
    column_name = column_name.replace(" ", "_")
    # Convert to lowercase
    column_name = column_name.lower()
    # Remove any characters that are not alphanumeric or underscores
    column_name = ''.join(char if char.isalnum() or char == '_' else '' for char in column_name)
    return column_name

# Apply this function to all column names
cleaned_column_names = [clean_column_name(col) for col in data.columns]

# Rename the dataset columns
data.columns = cleaned_column_names

# Display the first few rows of the dataset with the new column names
data.head()

,geo_id,block_group,census_tract,counties,state,estimate_total,margin_of_error_total,estimate_total_owner_occupied,margin_of_error_total_owner_occupied,estimate_total_owner_occupied_complete_plumbing_facilities,margin_of_error_total_owner_occupied_complete_plumbing_facilities,estimate_total_owner_occupied_lacking_plumbing_facilities,margin_of_error_total_owner_occupied_lacking_plumbing_facilities,estimate_total_renter_occupied,margin_of_error_total_renter_occupied,estimate_total_renter_occupied_complete_plumbing_facilities,margin_of_error_total_renter_occupied_complete_plumbing_facilities,estimate_total_renter_occupied_lacking_plumbing_facilities,margin_of_error_total_renter_occupied_lacking_plumbing_facilities,nan
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,427,70,411,70,398,69,13,19,16,16,16,16,0,12,NaN
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,546,87,482,86,482,86,0,12,64,41,64,41,0,12,NaN
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,339,59,298,57,288,58,10,11,41,23,24,12,17,19,NaN
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,326,65,265,58,265,58,0,12,61,25,61,25,0,12,NaN
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,345,79,304,70,304,70,0,12,41,28,41,28,0,12,NaN

In [6]:
if 'nan' in data.columns:
    data = data.drop(columns=['nan'])
data.head()

,geo_id,block_group,census_tract,counties,state,estimate_total,margin_of_error_total,estimate_total_owner_occupied,margin_of_error_total_owner_occupied,estimate_total_owner_occupied_complete_plumbing_facilities,margin_of_error_total_owner_occupied_complete_plumbing_facilities,estimate_total_owner_occupied_lacking_plumbing_facilities,margin_of_error_total_owner_occupied_lacking_plumbing_facilities,estimate_total_renter_occupied,margin_of_error_total_renter_occupied,estimate_total_renter_occupied_complete_plumbing_facilities,margin_of_error_total_renter_occupied_complete_plumbing_facilities,estimate_total_renter_occupied_lacking_plumbing_facilities,margin_of_error_total_renter_occupied_lacking_plumbing_facilities
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,427,70,411,70,398,69,13,19,16,16,16,16,0,12
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,546,87,482,86,482,86,0,12,64,41,64,41,0,12
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,339,59,298,57,288,58,10,11,41,23,24,12,17,19
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,326,65,265,58,265,58,0,12,61,25,61,25,0,12
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,345,79,304,70,304,70,0,12,41,28,41,28,0,12

In [7]:
data.columns.tolist()

['geo_id',
 'block_group',
 'census_tract',
 'counties',
 'state',
 'estimate_total',
 'margin_of_error_total',
 'estimate_total_owner_occupied',
 'margin_of_error_total_owner_occupied',
 'estimate_total_owner_occupied_complete_plumbing_facilities',
 'margin_of_error_total_owner_occupied_complete_plumbing_facilities',
 'estimate_total_owner_occupied_lacking_plumbing_facilities',
 'margin_of_error_total_owner_occupied_lacking_plumbing_facilities',
 'estimate_total_renter_occupied',
 'margin_of_error_total_renter_occupied',
 'estimate_total_renter_occupied_complete_plumbing_facilities',
 'margin_of_error_total_renter_occupied_complete_plumbing_facilities',
 'estimate_total_renter_occupied_lacking_plumbing_facilities',
 'margin_of_error_total_renter_occupied_lacking_plumbing_facilities']

In [8]:
# Creating a mapping from long column names to shorter names
column_mapping = {
    'geo_id': 'geo_id',
    'block_group': 'block_group',
    'census_tract': 'census_tract',
    'counties': 'county',
    'state': 'state',
    'estimate_total': 'est_total',
    'margin_of_error_total': 'moe_total',
    'estimate_total_owner_occupied': 'est_own_occ',
    'margin_of_error_total_owner_occupied': 'moe_own_occ',
    'estimate_total_owner_occupied_complete_plumbing_facilities': 'est_own_occ_plumb_complete',
    'margin_of_error_total_owner_occupied_complete_plumbing_facilities': 'moe_own_occ_plumb_complete',
    'estimate_total_owner_occupied_lacking_plumbing_facilities': 'est_own_occ_plumb_lack',
    'margin_of_error_total_owner_occupied_lacking_plumbing_facilities': 'moe_own_occ_plumb_lack',
    'estimate_total_renter_occupied': 'est_rent_occ',
    'margin_of_error_total_renter_occupied': 'moe_rent_occ',
    'estimate_total_renter_occupied_complete_plumbing_facilities': 'est_rent_occ_plumb_complete',
    'margin_of_error_total_renter_occupied_complete_plumbing_facilities': 'moe_rent_occ_plumb_complete',
    'estimate_total_renter_occupied_lacking_plumbing_facilities': 'est_rent_occ_plumb_lack',
    'margin_of_error_total_renter_occupied_lacking_plumbing_facilities': 'moe_rent_occ_plumb_lack'
}

# Renaming the columns in the dataset
data.rename(columns=column_mapping, inplace=True)

# Print column names to check if renaming worked
print("Column names after renaming:")
print(data.columns)

# Ensure the columns exist before applying further operations
numeric_columns = [
    'est_total',
    'moe_total',
    'est_own_occ',
    'moe_own_occ',
    'est_own_occ_plumb_complete',
    'moe_own_occ_plumb_complete',
    'est_own_occ_plumb_lack',
    'moe_own_occ_plumb_lack',
    'est_rent_occ',
    'moe_rent_occ',
    'est_rent_occ_plumb_complete',
    'moe_rent_occ_plumb_complete',
    'est_rent_occ_plumb_lack',
    'moe_rent_occ_plumb_lack'
]

# Check if the columns exist in the DataFrame
missing_columns = [col for col in numeric_columns if col not in data.columns]
if missing_columns:
    print(f"These columns are missing after renaming: {missing_columns}")
else:
    # Replace '**' and '***' with NaN to clean the data
    data.replace(['**', '***'], np.nan, inplace=True)

    # Remove any other non-numeric characters, including commas, hyphens, and plus signs
    data[numeric_columns] = data[numeric_columns].replace({',': '', '-': np.nan, r'\+': ''}, regex=True)

    # Convert the numeric columns to numeric type after cleaning
    data[numeric_columns] = data[numeric_columns].apply(pd.to_numeric, errors='raise')

# Replace all NaN values with blank (empty string) to prepare for database ingestion
data.fillna('', inplace=True)

# Dropping any columns named 'nan' (if they exist)
if 'nan' in data.columns:
    data.drop(columns=['nan'], inplace=True)

# Displaying the first few rows of the cleaned data
data.head()

Column names after renaming:
Index(['geo_id', 'block_group', 'census_tract', 'county', 'state', 'est_total',
       'moe_total', 'est_own_occ', 'moe_own_occ', 'est_own_occ_plumb_complete',
       'moe_own_occ_plumb_complete', 'est_own_occ_plumb_lack',
       'moe_own_occ_plumb_lack', 'est_rent_occ', 'moe_rent_occ',
       'est_rent_occ_plumb_complete', 'moe_rent_occ_plumb_complete',
       'est_rent_occ_plumb_lack', 'moe_rent_occ_plumb_lack'],
      dtype='object')

,geo_id,block_group,census_tract,county,state,est_total,moe_total,est_own_occ,moe_own_occ,est_own_occ_plumb_complete,moe_own_occ_plumb_complete,est_own_occ_plumb_lack,moe_own_occ_plumb_lack,est_rent_occ,moe_rent_occ,est_rent_occ_plumb_complete,moe_rent_occ_plumb_complete,est_rent_occ_plumb_lack,moe_rent_occ_plumb_lack
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,427,70,411,70,398,69,13,19,16,16,16,16,0,12
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,546,87,482,86,482,86,0,12,64,41,64,41,0,12
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,339,59,298,57,288,58,10,11,41,23,24,12,17,19
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,326,65,265,58,265,58,0,12,61,25,61,25,0,12
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,345,79,304,70,304,70,0,12,41,28,41,28,0,12

In [9]:
data['year'] = 2021
data.head()

,geo_id,block_group,census_tract,county,state,est_total,moe_total,est_own_occ,moe_own_occ,est_own_occ_plumb_complete,moe_own_occ_plumb_complete,est_own_occ_plumb_lack,moe_own_occ_plumb_lack,est_rent_occ,moe_rent_occ,est_rent_occ_plumb_complete,moe_rent_occ_plumb_complete,est_rent_occ_plumb_lack,moe_rent_occ_plumb_lack,year
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,427,70,411,70,398,69,13,19,16,16,16,16,0,12,2021
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,546,87,482,86,482,86,0,12,64,41,64,41,0,12,2021
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,339,59,298,57,288,58,10,11,41,23,24,12,17,19,2021
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,326,65,265,58,265,58,0,12,61,25,61,25,0,12,2021
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,345,79,304,70,304,70,0,12,41,28,41,28,0,12,2021

In [10]:
csv_file_path = "2021_Tenure_by_Plumbing.csv"
data.to_csv(csv_file_path, index=False)

# Provide the file link for download
csv_file_path

'2021_Tenure_by_Plumbing.csv'