In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv("ACSDT5Y2020.B25042-Data.csv")
data.head()

,GEO_ID,NAME,B25042_001E,B25042_001M,B25042_002E,B25042_002M,B25042_003E,B25042_003M,B25042_004E,B25042_004M,...,B25042_011M,B25042_012E,B25042_012M,B25042_013E,B25042_013M,B25042_014E,B25042_014M,B25042_015E,B25042_015M,Unnamed: 32
0,Geography,Geographic Area Name,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!Owner occupied:,Margin of Error!!Total:!!Owner occupied:,Estimate!!Total:!!Owner occupied:!!No bedroom,Margin of Error!!Total:!!Owner occupied:!!No b...,Estimate!!Total:!!Owner occupied:!!1 bedroom,Margin of Error!!Total:!!Owner occupied:!!1 be...,...,Margin of Error!!Total:!!Renter occupied:!!1 b...,Estimate!!Total:!!Renter occupied:!!2 bedrooms,Margin of Error!!Total:!!Renter occupied:!!2 b...,Estimate!!Total:!!Renter occupied:!!3 bedrooms,Margin of Error!!Total:!!Renter occupied:!!3 b...,Estimate!!Total:!!Renter occupied:!!4 bedrooms,Margin of Error!!Total:!!Renter occupied:!!4 b...,Estimate!!Total:!!Renter occupied:!!5 or more ...,Margin of Error!!Total:!!Renter occupied:!!5 o...,NaN
1,1500000US290019501001,"Block Group 1, Census Tract 9501, Adair County...",448,79,435,79,0,12,3,5,...,12,8,8,5,9,0,12,0,12,NaN
2,1500000US290019501002,"Block Group 2, Census Tract 9501, Adair County...",516,91,453,84,0,12,16,18,...,12,44,39,19,16,0,12,0,12,NaN
3,1500000US290019501003,"Block Group 3, Census Tract 9501, Adair County...",338,58,303,58,0,12,4,6,...,6,2,3,20,15,5,7,0,12,NaN
4,1500000US290019502001,"Block Group 1, Census Tract 9502, Adair County...",315,57,259,55,0,12,12,16,...,11,16,14,8,10,7,11,0,12,NaN

In [2]:
# Splitting the 'NAME' column by commas
data[['BLOCK_GROUP', 'CENSUS_TRACT', 'COUNTIES', 'STATE']] = data['NAME'].str.split(',', expand=True)

# Dropping the 'NAME' column
data.drop(columns=['NAME'], inplace=True)

# Cleaning up the GEOGRAPHIC_AREA_NAME, COUNTIES, and STATE columns
data['BLOCK_GROUP'] = data['BLOCK_GROUP'].str.strip()
data['CENSUS_TRACT'] = data['CENSUS_TRACT'].str.replace('County', '').str.strip()
data['COUNTIES'] = data['COUNTIES'].str.strip()
data['STATE'] = data['STATE'].str.strip()

data.head()

,GEO_ID,B25042_001E,B25042_001M,B25042_002E,B25042_002M,B25042_003E,B25042_003M,B25042_004E,B25042_004M,B25042_005E,...,B25042_013M,B25042_014E,B25042_014M,B25042_015E,B25042_015M,Unnamed: 32,BLOCK_GROUP,CENSUS_TRACT,COUNTIES,STATE
0,Geography,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!Owner occupied:,Margin of Error!!Total:!!Owner occupied:,Estimate!!Total:!!Owner occupied:!!No bedroom,Margin of Error!!Total:!!Owner occupied:!!No b...,Estimate!!Total:!!Owner occupied:!!1 bedroom,Margin of Error!!Total:!!Owner occupied:!!1 be...,Estimate!!Total:!!Owner occupied:!!2 bedrooms,...,Margin of Error!!Total:!!Renter occupied:!!3 b...,Estimate!!Total:!!Renter occupied:!!4 bedrooms,Margin of Error!!Total:!!Renter occupied:!!4 b...,Estimate!!Total:!!Renter occupied:!!5 or more ...,Margin of Error!!Total:!!Renter occupied:!!5 o...,NaN,Geographic Area Name,None,None,None
1,1500000US290019501001,448,79,435,79,0,12,3,5,79,...,9,0,12,0,12,NaN,Block Group 1,Census Tract 9501,Adair County,Missouri
2,1500000US290019501002,516,91,453,84,0,12,16,18,68,...,16,0,12,0,12,NaN,Block Group 2,Census Tract 9501,Adair County,Missouri
3,1500000US290019501003,338,58,303,58,0,12,4,6,79,...,15,5,7,0,12,NaN,Block Group 3,Census Tract 9501,Adair County,Missouri
4,1500000US290019502001,315,57,259,55,0,12,12,16,73,...,10,7,11,0,12,NaN,Block Group 1,Census Tract 9502,Adair County,Missouri

In [3]:
# Reorder the new columns 'TRACT', 'COUNTY', 'STATE' to be the second, third, and fourth columns
data = data[['GEO_ID', 'BLOCK_GROUP', 'CENSUS_TRACT', 'COUNTIES', 'STATE'] + 
            [col for col in data.columns if col not in ['GEO_ID', 'BLOCK_GROUP', 'CENSUS_TRACT',
                                                        'COUNTIES', 'STATE']]]

data.head()

,GEO_ID,BLOCK_GROUP,CENSUS_TRACT,COUNTIES,STATE,B25042_001E,B25042_001M,B25042_002E,B25042_002M,B25042_003E,...,B25042_011M,B25042_012E,B25042_012M,B25042_013E,B25042_013M,B25042_014E,B25042_014M,B25042_015E,B25042_015M,Unnamed: 32
0,Geography,Geographic Area Name,None,None,None,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!Owner occupied:,Margin of Error!!Total:!!Owner occupied:,Estimate!!Total:!!Owner occupied:!!No bedroom,...,Margin of Error!!Total:!!Renter occupied:!!1 b...,Estimate!!Total:!!Renter occupied:!!2 bedrooms,Margin of Error!!Total:!!Renter occupied:!!2 b...,Estimate!!Total:!!Renter occupied:!!3 bedrooms,Margin of Error!!Total:!!Renter occupied:!!3 b...,Estimate!!Total:!!Renter occupied:!!4 bedrooms,Margin of Error!!Total:!!Renter occupied:!!4 b...,Estimate!!Total:!!Renter occupied:!!5 or more ...,Margin of Error!!Total:!!Renter occupied:!!5 o...,NaN
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,448,79,435,79,0,...,12,8,8,5,9,0,12,0,12,NaN
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,516,91,453,84,0,...,12,44,39,19,16,0,12,0,12,NaN
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,338,58,303,58,0,...,6,2,3,20,15,5,7,0,12,NaN
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,315,57,259,55,0,...,11,16,14,8,10,7,11,0,12,NaN

In [4]:
# Save the original headers
new_headers = data.iloc[0, 5:].tolist()
new_headers = ['GEO_ID', 'BLOCK_GROUP', 'CENSUS_TRACT', 'COUNTIES', 'STATE'] + new_headers

# Replace the headers of the dataframe
data.columns = new_headers

# Drop the first row, as it's now part of the headers
data = data.drop(index=0)

# Display the first few rows of the updated dataset
data.head()

,GEO_ID,BLOCK_GROUP,CENSUS_TRACT,COUNTIES,STATE,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!Owner occupied:,Margin of Error!!Total:!!Owner occupied:,Estimate!!Total:!!Owner occupied:!!No bedroom,...,Margin of Error!!Total:!!Renter occupied:!!1 bedroom,Estimate!!Total:!!Renter occupied:!!2 bedrooms,Margin of Error!!Total:!!Renter occupied:!!2 bedrooms,Estimate!!Total:!!Renter occupied:!!3 bedrooms,Margin of Error!!Total:!!Renter occupied:!!3 bedrooms,Estimate!!Total:!!Renter occupied:!!4 bedrooms,Margin of Error!!Total:!!Renter occupied:!!4 bedrooms,Estimate!!Total:!!Renter occupied:!!5 or more bedrooms,Margin of Error!!Total:!!Renter occupied:!!5 or more bedrooms,NaN
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,448,79,435,79,0,...,12,8,8,5,9,0,12,0,12,NaN
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,516,91,453,84,0,...,12,44,39,19,16,0,12,0,12,NaN
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,338,58,303,58,0,...,6,2,3,20,15,5,7,0,12,NaN
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,315,57,259,55,0,...,11,16,14,8,10,7,11,0,12,NaN
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,377,79,332,76,0,...,5,22,26,7,7,13,14,0,12,NaN

In [5]:
# Let's clean and standardize the column names
def clean_column_name(column_name):
    # Convert the column name to a string first
    column_name = str(column_name)
    # Replace "!!" with "_"
    column_name = column_name.replace("!!", "_")
    # Replace spaces with underscores
    column_name = column_name.replace(" ", "_")
    # Convert to lowercase
    column_name = column_name.lower()
    # Remove any characters that are not alphanumeric or underscores
    column_name = ''.join(char if char.isalnum() or char == '_' else '' for char in column_name)
    return column_name

# Apply this function to all column names
cleaned_column_names = [clean_column_name(col) for col in data.columns]

# Rename the dataset columns
data.columns = cleaned_column_names

# Display the first few rows of the dataset with the new column names
data.head()

,geo_id,block_group,census_tract,counties,state,estimate_total,margin_of_error_total,estimate_total_owner_occupied,margin_of_error_total_owner_occupied,estimate_total_owner_occupied_no_bedroom,...,margin_of_error_total_renter_occupied_1_bedroom,estimate_total_renter_occupied_2_bedrooms,margin_of_error_total_renter_occupied_2_bedrooms,estimate_total_renter_occupied_3_bedrooms,margin_of_error_total_renter_occupied_3_bedrooms,estimate_total_renter_occupied_4_bedrooms,margin_of_error_total_renter_occupied_4_bedrooms,estimate_total_renter_occupied_5_or_more_bedrooms,margin_of_error_total_renter_occupied_5_or_more_bedrooms,nan
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,448,79,435,79,0,...,12,8,8,5,9,0,12,0,12,NaN
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,516,91,453,84,0,...,12,44,39,19,16,0,12,0,12,NaN
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,338,58,303,58,0,...,6,2,3,20,15,5,7,0,12,NaN
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,315,57,259,55,0,...,11,16,14,8,10,7,11,0,12,NaN
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,377,79,332,76,0,...,5,22,26,7,7,13,14,0,12,NaN

In [6]:
if 'nan' in data.columns:
    data = data.drop(columns=['nan'])
data.head()

,geo_id,block_group,census_tract,counties,state,estimate_total,margin_of_error_total,estimate_total_owner_occupied,margin_of_error_total_owner_occupied,estimate_total_owner_occupied_no_bedroom,...,estimate_total_renter_occupied_1_bedroom,margin_of_error_total_renter_occupied_1_bedroom,estimate_total_renter_occupied_2_bedrooms,margin_of_error_total_renter_occupied_2_bedrooms,estimate_total_renter_occupied_3_bedrooms,margin_of_error_total_renter_occupied_3_bedrooms,estimate_total_renter_occupied_4_bedrooms,margin_of_error_total_renter_occupied_4_bedrooms,estimate_total_renter_occupied_5_or_more_bedrooms,margin_of_error_total_renter_occupied_5_or_more_bedrooms
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,448,79,435,79,0,...,0,12,8,8,5,9,0,12,0,12
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,516,91,453,84,0,...,0,12,44,39,19,16,0,12,0,12
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,338,58,303,58,0,...,8,6,2,3,20,15,5,7,0,12
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,315,57,259,55,0,...,25,11,16,14,8,10,7,11,0,12
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,377,79,332,76,0,...,3,5,22,26,7,7,13,14,0,12

In [7]:
data.columns.tolist()

['geo_id',
 'block_group',
 'census_tract',
 'counties',
 'state',
 'estimate_total',
 'margin_of_error_total',
 'estimate_total_owner_occupied',
 'margin_of_error_total_owner_occupied',
 'estimate_total_owner_occupied_no_bedroom',
 'margin_of_error_total_owner_occupied_no_bedroom',
 'estimate_total_owner_occupied_1_bedroom',
 'margin_of_error_total_owner_occupied_1_bedroom',
 'estimate_total_owner_occupied_2_bedrooms',
 'margin_of_error_total_owner_occupied_2_bedrooms',
 'estimate_total_owner_occupied_3_bedrooms',
 'margin_of_error_total_owner_occupied_3_bedrooms',
 'estimate_total_owner_occupied_4_bedrooms',
 'margin_of_error_total_owner_occupied_4_bedrooms',
 'estimate_total_owner_occupied_5_or_more_bedrooms',
 'margin_of_error_total_owner_occupied_5_or_more_bedrooms',
 'estimate_total_renter_occupied',
 'margin_of_error_total_renter_occupied',
 'estimate_total_renter_occupied_no_bedroom',
 'margin_of_error_total_renter_occupied_no_bedroom',
 'estimate_total_renter_occupied_1_bedroom',
 'margin_of_error_total_renter_occupied_1_bedroom',
 'estimate_total_renter_occupied_2_bedrooms',
 'margin_of_error_total_renter_occupied_2_bedrooms',
 'estimate_total_renter_occupied_3_bedrooms',
 'margin_of_error_total_renter_occupied_3_bedrooms',
 'estimate_total_renter_occupied_4_bedrooms',
 'margin_of_error_total_renter_occupied_4_bedrooms',
 'estimate_total_renter_occupied_5_or_more_bedrooms',
 'margin_of_error_total_renter_occupied_5_or_more_bedrooms']

In [8]:
# Creating a mapping from long column names to shorter names
column_mapping = {
    'geo_id': 'geo_id',
    'block_group': 'block_group',
    'census_tract': 'census_tract',
    'counties': 'county',
    'state': 'state',
    'estimate_total': 'est_total',
    'margin_of_error_total': 'moe_total',
    'estimate_total_owner_occupied': 'est_own_occ',
    'margin_of_error_total_owner_occupied': 'moe_own_occ',
    'estimate_total_owner_occupied_no_bedroom': 'est_own_occ_0br',
    'margin_of_error_total_owner_occupied_no_bedroom': 'moe_own_occ_0br',
    'estimate_total_owner_occupied_1_bedroom': 'est_own_occ_1br',
    'margin_of_error_total_owner_occupied_1_bedroom': 'moe_own_occ_1br',
    'estimate_total_owner_occupied_2_bedrooms': 'est_own_occ_2br',
    'margin_of_error_total_owner_occupied_2_bedrooms': 'moe_own_occ_2br',
    'estimate_total_owner_occupied_3_bedrooms': 'est_own_occ_3br',
    'margin_of_error_total_owner_occupied_3_bedrooms': 'moe_own_occ_3br',
    'estimate_total_owner_occupied_4_bedrooms': 'est_own_occ_4br',
    'margin_of_error_total_owner_occupied_4_bedrooms': 'moe_own_occ_4br',
    'estimate_total_owner_occupied_5_or_more_bedrooms': 'est_own_occ_5br_plus',
    'margin_of_error_total_owner_occupied_5_or_more_bedrooms': 'moe_own_occ_5br_plus',
    'estimate_total_renter_occupied': 'est_rent_occ',
    'margin_of_error_total_renter_occupied': 'moe_rent_occ',
    'estimate_total_renter_occupied_no_bedroom': 'est_rent_occ_0br',
    'margin_of_error_total_renter_occupied_no_bedroom': 'moe_rent_occ_0br',
    'estimate_total_renter_occupied_1_bedroom': 'est_rent_occ_1br',
    'margin_of_error_total_renter_occupied_1_bedroom': 'moe_rent_occ_1br',
    'estimate_total_renter_occupied_2_bedrooms': 'est_rent_occ_2br',
    'margin_of_error_total_renter_occupied_2_bedrooms': 'moe_rent_occ_2br',
    'estimate_total_renter_occupied_3_bedrooms': 'est_rent_occ_3br',
    'margin_of_error_total_renter_occupied_3_bedrooms': 'moe_rent_occ_3br',
    'estimate_total_renter_occupied_4_bedrooms': 'est_rent_occ_4br',
    'margin_of_error_total_renter_occupied_4_bedrooms': 'moe_rent_occ_4br',
    'estimate_total_renter_occupied_5_or_more_bedrooms': 'est_rent_occ_5br_plus',
    'margin_of_error_total_renter_occupied_5_or_more_bedrooms': 'moe_rent_occ_5br_plus'
}

# Renaming the columns in the dataset
data.rename(columns=column_mapping, inplace=True)

# Print column names to check if renaming worked
print("Column names after renaming:")
print(data.columns)

# Ensure the columns exist before applying further operations
numeric_columns = [
    'est_total',
    'moe_total',
    'est_own_occ',
    'moe_own_occ',
    'est_own_occ_0br',
    'moe_own_occ_0br',
    'est_own_occ_1br',
    'moe_own_occ_1br',
    'est_own_occ_2br',
    'moe_own_occ_2br',
    'est_own_occ_3br',
    'moe_own_occ_3br',
    'est_own_occ_4br',
    'moe_own_occ_4br',
    'est_own_occ_5br_plus',
    'moe_own_occ_5br_plus',
    'est_rent_occ',
    'moe_rent_occ',
    'est_rent_occ_0br',
    'moe_rent_occ_0br',
    'est_rent_occ_1br',
    'moe_rent_occ_1br',
    'est_rent_occ_2br',
    'moe_rent_occ_2br',
    'est_rent_occ_3br',
    'moe_rent_occ_3br',
    'est_rent_occ_4br',
    'moe_rent_occ_4br',
    'est_rent_occ_5br_plus',
    'moe_rent_occ_5br_plus'
]

# Check if the columns exist in the DataFrame
missing_columns = [col for col in numeric_columns if col not in data.columns]
if missing_columns:
    print(f"These columns are missing after renaming: {missing_columns}")
else:
    # Replace '**' and '***' with NaN to clean the data
    data.replace(['**', '***'], np.nan, inplace=True)

    # Remove any other non-numeric characters, including commas, hyphens, and plus signs
    data[numeric_columns] = data[numeric_columns].replace({',': '', '-': np.nan, r'\+': ''}, regex=True)

    # Convert the numeric columns to numeric type after cleaning
    data[numeric_columns] = data[numeric_columns].apply(pd.to_numeric, errors='raise')

# Replace all NaN values with blank (empty string) to prepare for database ingestion
data.fillna('', inplace=True)

# Dropping any columns named 'nan' (if they exist)
if 'nan' in data.columns:
    data.drop(columns=['nan'], inplace=True)

# Displaying the first few rows of the cleaned data
data.head()

Column names after renaming:
Index(['geo_id', 'block_group', 'census_tract', 'county', 'state', 'est_total',
       'moe_total', 'est_own_occ', 'moe_own_occ', 'est_own_occ_0br',
       'moe_own_occ_0br', 'est_own_occ_1br', 'moe_own_occ_1br',
       'est_own_occ_2br', 'moe_own_occ_2br', 'est_own_occ_3br',
       'moe_own_occ_3br', 'est_own_occ_4br', 'moe_own_occ_4br',
       'est_own_occ_5br_plus', 'moe_own_occ_5br_plus', 'est_rent_occ',
       'moe_rent_occ', 'est_rent_occ_0br', 'moe_rent_occ_0br',
       'est_rent_occ_1br', 'moe_rent_occ_1br', 'est_rent_occ_2br',
       'moe_rent_occ_2br', 'est_rent_occ_3br', 'moe_rent_occ_3br',
       'est_rent_occ_4br', 'moe_rent_occ_4br', 'est_rent_occ_5br_plus',
       'moe_rent_occ_5br_plus'],
      dtype='object')

,geo_id,block_group,census_tract,county,state,est_total,moe_total,est_own_occ,moe_own_occ,est_own_occ_0br,...,est_rent_occ_1br,moe_rent_occ_1br,est_rent_occ_2br,moe_rent_occ_2br,est_rent_occ_3br,moe_rent_occ_3br,est_rent_occ_4br,moe_rent_occ_4br,est_rent_occ_5br_plus,moe_rent_occ_5br_plus
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,448,79,435,79,0,...,0,12,8,8,5,9,0,12,0,12
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,516,91,453,84,0,...,0,12,44,39,19,16,0,12,0,12
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,338,58,303,58,0,...,8,6,2,3,20,15,5,7,0,12
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,315,57,259,55,0,...,25,11,16,14,8,10,7,11,0,12
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,377,79,332,76,0,...,3,5,22,26,7,7,13,14,0,12

In [9]:
data['year'] = 2020
data.head()

,geo_id,block_group,census_tract,county,state,est_total,moe_total,est_own_occ,moe_own_occ,est_own_occ_0br,...,moe_rent_occ_1br,est_rent_occ_2br,moe_rent_occ_2br,est_rent_occ_3br,moe_rent_occ_3br,est_rent_occ_4br,moe_rent_occ_4br,est_rent_occ_5br_plus,moe_rent_occ_5br_plus,year
1,1500000US290019501001,Block Group 1,Census Tract 9501,Adair County,Missouri,448,79,435,79,0,...,12,8,8,5,9,0,12,0,12,2020
2,1500000US290019501002,Block Group 2,Census Tract 9501,Adair County,Missouri,516,91,453,84,0,...,12,44,39,19,16,0,12,0,12,2020
3,1500000US290019501003,Block Group 3,Census Tract 9501,Adair County,Missouri,338,58,303,58,0,...,6,2,3,20,15,5,7,0,12,2020
4,1500000US290019502001,Block Group 1,Census Tract 9502,Adair County,Missouri,315,57,259,55,0,...,11,16,14,8,10,7,11,0,12,2020
5,1500000US290019502002,Block Group 2,Census Tract 9502,Adair County,Missouri,377,79,332,76,0,...,5,22,26,7,7,13,14,0,12,2020

In [10]:
csv_file_path = "2020_Tenure_by_Bedrooms.csv"
data.to_csv(csv_file_path, index=False)

# Provide the file link for download
csv_file_path

'2020_Tenure_by_Bedrooms.csv'